Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label binding PRs, Label calibrations PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

allow program reference in setAllocations input
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/SetAllocationsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/AllocationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setAllocations.scala
Due: Label schema PRs, Label service PRs

test case
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setAllocations.scala
Due: Label service PRs

cleanup
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
Due: Label service PRs

Add useBlindOffset and blind offsets to the target environment
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1035__blind_offset_asterism.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TargetEnvironmentInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/TargetPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/blindOffsetTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Due: Label schema PRs, Label service PRs

Make a separate service for BlindOffsets
  modules/service/src/main/resources/db/migration/V1036__blind_offset_asterism.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/BlindOffsetsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/blindOffsetTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: Label service PRs

cleanup
  modules/service/src/main/resources/db/migration/V1036__blind_offset_asterism.sql
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/TargetPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/blindOffsetTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: Label service PRs

Remove target disposition on cloneTargetInto
  modules/service/src/main/scala/lucuma/odb/service/BlindOffsetsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneTarget.scala
Due: Label service PRs

Update core for Timestamp.Max and TimestampInterval.timeSpan
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingState.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/dataset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAtomRecords.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionVisits.scala
Due: Label sequence PRs, Label service PRs

wip
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigRegistry.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigStrategy.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationConfigStrategySuite.scala
Due: Label service PRs

Reorganize docs
  ODB-README.md
  README.md
  SSO-SECURITY.md
Due: none

mmm
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: Label service PRs

tests-working
  modules/service/src/main/resources/db/migration/V1036__populate_roi_defaults.sql
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigRegistry.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
Due: Label service PRs

tests compiling
  build.sbt
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label service PRs

test
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: Label service PRs

tests working
  build.sbt
Due: none

rearrange build
  build.sbt
Due: none

we have IO tests again
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label service PRs

tests pass. stiching schema.
  .gitignore
  ITC-README.md
  README.md
  itc/schemastitcher.js
  itc/service/src/main/resources/graphql/itc.graphql
  itcStitchOdbSchema.sh
  package-lock.json
  package.json
Due: none

add itc to deploy - restore benchmarcks
  .github/workflows/ci.yml
  .mergify.yml
  ITC-README.md
  build.sbt
  itc-performance-results-20250918-155551.csv
  itc/benchmarks/src/main/scala/lucuma/itc/benchmarks/ItcBenchmarkSetup.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/CommonITCLegacySuite.scala
  itc/service/ocslib/edu-gemini-itc_2.11-2025101.1.1.jar
Due: none

reenable legacy tests
  build.sbt
Due: none

add watchOnTermination
  build.sbt
Due: none

envvar to run itc service
  build.sbt
Due: none

bbb
  modules/service/src/main/resources/db/migration/V1036__populate_roi_defaults.sql
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: Label service PRs

www
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: Label service PRs

nhtoeu
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigRegistry.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigStrategy.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationConfigStrategySuite.scala
Due: Label service PRs

uoeuaeo
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigStrategy.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationConfigStrategySuite.scala
Due: Label service PRs

tnhoeu
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigMatcher.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationConfigStrategySuite.scala
Due: Label service PRs

calibs
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigMatcher.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationConfigStrategySuite.scala
Due: Label sequence PRs, Label service PRs

Path conditions:
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
