Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Cleanup
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1314__summary_job_generation.sql
  modules/service/src/main/scala/lucuma/odb/data/SummaryGenerationState.scala
  modules/service/src/main/scala/lucuma/odb/service/PdfSummaryJobService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/regenerateProposalSummaries.scala
Due: Label schema PRs

Report proposal summary failures per partner and document the PENDING bound
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1311__summary_job_generation.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalSummaryGenerationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/SummaryFailureView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/SummaryGenerationView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/regenerateProposalSummaries.scala
Due: Label schema PRs

Register e_summary_generation_state in startup diagnostics
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
Due: none

Fix comment for SummaryGenerationView version
  modules/service/src/main/scala/lucuma/odb/graphql/table/SummaryGenerationView.scala
Due: none

Expose proposalSummaryGeneration on Program
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalSummaryGenerationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/SummaryGenerationView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/regenerateProposalSummaries.scala
Due: Label schema PRs

Update PENDING state description in OdbSchema.graphql
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

Use core ProposalSummaryGenerationState and rename PENDING to GENERATING
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1314__summary_job_generation.sql
  modules/service/src/main/scala/lucuma/odb/data/SummaryGenerationState.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/regenerateProposalSummaries.scala
Due: Label schema PRs

Report restore failures in populate-db-from-heroku.sh
  modules/CLAUDE.md
  populate-db-from-heroku.sh
Due: none

Verify every restored table and sequence against the dump
  modules/CLAUDE.md
  populate-db-from-heroku.sh
Due: none

move to skunk 2.0.0-RC3
  build.sbt
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/pdf-summary/src/main/scala/lucuma/odb/pdfsummary/Main.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbMappingValidationSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachments.scala
  modules/sso-service/src/main/scala/Main.scala
  modules/sso-service/src/test/scala/simulator/SsoSimulator.scala
  resource/service/src/main/scala/resource/server/http4s/ResourceMain.scala
Due: Label calibrations PRs, Label obscalc PRs, Label sso-service PRs

Update ocs lib with some performance updates
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.2.jar
Due: none

validate mappings only once instead of per user; on startup
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbMappingValidationSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: none

Add test to verify guide probe changes invalidate the cached guide star
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGMOS.scala
Due: none

Address review comments
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationSearchService.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationSearchServiceSuite.scala
Due: Label schema PRs

Lift the archive duplication freeze once the proposal is accepted
  CONTEXT.md
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1315__archive_duplication_unfreeze_on_acceptance.sql
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationSearchService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/refreshArchiveDuplication.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationSearchServiceSuite.scala
Due: Label schema PRs

new version of spectroscopy matrix
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Spectroscopy.tsv
Due: Label phase0 PRs

update grating and prism correctly for gnirs
  modules/service/src/main/scala/lucuma/odb/service/GnirsSpectroscopyService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GnirsLongSlit.scala
Due: none

gnirs checks
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/GnirsSpectroscopyValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_gnirs.scala
Due: Label schema PRs

improve comment from previous pr
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
Due: none

address pr comments
  modules/service/src/main/scala/lucuma/odb/data/ObservationValidationMap.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/GnirsSpectroscopyValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_gnirs.scala
Due: none

remove dead code
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsSpectroscopyInput.scala
Due: none

implement missing rules for gnirs
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/GnirsSpectroscopyValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_gnirs.scala
Due: none

fix p0 tests and parser for combined filters
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Spectroscopy.tsv
  modules/phase0/src/main/scala/lucuma/odb/phase0/GmosSpectroscopyRow.scala
  modules/phase0/src/test/scala/lucuma/odb/phase0/Phase0LoaderSuite.scala
Due: Label phase0 PRs

Bump version
  build.sbt
Due: none

Shortcut 9812: Keep the GNIRS central wavelength order and allow duplicates
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/Itc.scala
  modules/schema/src/main/scala/lucuma/odb/json/itc.scala
  modules/schema/src/test/scala/lucuma/odb/data/arb/ArbItc.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Spectroscopy.scala
  modules/service/src/main/resources/db/migration/V1315__gnirs_central_wavelength_index.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsSpectroscopyInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsSpectroscopyMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsSpectroscopyView.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorContext.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsSpectroscopyService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/TotalSignalToNoiseValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
Due: Label schema PRs, Label sequence PRs

Renumber the GNIRS central wavelength migration to V1316
  modules/service/src/main/resources/db/migration/V1316__gnirs_central_wavelength_index.sql
Due: none

Title the daytime pinhole atoms from the observation's wavelength count
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: Label sequence PRs

Name the configuration in a repeated-wavelength warning, document the cap
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/TotalSignalToNoiseValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
  modules/service/src/test/scala/lucuma/odb/service/workflow/validator/TotalSignalToNoiseValidatorSuite.scala
Due: Label schema PRs

Adapt the new GNIRS configuration checks to the ITC result list
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/GnirsSpectroscopyValidator.scala
Due: none

Number the repeated wavelength in the GNIRS configuration check messages
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/shared.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Science.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/GnirsSpectroscopyValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/TotalSignalToNoiseValidator.scala
  modules/service/src/test/scala/lucuma/odb/service/workflow/validator/GnirsWavelengthOccurrenceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/workflow/validator/TotalSignalToNoiseValidatorSuite.scala
Due: Label sequence PRs

Remove some duplication and skip a second parse of the itc payload
  itc/service/src/main/scala/lucuma/itc/legacy/LocalItc.scala
Due: none

Report errors in SchemaStitcher instead of silently swallowing them
  itc/tests/src/test/scala/lucuma/itc/service/exactConstraintsSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopySignalToNoiseSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndCountSuite.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/schema/SchemaStitcherImpl.scala
  modules/binding/src/test/scala/lucuma/odb/graphql/schema/SchemaStitcherTest.scala
Due: Label binding PRs, Label tests PRs

Update http4s-otel4s, clue and lucuma-core versions
  build.sbt
Due: none

Downgrade openTelemetry due to runtime errors.
  build.sbt
Due: none

Pin opentelemetry to the version otel4s-oteljava declares
  .github/workflows/ci.yml
  .scala-steward.conf
  ODB-README.md
  build.sbt
  project/OtelCheck.scala
Due: none

Use a fixed 20 minute time estimate for spectrophotometric standards
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/resources/db/migration/V1317__specphoto_proposal_stage_estimate.sql
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSpecPhoto.scala
Due: Label sequence PRs

Hold ITC series samples in an array
  itc/client/shared/src/main/scala/lucuma/itc/client/json/decoders.scala
  itc/model/src/main/scala/lucuma/itc/ItcGraph.scala
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
  itc/service/src/main/scala/lucuma/itc/service/redis/redis.scala
  itc/tests/src/test/scala/lucuma/itc/model/ItcSeriesSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/TargetGraphsFromLegacySuite.scala
  itc/tests/src/test/scala/lucuma/itc/tests/MockItc.scala
Due: Label client PRs, Label model PRs, Label tests PRs

change logic for first gnirs acq step, share among modes
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/imaging/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/shared.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Acquisition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirsImaging.scala
Due: Label sequence PRs

fix first step acq filter for gnirs
  build.sbt
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsAcquisitionInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsIfuInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsSpectroscopyInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsImaging.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirsImaging.scala
Due: none

fix core version
  build.sbt
Due: none
