Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17)
  actions:
    merge: {}
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

emailservice
  modules/service/src/main/scala/lucuma/odb/service/EmailService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
Due: Label service PRs

Add tests for explicit reads
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/package.scala
  modules/service/src/main/resources/db/migration/V0856__spectroscopy_matrix.sql
  modules/service/src/main/resources/db/migration/V0980__flamingos2_longslit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/F2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/F2LongSlitMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/F2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbF2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: Label schema PRs, Label sequence PRs, Label service PRs

allocationservcie
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/service/AllocationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label service PRs

AttachmentMetadataService
  modules/service/src/main/scala/lucuma/odb/service/AttachmentMetadataService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: Label service PRs

Refactor some common code
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/TimingWindowService.scala
  modules/service/src/main/scala/lucuma/odb/service/extensions.scala
Due: Label service PRs

Fix names on input
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/F2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: Label schema PRs, Label service PRs

Update libs
  build.sbt
Due: none

Scalafix
  modules/service/src/main/scala/lucuma/odb/service/TimingWindowService.scala
  modules/service/src/main/scala/lucuma/odb/service/extensions.scala
Due: Label service PRs

Fix broken test adding mapping for mode edit
  modules/service/src/main/resources/db/migration/V0980__flamingos2_longslit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
Due: Label service PRs

TimeAccountingService
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timeAccounting.scala
Due: Label service PRs

scalafix
  modules/service/src/main/scala/lucuma/odb/graphql/EmailWebhookRoutes.scala
  modules/service/src/main/scala/lucuma/odb/service/AllocationService.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentMetadataService.scala
  modules/service/src/main/scala/lucuma/odb/service/EmailService.scala
  modules/service/src/main/scala/lucuma/odb/service/EmailWebhookService.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingService.scala
Due: Label service PRs

Cleanup
  modules/service/src/main/resources/db/migration/V0980__flamingos2_longslit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/F2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbF2LongSlitInput.scala
Due: Label service PRs

Remove unnecesary joins
  modules/service/src/main/resources/db/migration/V0980__flamingos2_longslit.sql
Due: Label service PRs

Support deleting f2 long slit modes
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/Config.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObsAttachmentAssignmentService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/main/scala/lucuma/odb/service/extensions.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/F2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label sequence PRs, Label service PRs

Cleanup
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: Label service PRs

Support F2 modes editing
  modules/service/src/main/scala/lucuma/odb/graphql/input/F2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/F2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label service PRs

Support editing exisiting f2 modes
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0981__update_f2_trigger.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label schema PRs, Label service PRs

Update some libraries
  build.sbt
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label service PRs

Pass transaction implicitly
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
Due: Label service PRs

Allow clonning of f2 observations
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: Label service PRs

TimingWindowService
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/TimingWindowService.scala
Due: Label service PRs

TimeService
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeService.scala
Due: Label service PRs

SmartGcalService
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
Due: Label service PRs

SequenceService
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
Due: Label service PRs

S3FileService
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/S3FileService.scala
Due: Label service PRs
