Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17)
  actions:
    merge: {}
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

comment
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

mima
  build.sbt
Due: none

delete test
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
Due: Label service PRs

update program user uniqueness constraints
  modules/service/src/main/resources/db/migration/V0936__support_not_unique.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
Due: Label service PRs

select distinct users, since they can be duplicated
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ProgramTopic.scala
Due: Label service PRs

fix test case
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
Due: Label service PRs

Remove explicit program user id initialization
  modules/service/src/main/resources/db/migration/V0935__program_user_update.sql
Due: Label service PRs

Add id to WhereProgramUser
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programUsers.scala
Due: Label schema PRs, Label service PRs

create/update
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ConfigurationRequestPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateConfigurationRequestInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateConfigurationRequestsInput.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createConfigurationRequest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateConfigurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program_configurationRequests.scala
Due: Label schema PRs, Label service PRs

rename migration
  build.sbt
  modules/service/src/main/resources/db/migration/V9999__config_req_justification.sql
Due: Label service PRs

subscription refactor
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ConfigurationRequestTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/GroupTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObservationTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/OdbTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ProgramTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/TargetTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/TopicElement.scala
Due: Label service PRs

update deps
  build.sbt
Due: none

rename migration again
  modules/service/src/main/resources/db/migration/V0937__config_req_justification.sql
Due: Label service PRs

scalafix
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
Due: Label schema PRs

add execution event subscription
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0938__execution_event_subscription.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/ExecutionEventTypeBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ExecutionEventAddedInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventAddedMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ExecutionEventAddedPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ExecutionEventAddedTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
Due: Label schema PRs, Label service PRs

test case
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ExecutionEventAddedInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereEq.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/executionEventAdded.scala
Due: Label schema PRs, Label service PRs

array_to_string
  modules/service/src/main/resources/db/migration/V0938__execution_event_subscription.sql
Due: Label service PRs

fix test case
  modules/service/src/test/scala/lucuma/odb/graphql/query/timeAccounting.scala
Due: Label service PRs

Update libraries, remove SsoGraphQlClient
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Config.scala
  project/build.properties
  project/plugins.sbt
Due: Label service PRs

Update test case
  build.sbt
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3660.scala
Due: Label service PRs

fix query filter
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/configurationRequestEdit.scala
Due: Label service PRs

un-ignore
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/configurationRequestEdit.scala
Due: Label service PRs
