Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

renumber
  modules/service/src/main/resources/db/migration/V1258__archive_match_drop_observation_type.sql
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationService.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationServiceSuite.scala
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1263__archive_match_drop_observation_type.sql
Due: none

Cleanup
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/mos/Config.scala
  modules/service/src/main/resources/db/migration/V1262__flamingos2_mos.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2MosInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationFlamingos2MosMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2MosMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/GoaQueryPolicy.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2MosService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/logic/GoaQueryPolicySuite.scala
Due: Label sequence PRs

Use itc for f2 mos
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: none

Cover F2 MOS in the clone tests
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1264__flamingos2_mos.sql
Due: none

Classify F2 MOS as spectroscopy in GoaQueryPolicy
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2MosInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2SpectroscopyInput.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GoaQueryPolicy.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/logic/GoaQueryPolicySuite.scala
Due: none

Update binary version
  build.sbt
Due: none

Potential fix for pull request finding
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: none

Rename ItcIgrins2Spectroscopy to ItcScienceOnlySpectroscopy
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/itc.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/flamingos2Mos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
Due: Label schema PRs

Added MOS observing mode type to the schema
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/test/scala/lucuma/odb/graphql/query/flamingos2Mos.scala
Due: Label schema PRs

Generate the Flamingos 2 MOS science sequence
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/mos/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/mos/Mos.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/shared.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/spectroscopy/Science.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/flamingos2/MosLongSlitSequencesSuite.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2Mos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/flamingos2Mos.scala
Due: Label sequence PRs

Enable AGS for F2 MOS
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GuideEnvironmentSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/flamingos2Mos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentF2.scala
Due: none

Reduce logging
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/tests/src/test/scala/lucuma/itc/model/ItcSeriesSuite.scala
Due: Label tests PRs

scalafmt
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosR150BlueSuite.scala
  itc/model/src/main/scala/lucuma/itc/ItcGraph.scala
Due: Label model PRs

Trim ITC graph samples with wavelength below 0 nm instead of failing
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosR150BlueSuite.scala
  itc/model/src/main/scala/lucuma/itc/ItcGraph.scala
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  itc/tests/src/test/scala/lucuma/itc/legacy/GraphCodecSuite.scala
  itc/tests/src/test/scala/lucuma/itc/model/ItcSeriesSuite.scala
  itc/tests/src/test/scala/lucuma/itc/model/ItcXAxisSuite.scala
Due: Label model PRs, Label tests PRs

validations
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidationInfo.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/ConditionsProbabilityValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/TotalSignalToNoiseValidator.scala
Due: none

Stub Gaia in the Flamingos 2 MOS query test
  modules/service/src/test/scala/lucuma/odb/graphql/query/GaiaVoTables.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GuideEnvironmentSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/flamingos2Mos.scala
Due: none

Add context file
  .gitignore
  CONTEXT.md
Due: none

Generate the Flamingos 2 MOS acquisition
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/Flamingos2MosOffsetPresetBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/mos/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/mos/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/mos/Mos.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/spectroscopy/AcquisitionConfig.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/flamingos2/MosLongSlitSequencesSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/flamingos2/mos/AcquisitionSuite.scala
  modules/service/src/main/resources/db/migration/V1265__flamingos2_mos_acquisition.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2MosInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2MosMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2MosView.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2MosService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_Flamingos2Mos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_Flamingos2Mos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2Mos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/flamingos2Mos.scala
  modules/service/src/test/scala/lucuma/odb/logic/GoaQueryPolicySuite.scala
Due: Label binding PRs, Label schema PRs, Label sequence PRs

Stop storing the Flamingos 2 MOS offset preset
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/spectroscopy/AcquisitionConfig.scala
  modules/service/src/main/resources/db/migration/V1265__flamingos2_mos_acquisition.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2MosInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2MosMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2MosView.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2MosService.scala
  modules/service/src/main/scala/lucuma/odb/util/Flamingos2Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_Flamingos2Mos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_Flamingos2Mos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2Mos.scala
Due: Label schema PRs, Label sequence PRs

initial warnings implementation
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/service/src/main/resources/db/migration/V1248__for_review.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/ConditionsProbabilityValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/TotalSignalToNoiseValidator.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_warnings.scala
Due: Label schema PRs

fix some tests
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createConfigurationRequest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configuration.scala
Due: none

cleanup
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/ConditionsProbabilityValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/UpdateObservationsOps.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_warnings.scala
Due: none

cleanup
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_warnings.scala
Due: none

tests, rename
  modules/service/src/main/resources/db/migration/V1266__for_review.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
Due: none

Trigger update
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/WhereOrder.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1266__too_trigger_superseded.sql
  modules/service/src/main/resources/db/migration/V1267__too_trigger_activation.sql
  modules/service/src/main/resources/db/migration/V1268__too_trigger_ceiling_withdraw.sql
  modules/service/src/main/scala/lucuma/odb/data/TooTriggerStatus.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TooTriggerEditInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereTooTrigger.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereTooTriggerChronicleEntry.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TooTriggerChronicleEntryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TooTriggerMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/TooTriggerPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ChronTooTriggerUpdateTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/TooTriggerTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/TooTriggerTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TooTriggerSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/tooActivationCeiling.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/tooTriggerActivation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/tooTriggerWorkflow.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/tooTriggerEdit.scala
  notes/too-scheduling-overview.md
Due: Label binding PRs, Label schema PRs

update core
  build.sbt
Due: none

fix typos
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/ConditionsProbabilityValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/TotalSignalToNoiseValidator.scala
Due: none

fix typos
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_warnings.scala
Due: none

Derive the GNIRS acquisition S/N from the brightness classification
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/AcquisitionConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/shared.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gnirs/imaging/ConfigSuite.scala
  modules/service/src/main/resources/db/migration/V1269__gnirs_acquisition_auto_signal_to_noise.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsAcquisitionInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsSpectroscopyMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ExposureTimeModeView.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ExposureTimeModeService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsSpectroscopyService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsImaging.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GnirsImaging.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirsDerivedSignalToNoise.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirsImaging.scala
Due: Label schema PRs, Label sequence PRs

Add github-cli to flake.nix
  flake.nix
Due: none

Remove redundant observation reference index
  modules/service/src/main/resources/db/migration/V1270__observation_reference_plain_index.sql
Due: none

Add definition in the schema to store mask metadata taken from the udf files
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/MaskDefinition.scala
  modules/schema/src/main/scala/lucuma/odb/json/maskdefinition.scala
  modules/service/src/main/resources/db/migration/V1256__mask_definition.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AttachmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AttachmentTable.scala
  modules/service/src/test/resources/n159_ODF.fits
  modules/service/src/test/resources/ngc7796_ODF.fits
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuiteWithS3.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/AttachmentsSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/maskDefinition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/obsAttachmentsAssignments.scala
Due: Label schema PRs

When a mask is uploaded parse it and store the metadata
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1262__mask_definition.sql
Due: none

Include dispersion direction in the schema, inferred from the instrument
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/MaskDefinition.scala
  modules/schema/src/main/scala/lucuma/odb/json/maskdefinition.scala
  modules/service/src/main/resources/db/migration/V1265__mask_definition.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/maskDefinition.scala
Due: Label schema PRs

Better documentation about the angles for the masks
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/MaskDefinition.scala
  modules/schema/src/main/scala/lucuma/odb/json/maskdefinition.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
Due: Label schema PRs

scalafix
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/AttachmentsSuite.scala
Due: none

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
