Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label binding PRs, Label calibrations PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

flux densities can be 0 or negative
  .github/workflows/ci.yml
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sourceprofile.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/FluxDensityInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  project/plugins.sbt
Due: Label schema PRs, Label service PRs

Add useBlindOffset and blind offsets to the target environment
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1035__blind_offset_asterism.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TargetEnvironmentInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/TargetPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/blindOffsetTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Due: Label schema PRs, Label service PRs

w1
  modules/service/src/main/scala/lucuma/odb/graphql/input/TargetEnvironmentInput.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label service PRs

Make a separate service for BlindOffsets
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/BlindOffsetsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
Due: Label service PRs

www
  modules/service/src/main/resources/db/migration/V1035__blind_offset_asterism.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/blindOffsetTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: Label service PRs

ntouehnthuo
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
Due: Label service PRs

ntheouou
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
Due: Label service PRs

ewew
  modules/service/src/main/scala/lucuma/odb/service/BlindOffsetsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
Due: Label service PRs

abcd
  modules/service/src/main/resources/db/migration/V1035__blind_offset_asterism.sql
Due: Label service PRs

ddd
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneTarget.scala
Due: Label service PRs

infer atom execution state
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
Due: Label service PRs

allow program reference in setAllocations input
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/SetAllocationsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/AllocationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setAllocations.scala
Due: Label schema PRs, Label service PRs

cleanup
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
Due: Label service PRs

test case
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setAllocations.scala
Due: Label service PRs

rejigger transactions
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

adjustment
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
Due: Label service PRs

fix
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
Due: Label service PRs

cleanup
  modules/sequence/src/main/scala/lucuma/odb/data/StepExecutionState.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
Due: Label sequence PRs, Label service PRs

test
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6589.scala
Due: Label service PRs

Update schema to be consistent with FluxDensity
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

Update coulomb
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/sourceprofile.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/TestItcClient.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/LineWidthInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/UnnormalizedSedInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/sso-service/src/test/scala/ApiKeySuite.scala
  modules/sso-service/src/test/scala/SsoClientSuite.scala
Due: Label schema PRs, Label sequence PRs, Label service PRs

Ignore duplicate client id.
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addAtomEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addDatasetEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSequenceEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSlewEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addStepEvent.scala
Due: Label service PRs

deprecate abandoned atoms
  modules/sequence/src/main/scala/lucuma/odb/data/StepExecutionState.scala
  modules/service/src/main/resources/db/migration/V1035__no_abandoned_atoms.sql
  modules/service/src/main/scala/lucuma/odb/data/AtomExecutionState.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addAtomEvent.scala
Due: Label sequence PRs, Label service PRs

test cases
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSequenceEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addStepEvent.scala
Due: Label service PRs

rejigger
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
Due: Label service PRs

rebased
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
Due: Label service PRs

Remove duplicated event error
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/schema/src/test/scala/lucuma/odb/data/OdbErrorSuite.scala
Due: Label schema PRs

mima
  build.sbt
Due: none
