Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Suggested PR comment fx
  modules/service/src/main/scala/lucuma/odb/service/CalibrationCalcDaemon.scala
Due: none

Add durable calibration recalculation queue with startup reconciliation
  modules/calibrations/calibration-generation-flow.md
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/obscalc-flow.md
  modules/service/src/main/resources/db/migration/V1294__calibration_calc.sql
  modules/service/src/main/scala/lucuma/odb/data/PendingRecalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/CalibrationCalcTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationCalcDaemon.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationCalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationCalcServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationCalcServiceSuiteSupport.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationCalcTriggerSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationReconciliationSuite.scala
Due: Label calibrations PRs, Label obscalc PRs

renumber
  modules/service/src/main/resources/db/migration/V1295__calibration_calc.sql
Due: none

Improved telluric selection
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
  modules/service/src/test/scala/lucuma/odb/service/SelectSingleByLstRuleSuite.scala
Due: none

Use preset for mos offsets defined on lucuma-core
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/spectroscopy/package.scala
Due: Label sequence PRs

Separate worker parallelism from poll batch size
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationCalcDaemon.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsDaemon.scala
Due: Label calibrations PRs, Label obscalc PRs

Tag database connections with application_name
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
Due: Label calibrations PRs, Label obscalc PRs

Derive obscalc worker parallelism from the pool as well
  modules/obscalc/obscalc-flow.md
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/Config.scala
Due: Label obscalc PRs

Invalidate single-telluric selection when the observation time changes
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
  modules/service/src/test/scala/lucuma/odb/service/SelectSingleByLstRuleSuite.scala
Due: none

Add program status enum, editable by staff.
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/ProgramStatusBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1296__program_status.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramView.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updatePrograms.scala
Due: Label binding PRs, Label schema PRs

distinct gnirs configuration requests
  modules/service/src/main/resources/db/migration/V1297__config_request_unique_gnirs.sql
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_GnirsUniqueness.scala
Due: none

Reconcile proposal submission validation with Explore
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/goaAccessQuery.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/1237.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4460.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordDataset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/refreshArchiveDuplication.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setAllocations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatusEmails.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/asterismGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/constraintSetGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_tellurics.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_viistors.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_warnings.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/targetGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/obscalcUpdate.scala
Due: none

handle GMOS IFU observing modes across the service layer
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorError.scala
  modules/service/src/main/scala/lucuma/odb/logic/GoaQueryPolicy.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigMatcher.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: Label schema PRs

checkpoint commit
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/ifu/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/spectroscopy/Config.scala
  modules/service/src/main/resources/db/migration/V1280__gmos_ifu_mode_type.sql
  modules/service/src/main/resources/db/migration/V1281__gmos_ifu.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/util/GmosCodecs.scala
Due: Label sequence PRs

gmos ifu observing mode
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/ifu/AcquisitionConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/ifu/Config.scala
Due: Label sequence PRs

rebase
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
Due: Label schema PRs

accept both gmos ifu slits
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/ifu/Config.scala
  modules/service/src/main/resources/db/migration/V1281__gmos_ifu.sql
Due: Label sequence PRs

renumber migration
  modules/service/src/main/resources/db/migration/V1296__gmos_ifu.sql
Due: none

fix migration
  modules/service/src/main/resources/db/migration/V1292__gmos_ifu.sql
Due: none

gmos ifu observing mode
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GmosIfuFpuBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1280__gmos_ifu_mode_type.sql
  modules/service/src/main/resources/db/migration/V1292__gmos_ifu.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosIfuAnalysisInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosIfuInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosIfuMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosIfuView.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosIfuService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosIfu.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: Label binding PRs, Label schema PRs

checkpoint
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/ifu/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/spectroscopy/Config.scala
Due: Label sequence PRs

add acq roi to gmos config
  build.sbt
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GmosIfuAcquisitionRoiBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/ifu/AcquisitionConfig.scala
  modules/service/src/main/resources/db/migration/V1297__gmos_ifu.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosIfuInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosIfuMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosIfuView.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosIfuService.scala
  modules/service/src/main/scala/lucuma/odb/util/GmosCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosIfu.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GmosIfuAcquisition.scala
Due: Label binding PRs, Label schema PRs, Label sequence PRs

fix core version
  build.sbt
Due: none

acq+science seq generation for gmos ifu
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/ifu/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/ifu/Ifu.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorError.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorthIfu.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosSouthIfu.scala
Due: Label sequence PRs

enable gmos ifu in phase0
  modules/phase0/src/main/scala/lucuma/odb/phase0/FileReader.scala
  modules/phase0/src/test/scala/lucuma/odb/phase0/Phase0LoaderSuite.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/ifu/Config.scala
  modules/service/src/main/scala/db/migration/R__Phase0.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GmosIfu.scala
Due: Label phase0 PRs, Label sequence PRs

gmos ifu configurations
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationGmosIfuMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ConfigurationRequestView.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/unimplemented.scala
Due: Label schema PRs

rois and exp time cap on gmos ifu acq sequence
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/ifu/Acquisition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosIfu.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosIfuReadMode.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorthIfu.scala
Due: Label sequence PRs

clarify comments
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/ifu/Acquisition.scala
Due: Label sequence PRs

add missing enum instances to schema
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

unique configuration requests
  modules/service/src/main/resources/db/migration/V1297__config_request_unique_key.sql
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_UniquenessKey.scala
Due: none

scalafix
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_UniquenessKey.scala
Due: none

rebase atop gmos ifu branch, contemplate its configrations
  modules/service/src/main/resources/db/migration/V1298__config_request_unique_key.sql
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_UniquenessKey.scala
Due: none

checkpoint
  modules/service/src/main/resources/db/migration/V1298__config_request_unique_key.sql
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_UniquenessKey.scala
Due: none

renumber migration
  modules/service/src/main/resources/db/migration/V1298__config_request_unique_key.sql
Due: none

leave filters out of uniqueness in gmos imaging conf requests
  modules/CLAUDE.md
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_UniquenessKey.scala
Due: none

add test per pr comment
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_UniquenessKey.scala
Due: none

gmos ifu specphoto and twilight calibrations
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigMatcher.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
Due: none

removew for_review
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1299__undo_for_review.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_warnings.scala
  modules/service/src/test/scala/lucuma/odb/service/TelluricTargetsServiceSuite.scala
Due: Label schema PRs

typo
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
Due: none

Allow skipping telluric generation via TelluricType.NoTelluric
  CONTEXT.md
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/tellurictype.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/TelluricTypeBinding.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/package.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label schema PRs

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
