Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

fix decoding error
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4822.scala
Due: Label service PRs

rename, index
  modules/service/src/main/resources/db/migration/V0953__program_active_period.sql
Due: Label service PRs

Restrict WhereProgramUser to PI
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgram.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
Due: Label service PRs

comment
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
Due: Label service PRs

refectoring
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/syntax/observationWorkflowState.scala
Due: Label service PRs

asterism update tests
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
Due: Label service PRs

fix test, start on guide target name
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setGuideTargetName.scala
Due: Label service PRs

guide target name
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
Due: Label service PRs

pos angle
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
Due: Label service PRs

pos angle
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
Due: Label service PRs

cleanup
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
Due: Label schema PRs, Label service PRs

Select the highest priority (lowest ordinal) band.
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
Due: Label service PRs

updateTargets
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
Due: Label service PRs

scalafix
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
Due: Label service PRs

Dataset isWritten
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereDataset.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/dataset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/datasets.scala
Due: Label schema PRs, Label service PRs

subscription
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0954__dataset_event.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/DatasetEditInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereBoolean.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/DatasetTopic.scala
Due: Label schema PRs, Label service PRs

comment
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0954__dataset_event.sql
Due: Label schema PRs, Label service PRs

test / debug
  modules/service/src/main/resources/db/migration/V0954__dataset_event.sql
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/DatasetEditPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/DatasetTopic.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/datasetEdit.scala
Due: Label service PRs

Update libraries
  .scalafmt.conf
  build.sbt
Due: none

downgrade http4s
  build.sbt
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label service PRs

Path conditions:
  Label calibrations PRs: any of: ^modules/calibrations/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
