Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17)
  actions:
    merge: {}
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

Bump Scala version
  build.sbt
Due: none

Workaround scalafix bug
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingState.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/FileReader.scala
Due: Label service PRs, Label smartgcal PRs

Library Updates
  build.sbt
Due: none

Switch to Order[BandedTime]
  modules/schema/src/main/scala/lucuma/odb/data/BandedTime.scala
Due: Label schema PRs

Time accounting by band
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/BandedTime.scala
  modules/schema/src/main/scala/lucuma/odb/json/timeaccounting.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TimeChargeCorrectionInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timeAccounting.scala
Due: Label schema PRs, Label service PRs

core adjustments
  modules/schema/src/main/scala/lucuma/odb/data/BandedTime.scala
  modules/schema/src/main/scala/lucuma/odb/json/timeaccounting.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timeAccounting.scala
Due: Label schema PRs, Label sequence PRs, Label service PRs

Update to grackle-22
  build.sbt
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramReferenceMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalTypeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepConfigMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeChargeDiscountMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimingWindowMappings.scala
Due: Label service PRs

GoaProperties
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0921__goa_properties.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateProgramInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GoaPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateProgramsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GoaPropertiesMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updatePrograms.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/targets.scala
Due: Label schema PRs, Label service PRs

mima
  build.sbt
Due: none

Switch to UserInvitation.Id in OdbError.InvitationError
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/schema/src/test/scala/lucuma/odb/data/OdbErrorSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
Due: Label schema PRs, Label service PRs

Support Twilight Calibration Observation Sequence
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
Due: Label sequence PRs, Label service PRs

qip
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/data/ConfigurationRequest.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ConfigurationRequestPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateConfigurationRequestsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereConfigurationRequest.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationRequestMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UpdateConfigurationRequestsResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateConfigurationRequests.scala
Due: Label schema PRs, Label service PRs

tests
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateConfigurationRequests.scala
Due: Label service PRs

tests
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ConfigurationRequestPredicates.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateConfigurationRequests.scala
Due: Label service PRs

scalafix
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateConfigurationRequests.scala
Due: Label service PRs

typo
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
Due: Label service PRs

whitespace
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
Due: Label service PRs

config req events
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0923__configuration_request_event.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ConfigurationRequestEditInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationRequestEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ConfigurationRequestTopic.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/configurationRequestEdit.scala
Due: Label schema PRs, Label service PRs

Deferred target errors
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
Due: Label sequence PRs, Label service PRs

fix tests
  modules/service/src/main/scala/lucuma/odb/data/ObservationValidationMap.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observationValidations.scala
Due: Label service PRs
