Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

gnirs calibrations
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1169__gnirs_longslit_telluric_type.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigMatcher.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
Due: Label schema PRs, Label sequence PRs

Flamingos2 imaging uses offset generators like gmos
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1170__flamingos2_imaging_offset_generator.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2ImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2ImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OffsetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TelescopeConfigGeneratorMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2ImagingView.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2ImagingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_Flamingos2Imaging.scala
Due: Label schema PRs

Generalize imaging variant types across GMOS and Flamingos2
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/ImagingVariantType.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Imaging.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/imaging/Variant.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/imaging/ConfigSuite.scala
  modules/service/src/main/resources/db/migration/V1169__imaging_variant_enum.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ImagingVariantInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosImagingView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/TelescopeConfigGeneratorService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/main/scala/lucuma/odb/util/GmosCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosImagingInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbImagingVariantInput.scala
Due: Label schema PRs, Label sequence PRs

Replace ImagingVariantType
  modules/schema/src/main/scala/lucuma/odb/data/ImagingVariantType.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Imaging.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/imaging/Variant.scala
  modules/service/src/main/resources/db/migration/V1171__imaging_variant_enum.sql
  modules/service/src/main/resources/db/migration/V1172__flamingos2_imaging_offset_generator.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ImagingVariantInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/TelescopeConfigGeneratorService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: Label schema PRs, Label sequence PRs

Renumber migrations
  modules/service/src/main/resources/db/migration/V1172__imaging_variant_enum.sql
  modules/service/src/main/resources/db/migration/V1173__flamingos2_imaging_offset_generator.sql
Due: none

Fix error assigning NGO role
  modules/sso-service/src/test/scala/GraphQLSuite.scala
Due: Label sso-service PRs

Revert "Fix error assigning NGO role"
  modules/sso-service/src/test/scala/GraphQLSuite.scala
Due: Label sso-service PRs

Update skunk to v1
  build.sbt
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/otel/src/main/scala/lucuma/otel/OtelSetup.scala
  modules/service/src/main/scala/db/migration/Phase0Table.scala
  modules/service/src/main/scala/db/migration/SmartGcalLoader.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachments.scala
  modules/sso-service/src/main/scala/Main.scala
  modules/sso-service/src/test/scala/simulator/SsoSimulator.scala
  resource/service/src/main/scala/resource/server/http4s/ResourceMain.scala
  resource/service/src/test/scala/lucuma/resource/test/ServerFixtures.scala
Due: Label calibrations PRs, Label obscalc PRs, Label sso-service PRs

Bump tlBaseVersion
  build.sbt
Due: none

Add clonning tests
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: none

Add support to clone Flamingos2 imaging observations
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2ImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
Due: none

Updated to use offset generators
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2ImagingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: none

Fix error assigning NGO role, take 2
  modules/sso-service/src/main/scala/graphql/SsoMapping.scala
  modules/sso-service/src/test/scala/GraphQLSuite.scala
Due: Label sso-service PRs

Unsplittable generation
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/StreamingExecutionConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/UnsplittableAtom.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/resources/db/migration/V1174__scheduling.sql
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorthImaging.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciIgrins2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci_TooLongToBeUnsplittable.scala
Due: Label sequence PRs

Fix migration shell scripts to handle spaces in file names
  docker-init/02-migrate-sso.sh
  docker-init/03-migrate-odb.sh
Due: none

copilot suggestions
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/StreamingExecutionConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/UnsplittableAtom.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci_TooLongToBeUnsplittable.scala
Due: Label sequence PRs

Add cassRotator field to the target enviroment
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/cassRotator.scala
Due: Label schema PRs

unsplittable, no hyphen
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceGmosNorthSequence.scala
Due: none

Unsplittable observation manual sequence edit
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceGmosNorthSequence.scala
Due: none

Prevent setting isSplittable for invalid materialized sequence
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/extensions.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceGmosNorthSequence.scala
Due: none

update p0 spectroscopy matrix
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Spectroscopy.tsv
Due: Label phase0 PRs

gnirs inline callibrations with smart gcal port
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Science.scala
  modules/service/src/main/resources/db/migration/V1175__smart_gcal_gnirs.sql
  modules/service/src/main/scala/db/migration/R__SmartGnirs.scala
  modules/service/src/main/scala/db/migration/SmartGnirsLoader.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/logic/SmartGcalImplementation.scala
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
  modules/service/src/main/scala/lucuma/odb/util/GnirsCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
  modules/smartgcal/src/main/resources/smartgcal/GNIRS_ARC.csv
  modules/smartgcal/src/main/resources/smartgcal/GNIRS_FLAT.csv
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/FileReader.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/data/Gnirs.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/gnirs.scala
  modules/smartgcal/src/test/scala/lucuma/odb/smartgcal/FileReaderSuite.scala
Due: Label sequence PRs, Label smartgcal PRs

max science betwen inline callibs for gnirs changed to 3 hours
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Science.scala
Due: Label sequence PRs

Estimate setup cost
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest_setupCount.scala
Due: none

update resetWhenVariantNotMatching to take modeTableName
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/TelescopeConfigGeneratorService.scala
Due: none

Add F2 imaging to ObservingModeServices
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
Due: none

Add update functions to F2 imaging service
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2ImagingService.scala
Due: none

Extract common utilities for both F2 and gmos imaging services
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2ImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/ImagingStatements.scala
Due: none

Add F2 imaging update tests
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_Flamingos2Imaging.scala
Due: none

Extract common clone methods.
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2ImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/ImagingStatements.scala
Due: none

Add support to clone Flamingos2 imaging observations
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2ImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: none

Set matrix fail fast to false
  .github/workflows/ci.yml
  build.sbt
Due: none

Share variant columns across f2 and gmos imaging
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2ImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/ImagingStatements.scala
Due: none

propagate MUNIT_FLAKY_OK to build
  .github/workflows/ci.yml
  build.sbt
Due: none

Add placeholder for guide service
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2Imaging.scala
Due: none

Add base test for F2 sequences
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2Imaging.scala
Due: none

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
