Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17)
  actions:
    merge: {}
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

merge w/main
  modules/service/src/main/resources/db/migration/V0912__observation_reference_date.sql
  modules/service/src/main/resources/db/migration/V0913__configuration_requests.sql
Due: Label service PRs

validation
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observationValidations.scala
Due: Label service PRs

scalafix
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label service PRs

add 'for review' bit
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0913__for_review.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label schema PRs, Label service PRs

rename
  modules/service/src/main/resources/db/migration/V0914__for_review.sql
Due: Label service PRs

Adjust search for twilight calibrations location
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
Due: Label service PRs

Improve the calculation of twilight targets
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: Label service PRs

split support roles
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0915__secondary_support.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateUserInvitationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/LinkUserInput.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/unlinkUser.scala
Due: Label schema PRs, Label service PRs

core version
  build.sbt
Due: none

bump sso
  build.sbt
Due: none

bump itc
  build.sbt
Due: none

unbump sso
  build.sbt
Due: none

rebump itc
  build.sbt
Due: none

bump catalog
  build.sbt
Due: none

scalafix
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
Due: Label service PRs

logging
  modules/service/src/main/resources/logback.xml
  modules/service/src/main/scala/lucuma/odb/Main.scala
Due: Label service PRs

scalafix
  modules/service/src/main/scala/lucuma/odb/Main.scala
Due: Label service PRs

hack
  modules/service/src/main/scala/lucuma/odb/Main.scala
Due: Label service PRs

Test case to showcase sc-3062
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/307.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/1939.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3062.scala
Due: Label service PRs
