Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Run scalafix
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: Label service PRs

Add calibration time change and adjust the target when it changes
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/service/src/main/resources/db/migration/V0905__obs_time_channel.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationTimesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/CalibTimeTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObservationTopic.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: Label calibrations PRs, Label service PRs

Don't use v_generator_params to read obs_mode
  modules/service/src/main/resources/db/migration/V0905__obs_time_channel.sql
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
Due: Label service PRs

Remove unnecessary time calculation
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
Due: Label calibrations PRs

Add test to check for deleted observationEdit events
  modules/service/src/main/resources/db/migration/V0906__delete_observations_trigger.sql
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
Due: Label service PRs

test case + core update
  build.sbt
  modules/service/src/main/scala/lucuma/odb/graphql/input/CoordinateLimitsInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createCallForProposals.scala
Due: Label service PRs

Add EducationalStatus to ProgramUsers
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/EducationalStatus.scala
  modules/service/src/main/resources/db/migration/V0906__educational_status.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/EducationalStatusBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramUser.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramUserTable.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programUsers.scala
Due: Label schema PRs, Label service PRs

programUsers test
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
Due: Label service PRs

Support updating educational state
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
Due: Label schema PRs, Label service PRs

Library Update Bundle
  .scalafmt.conf
  build.sbt
  project/plugins.sbt
Due: none

Add support to read thesis
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0906__educational_status.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramUserTable.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programUsers.scala
Due: Label schema PRs, Label service PRs

hack
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
Due: Label service PRs

Support writing thesis
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereOptionBoolean.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramUser.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programUsers.scala
Due: Label schema PRs, Label service PRs

Fix some tests
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: Label service PRs

Update scala to 3.5.0
  build.sbt
  modules/phase0/src/main/scala/lucuma/odb/phase0/GmosSpectroscopyRow.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/SpectroscopyRow.scala
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/ScienceAtomSequenceState.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CoordinatesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SiteCoordinateLimitsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereBoolean.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereOptionBoolean.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetGroupMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/email/emailWebhookRoutes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/1023.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2887.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3219.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSequenceEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservationsTimes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionNighttimeArcs.scala
  modules/smartgcal/src/test/scala/lucuma/odb/smartgcal/FileReaderSuite.scala
Due: Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Cleanup
  modules/service/src/main/resources/db/migration/V0906__delete_observations_trigger.sql
  modules/service/src/main/resources/db/migration/V0907__delete_observations_trigger.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
Due: Label service PRs

Updates according to PR comments
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label schema PRs, Label service PRs

Rename EditType to DeleteCal
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0907__delete_observations_trigger.sql
  modules/service/src/main/scala/lucuma/odb/data/EditType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
Due: Label schema PRs, Label service PRs

Don't need to pass a different value on the notification
  modules/service/src/main/resources/db/migration/V0907__delete_observations_trigger.sql
  modules/service/src/main/scala/lucuma/odb/data/EditType.scala
Due: Label service PRs

Fix best calibration target selection
  .graphqlrc
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: Label service PRs

Reformat
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: Label service PRs

Path conditions:
  Label calibrations PRs: any of: ^modules/calibrations/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
