Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label binding PRs, Label calibrations PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

json codec
  modules/schema/src/main/scala/lucuma/odb/json/arc.scala
Due: Label schema PRs

update core
  build.sbt
Due: none

rename
  modules/service/src/main/resources/db/migration/V1001__opportunity_target.sql
Due: Label service PRs

rename
  modules/service/src/main/resources/db/migration/V1002__opportunity_target.sql
Due: Label service PRs

rename
  modules/service/src/main/resources/db/migration/V1003__opportunity_target.sql
Due: Label service PRs

Add F2 centralWavelength
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/flamingos2.scala
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/schema/src/test/scala/lucuma/odb/json/Flamingos2Suite.scala
  modules/service/src/main/resources/db/migration/V1003__f2_central_wavelength.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2DynamicMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2DynamicView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
Due: Label schema PRs, Label service PRs

version
  build.sbt
Due: none

version bumps
  build.sbt
Due: none

Add imaging ObservingMode
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Config.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Due: Label sequence PRs, Label service PRs

default binning for imaging is 2
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosImagingMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: Label schema PRs, Label service PRs

Add proper binning calculation
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Config.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/imaging/ConfigSuite.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/GmosImagingInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosImagingInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label sequence PRs, Label service PRs

Update libraries and adjust select query
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/imaging/ConfigSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
Due: Label sequence PRs, Label service PRs

Add spatial offsets
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/format/SpatialOffsetsFormat.scala
  modules/schema/src/test/scala/lucuma/odb/format/SpatialOffsetsFormatSuite.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Config.scala
  modules/service/src/main/resources/db/migration/V1004__gmos_imaging_spatial_offsets.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosImagingView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/GmosImagingInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosImagingInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: Label schema PRs, Label sequence PRs, Label service PRs

Cleanup
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: Label service PRs

Rename column names in imaging to match long slit
  modules/service/src/main/resources/db/migration/V1004__gmos_imaging_spatial_offsets.sql
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosImagingView.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
Due: Label service PRs

Add support for one dimensional offsets for f2 longslit
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1005__flamingos2_spatial_offsets.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbFlamingos2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label schema PRs, Label service PRs

Debugging and an update to main
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
Due: Label obscalc PRs, Label service PRs

JAVA_OPTS
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
Due: Label obscalc PRs

Add f2 default offsets
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Config.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label sequence PRs, Label service PRs

remove inner
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/AtomBuilder.scala
Due: Label sequence PRs
