Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17)
  actions:
    merge: {}
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

track visits
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/VisitRecord.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/stream.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcq.scala
Due: Label sequence PRs, Label service PRs

fix spec phot
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSpecPhot.scala
Due: Label sequence PRs, Label service PRs

switchover
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/Generator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/Generator2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/CalLocation.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/Completion.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/IdBase.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ProtoExecutionConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/exposureTime.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/default.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/PureLongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/ScienceAtom.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/ScienceAtomSequenceState.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/SpectroPhotometric.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/StepOrder.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/SequenceIds.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/Science2Suite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/ScienceSuite.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculator.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
Due: Label sequence PRs, Label service PRs

spec phot
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/StepRecord.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science2.scala
Due: Label sequence PRs

program planned time
  modules/service/src/test/scala/lucuma/odb/graphql/query/programPlannedTime.scala
Due: Label service PRs

planned time
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionPlannedTime.scala
Due: Label service PRs

explicit wavelength dither
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
Due: Label service PRs

use the view
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/StepRecordView.scala
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
Due: Label service PRs

Handle duplicate wavelength dithers and spatial offsets
  modules/sequence/src/main/scala/lucuma/odb/sequence/SmartGcalExpander.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/ScienceSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
Due: Label sequence PRs, Label service PRs

renumber migration
  modules/service/src/main/resources/db/migration/V0917__step_record_update.sql
Due: Label service PRs

digest
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
Due: Label service PRs

remove stepCount
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0916__step_record_update.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordAtomInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AtomRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AtomRecordTable.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordAtom.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcq.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAtomRecords.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
Due: Label schema PRs, Label service PRs

remove unused smartgcal expander method
  modules/sequence/src/main/scala/lucuma/odb/sequence/SmartGcalExpander.scala
  modules/service/src/main/scala/lucuma/odb/logic/SmartGcalImplementation.scala
Due: Label sequence PRs, Label service PRs

move test
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
Due: Label service PRs

remove duplicate test
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
Due: Label service PRs

explicit spatial offsets
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
Due: Label service PRs

rename
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
Due: Label sequence PRs

testing, bug fixes
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
Due: Label sequence PRs, Label service PRs

Renumber migration
  modules/service/src/main/resources/db/migration/V0916__dataset_qa_state.sql
Due: Label service PRs

doc
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/SmartGcalExpander.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/IndexTracker.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/stream.scala
Due: Label sequence PRs

Move time estimation into low-level generator
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/TimeEstimateCalculator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/StepRecord.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/AtomBuilder.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GroupMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/ConfigChangeEstimator.scala
  modules/service/src/main/scala/lucuma/odb/logic/EstimatorState.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
Due: Label sequence PRs, Label service PRs

testing
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3219.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
  modules/service/src/test/scala/lucuma/odb/testsyntax/execution.scala
Due: Label sequence PRs, Label service PRs
