Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label binding PRs, Label calibrations PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

streaming atom digest http route
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/SchedulerRoutes.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/scheduler/SchedulerRoutesSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/scheduler/schedulerRoutes.scala
Due: Label service PRs

Add MultipleFiltersMode to the gmos imaging observing modes
  build.sbt
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/MultipleFiltersModeBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Config.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/imaging/ConfigSuite.scala
  modules/service/src/main/resources/db/migration/V1011__multiple_filters_mode.sql
  modules/service/src/main/resources/db/migration/V1012__multiple_filters_mode_2.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosImagingView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/GmosImagingInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosImagingInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label binding PRs, Label schema PRs, Label sequence PRs, Label service PRs

compression
  modules/service/src/main/scala/lucuma/odb/graphql/SchedulerRoutes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/scheduler/SchedulerRoutesSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/scheduler/schedulerRoutes.scala
Due: Label service PRs

Test valid observations
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/scheduler/SchedulerRoutesSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/scheduler/schedulerRoutes.scala
Due: Label service PRs

Remove unused deprecated fields
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordAtomInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RightAscensionInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GroupEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RightAscensionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeChargeDiscountMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/1939.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/groupEdit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/programEdit.scala
Due: Label schema PRs, Label service PRs

On creation set px/rv/pm to 0 if not defined
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: Label service PRs

Replace digest mapping with calculatedDigest
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2887.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5017.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5098.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEditOnCachedResultUpdate.scala
Due: Label schema PRs, Label service PRs

Fix test case
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEditOnCachedResultUpdate.scala
Due: Label service PRs

Update itc to the latest client
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: Label service PRs

partial update, get old stuff working with schema and model changes
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CoordinatesMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DeclinationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RegionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RightAscensionMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createConfigurationRequest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configuration.scala
Due: Label schema PRs, Label service PRs

partial update, get old stuff working with schema and model changes
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configuration.scala
Due: Label service PRs

Remove Execution.atomDigests
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/atomDigests.scala
Due: Label schema PRs, Label service PRs

version
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AtomDigestMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedAtomDigestsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CategorizedTimeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AtomDigestTable.scala
Due: Label schema PRs, Label service PRs

expose region on obs config
  modules/schema/src/main/scala/lucuma/odb/json/arc.scala
  modules/schema/src/main/scala/lucuma/odb/json/region.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationTargetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CoordinatesMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RegionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configuration.scala
Due: Label schema PRs, Label service PRs

rebased
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth.scala
Due: Label service PRs

Move generation to Query
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqFlamingos2_WithSkySubtraction.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqFlamingos2_WithoutSkySubtraction.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2_20x5min.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2_4x23min.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2_4x5min.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth.scala
Due: Label schema PRs, Label service PRs

Remove observationsByWorkflowState
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observationsByWorkflowState.scala
Due: Label schema PRs, Label service PRs

Update smart gcal tables
  modules/smartgcal/src/main/resources/smartgcal/GMOS-N_ARC.csv
  modules/smartgcal/src/main/resources/smartgcal/GMOS-N_FLAT.csv
  modules/smartgcal/src/main/resources/smartgcal/GMOS-S_FLAT.csv
Due: Label smartgcal PRs

calculatedWorkflow to workflow
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4457.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5017.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5098.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: Label schema PRs, Label service PRs

pos int
  build.sbt
  modules/service/src/main/resources/db/migration/V1013__etm_count_constraint.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ExposureTimeModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label service PRs

Path conditions:
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
