Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

load gnirs daytime pinhole flats into smart gcal
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/gnirs.scala
Due: Label smartgcal PRs

tolerate no targets when generating daytime pinhole sequences
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

Update redis lib
  build.sbt
  itc/tests/src/test/scala/lucuma/itc/tests/NoOpRedis.scala
Due: Label tests PRs

Rename ProposalType -> GeminiProposalType
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GeminiProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GeminiProposalTypeMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
Due: Label schema PRs

remove duplicate classes by itcclient depending on schemas
  build.sbt
  itc/client/shared/src/main/scala/lucuma/itc/client/gmoscodec.scala
  itc/client/shared/src/main/scala/lucuma/itc/client/json/wavelength.scala
Due: Label client PRs

bump base version
  build.sbt
Due: none

Fix SED-type switching on Gaussian source profiles
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/GaussianInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/SourceProfileInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/SpectralDefinitionInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
Due: none

return empty guidingEnvironment for twilights and pinholes
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: none

add tests, fix typo
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGMOS.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGnirs.scala
Due: none

fix smart gcal steps read mode in gnirs
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
Due: Label sequence PRs

support coadds in itc
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsImgExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsImgSignalToNoiseSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecSignalToNoiseSuite.scala
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/scala/lucuma/itc/input/GnirsImagingInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GnirsSpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  itc/service/src/main/scala/lucuma/itc/legacy/package.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  itc/service/src/main/scala/lucuma/itc/service/ObservingMode.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/imagingTime.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/spectroscopyTime.scala
  itc/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopySignalToNoiseSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndCountSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndGraphSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
Due: Label client PRs, Label tests PRs

force coadds to 1 in s/n etm input
  build.sbt
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
Due: none

scalafmt
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/imagingTime.scala
Due: Label client PRs

Revert to state at 8909f025b to isolate ITC dev-server OOM
  build.sbt
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsImgExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsImgSignalToNoiseSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecSignalToNoiseSuite.scala
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/scala/lucuma/itc/input/GnirsImagingInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GnirsSpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  itc/service/src/main/scala/lucuma/itc/legacy/package.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  itc/service/src/main/scala/lucuma/itc/service/ObservingMode.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/imagingTime.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/spectroscopyTime.scala
  itc/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopySignalToNoiseSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndCountSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndGraphSuite.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
Due: Label client PRs, Label tests PRs

Batch execution digest resolver to avoid N+1
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
Due: none

Add attachments, notes + queries/mutation
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/schema/src/test/scala/lucuma/odb/data/OdbErrorSuite.scala
  modules/service/src/main/resources/db/migration/V1182__program_object_limit.sql
  modules/service/src/main/resources/db/migration/V1182__program_resource_limit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SetProgramResourceLimitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SetProgramResourceLimitResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/programObjectLimit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/programResourceLimit.scala
Due: Label schema PRs

additional test
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/programResourceLimit.scala
Due: none

handle setting limit below use
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/programResourceLimit.scala
Due: Label schema PRs

rework
  modules/service/src/main/resources/db/migration/V1182__program_resource_limit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramTable.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/concurrentInsertDeadlock.scala
Due: none

Add max object count
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/schema/src/test/scala/lucuma/odb/data/OdbErrorSuite.scala
  modules/service/src/main/resources/db/migration/V1182__program_object_limit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/programObjectLimit.scala
Due: Label schema PRs

bugfix
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DateIntervalMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/CallForProposalsView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/callsForProposals.scala
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1182__exchange.sql
  modules/service/src/main/resources/db/migration/V1183__exchange.sql
  modules/service/src/main/resources/db/migration/V1184__exchange.sql
  modules/service/src/main/resources/db/migration/V1185__exchange.sql
Due: none

Update to account for v_program created in V1182
  modules/service/src/main/resources/db/migration/V1185__exchange.sql
Due: none

import order
  modules/service/src/main/scala/lucuma/odb/graphql/input/CallForProposalsPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GeminiCallPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/KeckCallPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SubaruCallPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/service/CallForProposalsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
Due: none

import order again
  modules/service/src/main/scala/lucuma/odb/service/CallForProposalsService.scala
Due: none

Log ITC cache hit/miss and Redis read/write timing
  flake.lock
  flake.nix
  itc/service/src/main/scala/lucuma/itc/cache/BinaryEffectfulCache.scala
Due: none

scalafmt, flake.lock
  flake.lock
  itc/service/src/main/scala/lucuma/itc/Itc.scala
  itc/service/src/main/scala/lucuma/itc/cache/BinaryEffectfulCache.scala
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  itc/service/src/main/scala/lucuma/itc/service/config/Config.scala
Due: none

Bound concurrent ITC legacy calculations + log the compute path
  itc/service/src/main/scala/lucuma/itc/Itc.scala
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  itc/service/src/main/scala/lucuma/itc/service/config/Config.scala
  itc/tests/src/test/scala/lucuma/itc/tests/util.scala
Due: Label tests PRs

Add ITC_SEND_COADDS toggle to isolate the OOM cause
  itc/service/src/main/scala/lucuma/itc/legacy/package.scala
Due: none

Make ITC coadds input optional (default 1)
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/scala/lucuma/itc/input/GnirsImagingInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GnirsSpectroscopyInput.scala
Due: none

Re-apply GNIRS coadds on the reverts base
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsImgExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsImgSignalToNoiseSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecSignalToNoiseSuite.scala
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/scala/lucuma/itc/input/GnirsImagingInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GnirsSpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  itc/service/src/main/scala/lucuma/itc/legacy/package.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  itc/service/src/main/scala/lucuma/itc/service/ObservingMode.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/imagingTime.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/spectroscopyTime.scala
  itc/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopySignalToNoiseSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndCountSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndGraphSuite.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
Due: Label client PRs, Label tests PRs

remove unused logger
  itc/service/src/main/scala/lucuma/itc/cache/BinaryEffectfulCache.scala
Due: none

Remove ITC_SEND_COADDS diagnostic toggle
  itc/service/src/main/scala/lucuma/itc/legacy/package.scala
Due: none

revert agressive logging on itc
  itc/service/src/main/scala/lucuma/itc/Itc.scala
  itc/service/src/main/scala/lucuma/itc/cache/BinaryEffectfulCache.scala
Due: none

reintroduce required coadds in schema
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/scala/lucuma/itc/input/GnirsImagingInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GnirsSpectroscopyInput.scala
Due: none

scalafmt
  itc/service/src/main/scala/lucuma/itc/input/GnirsImagingInput.scala
Due: none

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
