Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

PartnerSplitsService
  modules/service/src/main/scala/lucuma/odb/service/PartnerSplitsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
Due: Label service PRs

ObservingModeServices
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
Due: Label service PRs

remove commented lines
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
Due: Label service PRs

Replace ItcService and Generator error types with OdbError
  modules/service/src/main/resources/db/migration/V0979__cache_update.sql
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
Due: Label service PRs

String or IntegrationTime
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
Due: Label sequence PRs, Label service PRs

tests
  modules/service/src/main/resources/db/migration/V0979__cache_update.sql
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

Remove extraneous Json Codecs
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/MissingParam.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/MissingParamSet.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: Label sequence PRs, Label service PRs

calculate
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
Due: Label service PRs

rebase
  modules/service/src/main/resources/db/migration/V0982__obscalc.sql
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
Due: Label service PRs

Obscalc
  .mergify.yml
  build.sbt
  modules/obscalc/src/main/resources/logback.xml
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/MissingParam.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/MissingParamSet.scala
  modules/service/src/main/resources/db/migration/V0979__cache_update.sql
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObscalcTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label sequence PRs, Label service PRs

OdbError or IntegrationTime
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
Due: Label sequence PRs, Label service PRs

add to Services
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

ObservationWorkflowService
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

ObservationService
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
Due: Label service PRs

AsterismService,GuideService
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label service PRs

Add initial fields for disperser, filter and fpu
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0982__add_f2_initial_columns.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/F2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/F2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label schema PRs, Label service PRs

Updates to F2 model, filter is required and decker/readmode have a default
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0983__add_f2_updated_columns.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/F2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/F2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label schema PRs, Label service PRs

Updated comments for F2 fields
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

Update dependency on lucuma-itc
  build.sbt
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
Due: Label service PRs

Add missing filter
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

Some adjustments to f2 enums
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0984__f2_enums_updates.sql
Due: Label schema PRs, Label service PRs

Update lucuma-core
  build.sbt
  modules/service/src/main/scala/lucuma/odb/logic/GmosReadoutTime.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/smartgcal/src/test/scala/lucuma/odb/smartgcal/parsers/GmosNorthParsersSuite.scala
Due: Label service PRs, Label smartgcal PRs

Fix filter being optional and avoid throwing an exception when generation F2 steps
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/package.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/F2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/F2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbF2LongSlitInput.scala
Due: Label sequence PRs, Label service PRs

meta
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

Path conditions:
  Label calibrations PRs: any of: ^modules/calibrations/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
