Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17)
  actions:
    merge: {}
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

cleanup
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label service PRs

Test case fix
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label service PRs

tesk
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: Label service PRs

Exclude deleted targets from v_generator_params
  modules/service/src/main/resources/db/migration/V0932__generator_parms_no_deleted_targets.sql
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
Due: Label service PRs

Exclude obsolete gratings and filters from instrument modes import
  modules/phase0/src/main/scala/lucuma/odb/phase0/GmosSpectroscopyRow.scala
Due: Label phase0 PRs

Add ability to force re-import of the instrument modes table
  modules/service/src/main/scala/db/migration/R__Phase0.scala
  modules/service/src/main/scala/db/migration/RepeatableMigration.scala
Due: Label service PRs

Improve import error messages. Comments for future debugging help.
  modules/phase0/src/main/scala/lucuma/odb/phase0/GmosSpectroscopyRow.scala
Due: Label phase0 PRs

Exclude inactive observations from proposal time
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programPlannedTime.scala
Due: Label service PRs

support emission lines in itc
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/TestItcClient.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label sequence PRs, Label service PRs

bump catalog
  build.sbt
Due: none

Fix merging of instruments to build a CfpInfo
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

Simplification suggested on PR
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

Add fallbackProfile
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0933_fallback.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereUser.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereUserProfile.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UserProfileMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/UserTable.scala
  modules/service/src/main/scala/lucuma/odb/service/UserService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TestUsers.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programUsers.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
Due: Label schema PRs, Label service PRs

fallbackProfile in ProgramUser
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0933_fallback.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UserProfileInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramUser.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UserProfileMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramUserTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/UserProfileTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/UserTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
Due: Label schema PRs, Label service PRs

Switch to ProgramUser fallback
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0933_fallback.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramUser.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereUser.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UserProfileMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/UserTable.scala
  modules/service/src/main/scala/lucuma/odb/service/UserService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TestUsers.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
Due: Label schema PRs, Label service PRs

pass around the gql client
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TestSsoClient.scala
Due: Label service PRs

rename to addProgramUser
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddProgramUserInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AddProgramUserResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addProgramUser.scala
Due: Label schema PRs, Label service PRs

construct sso gql client
  modules/service/src/main/scala/lucuma/odb/Config.scala
Due: Label service PRs

ProgramUserService
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/OrcidIdBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreatePreAuthProgramUserInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/LinkUserInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UserProfileInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CreatePreAuthProgramUserResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObsAttachmentAssignmentService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObsAttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalAttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TestUsers.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createPreAuthProgramUser.scala
Due: Label schema PRs, Label service PRs

update build.sbt
  build.sbt
Due: none
