Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

cals start out as Defined (not Ready)
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: none

telluric follows science
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_tellurics.scala
Due: none

upate core
  build.sbt
Due: none

fix test
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: none

Truncate the sql for very large queries
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
Due: none

Build truncated sql only when needed
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
Due: none

Update test iso format
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createCallForProposals.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateCallsForProposals.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservationsTimes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timingWindows.scala
Due: none

Manual edit cleanup for calibrations
  modules/service/src/main/resources/db/migration/V1112__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

Capture eventual errors on the calibration fibers
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
Due: Label calibrations PRs

Select the port parameter depending on the instrument
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/CommonITCLegacySuite.scala
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  itc/service/src/main/scala/lucuma/itc/legacy/package.scala
Due: none

Add legacy tests for igrins 2
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCIgrins2SpecExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCIgrins2SpecSignalToNoiseSuite.scala
Due: none

Execute legacy tests if any file on the legacy package gets modified
  .github/workflows/legacy-tests.yml
Due: none

Update base itc schema
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/resources/graphql/itc_base.graphql
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

Add port to the itc client api
  build.sbt
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  itc/testkit/src/main/scala/lucuma/itc/client/arb/ArbInstrumentMode.scala
  itc/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorthImaging.scala
Due: Label client PRs, Label testkit PRs, Label tests PRs

No need for a default port on the legacy code
  itc/benchmarks/src/main/scala/lucuma/itc/benchmarks/ItcBenchmarkSetup.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/CommonITCLegacySuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2ImgExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2ImgSignalToNoiseSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2SpecSignalToNoiseSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2SpecTimeCountSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosImgExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosImgSignalToNoiseSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecSignalToNoiseSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCIgrins2SpecExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCIgrins2SpecSignalToNoiseSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCIgrins2WavelengthOutOfRangeSuite.scala
  itc/service/src/main/scala/lucuma/itc/legacy/package.scala
  itc/service/src/main/scala/lucuma/itc/service/ObservingMode.scala
Due: Label benchmarks PRs

Include port on the schema, to simplify a default is provided
  itc/service/src/main/resources/graphql/itc_base.graphql
  itc/service/src/main/scala/lucuma/itc/input/Flamingos2ImagingInput.scala
  itc/service/src/main/scala/lucuma/itc/input/Flamingos2SpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GmosNImagingInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GmosNSpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GmosSImagingInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GmosSSpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/input/Igrins2SpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/input/InstrumentModesInput.scala
  itc/service/src/main/scala/lucuma/itc/input/PortDispositionBinding.scala
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/legacy/package.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  itc/service/src/main/scala/lucuma/itc/service/ObservingMode.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/graph.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/imagingTime.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/spectroscopyTime.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

Bump version
  build.sbt
Due: none

scalafmt
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  itc/service/src/main/scala/lucuma/itc/input/Flamingos2ImagingInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GmosNImagingInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GmosNSpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GmosSImagingInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GmosSSpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/input/Igrins2SpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/graph.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/imagingTime.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/spectroscopyTime.scala
  itc/testkit/src/main/scala/lucuma/itc/client/arb/ArbInstrumentMode.scala
Due: Label client PRs, Label testkit PRs

scalafix
  itc/service/src/main/scala/lucuma/itc/input/Flamingos2ImagingInput.scala
  itc/service/src/main/scala/lucuma/itc/input/Flamingos2SpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GmosNImagingInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GmosSImagingInput.scala
  itc/service/src/main/scala/lucuma/itc/input/Igrins2SpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/input/InstrumentModesInput.scala
Due: none

Set the acquistion etm not to be a copy of the science acq etm
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

Improve select query to look for more than one mode at a time
  modules/service/src/main/scala/lucuma/odb/service/ExposureTimeModeService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
Due: none

GHOST Phase 0
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Spectroscopy.tsv
  modules/phase0/src/main/scala/lucuma/odb/phase0/FileReader.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/GhostIfuRow.scala
  modules/phase0/src/test/scala/lucuma/odb/phase0/Phase0LoaderSuite.scala
  modules/service/src/main/resources/db/migration/V1113__ghost.sql
  modules/service/src/main/scala/db/migration/Phase0Loader.scala
  modules/service/src/main/scala/db/migration/Phase0Table.scala
  modules/service/src/main/scala/lucuma/odb/util/GhostCodecs.scala
Due: Label phase0 PRs

Restore test adjustments from main
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

Better error handling for group db violations
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

GHOST Phase 0
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Spectroscopy.tsv
  modules/phase0/src/main/scala/lucuma/odb/phase0/FileReader.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/GhostIfuRow.scala
  modules/phase0/src/test/scala/lucuma/odb/phase0/Phase0LoaderSuite.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1113__ghost.sql
  modules/service/src/main/scala/db/migration/Phase0Loader.scala
  modules/service/src/main/scala/db/migration/Phase0Table.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SpectroscopyConfigOptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/SpectroscopyConfigOptionTable.scala
  modules/service/src/main/scala/lucuma/odb/util/GhostCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/spectroscopyConfigOptions.scala
Due: Label phase0 PRs, Label schema PRs

Include static config in smart gcal expansion
  modules/sequence/src/main/scala/lucuma/odb/sequence/SmartGcalExpander.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/SmartGcalImplementation.scala
Due: Label sequence PRs

remove redundant program filter
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
Due: none

Only check workflow state for the changed observation
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
Due: none

Exclude ghost from the clonning test
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: none

Updated lucuma core with the new GhostIfu observing mode
  build.sbt
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: none

Enable ags for igrins2 and add test
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentIgrins2.scala
Due: none

Remove deprecated sequence generation on observation execution.
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
Due: Label schema PRs

test fixes
  modules/service/src/test/scala/lucuma/odb/graphql/feature/timeAndCountExposureTimeMode.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/1023.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2772.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5912.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAtomRecords.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionFailures.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSpecPhot.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
Due: none

nodAndShuffle mapping
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosNorthStaticMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosSouthStaticMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
Due: Label schema PRs

Single execution state query in effect handler
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionState.scala
Due: none

Add metrics for jvm
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/util/LucumaEntryPoint.scala
Due: none

Send traces to an otel4s endpoint
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/util/LucumaEntryPoint.scala
Due: none

Add cats-effect metrics
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/util/LucumaEntryPoint.scala
  modules/service/src/main/scala/lucuma/odb/util/Otel4sTrace.scala
Due: none

Restore honeycomb for itc and sso
  build.sbt
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/sso-service/src/main/scala/Main.scala
Due: Label sso-service PRs

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
