Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

rename
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/main/resources/db/migration/V1206__original_time_estimate.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CategorizedTimeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationTimeEstimateMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/originalEstimate.scala
Due: Label schema PRs

rebase, renumber
  modules/service/src/main/resources/db/migration/V1206__original_time_estimate.sql
Due: none

Fix subscription expect ordering
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
Due: none

circe decoder
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/schema/src/test/scala/lucuma/odb/json/SequenceSuite.scala
Due: Label schema PRs

Update lucumaGraphQLRoutesVersion to 0.13.8
  build.sbt
Due: none

scalafix
  modules/sso-service/src/test/scala/graphql/mutation/addRole.scala
  modules/sso-service/src/test/scala/graphql/mutation/deleteRole.scala
  modules/sso-service/src/test/scala/issue/shortcut/8978.scala
Due: Label sso-service PRs

Report an error if ghost targets don't have defined V magnitudes
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/extensions.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_ghost_vmagnitude.scala
Due: none

flaky
  modules/sso-service/src/test/scala/graphql/mutation/deleteRole.scala
Due: Label sso-service PRs

Add minPercentTime to keck and subaru proposals
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1207__proposal_min_percent_exchange.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/KeckProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SubaruProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/KeckProposalTypeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubaruProposalTypeMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
Due: Label schema PRs

flaky
  modules/sso-service/src/test/scala/issue/shortcut/8978.scala
Due: Label sso-service PRs

Shortcut 8188: GMOS imaging images per offset
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/imaging/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/imaging/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/imaging/Variant.scala
  modules/service/src/main/resources/db/migration/V1206__imaging_exposures_per_offset.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2ImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ImagingVariantInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2ImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2ImagingView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosImagingView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsImagingView.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2ImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/ImagingStatements.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbImagingVariantInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorthImaging.scala
Due: Label schema PRs, Label sequence PRs

invoke itc twice in gnirs acquisition to determine acquisition type
  modules/schema/src/main/scala/lucuma/odb/data/Itc.scala
  modules/schema/src/main/scala/lucuma/odb/json/itc.scala
  modules/schema/src/test/scala/lucuma/odb/data/arb/ArbItc.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/shared.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Spectroscopy.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorContext.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirsTwoPass.scala
Due: Label schema PRs, Label sequence PRs

address pr comments, bump base version
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/data/Itc.scala
  modules/schema/src/main/scala/lucuma/odb/json/itc.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Acquisition.scala
Due: Label schema PRs, Label sequence PRs

Move some of the variable used for slow queries outside the fetch function
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
Due: none

Support overriding the slow query threshold with an env variable
  ODB-README.md
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
Due: none

For slow queries also dump the graphql to the dump dir
  ODB-README.md
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
Due: none

Restore threshold to bump large queries
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  odb-sparse-checkout
Due: none

Consider explicitBase when calling AGS
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: none

Add test for the use of explicitBase with AGS
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentExplicitBase.scala
Due: none

Fix flaky imaging guideEnvironment tests
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGnirs.scala
Due: none

Also recalculate on itc errors.
  itc/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  modules/service/src/main/resources/db/migration/V1208__itc_version_update_ready_only.sql
Due: none

Invalidate only "ready" observations when itc version changes.
  modules/service/src/main/resources/db/migration/V1208__itc_version_update_ready_only.sql
Due: none

Makes the itc version dependent only on itc code changes
  build.sbt
  itc/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  itc/service/src/main/scala/lucuma/itc/service/Version.scala
  itc/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  itc/tests/src/test/scala/lucuma/itc/tests/util.scala
Due: Label tests PRs

Only invalidate ready observations
  modules/service/src/main/resources/db/migration/V1208__f2_longslit_setup_time.sql
Due: none

Update f2 setup time for longslit
  modules/service/src/main/resources/db/migration/V1208__f2_longslit_setup_time.sql
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1209__f2_longslit_setup_time.sql
Due: none

Shortcut 6776: calibrationRole in WhereObservation
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Due: Label schema PRs

Add SSO middleware for Resource and move some middlewares to common
  build.sbt
  modules/common-middleware/src/main/scala/lucuma/common/middleware/ErrorReportingMiddleware.scala
  modules/common-middleware/src/main/scala/lucuma/common/middleware/MetricsMiddleware.scala
  modules/common-middleware/src/main/scala/lucuma/common/middleware/TracingMiddleware.scala
  modules/common-middleware/src/main/scala/lucuma/common/middleware/UserAttributes.scala
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/ServerMiddleware.scala
  modules/service/src/main/scala/lucuma/odb/otel/package.scala
  resource/README.md
  resource/model/src/main/scala/resource/model/config/ResourceConfiguration.scala
  resource/model/src/main/scala/resource/model/config/SsoConfiguration.scala
  resource/service/src/main/scala/resource/server/http4s/GraphQlRoutes.scala
  resource/service/src/main/scala/resource/server/http4s/ResourceMain.scala
  resource/service/src/main/scala/resource/server/http4s/ServerMiddleware.scala
  resource/service/src/test/scala/lucuma/resource/graphql/AuthenticationSuite.scala
  resource/service/src/test/scala/lucuma/resource/test/ResourceGraphQLSuite.scala
  resource/service/src/test/scala/lucuma/resource/test/ServerFixtures.scala
  resource/service/src/test/scala/lucuma/resource/test/TestSso.scala
Due: none

Publish common module
  build.sbt
Due: none

Update githubWorkflowGenerate
  .github/workflows/ci.yml
Due: none

Replace deprecated method usage
  modules/sso-backend-client/src/main/scala/util/GpgPublicKeyReader.scala
Due: Label sso-backend-client PRs

Shortcut 9377: move time accounting
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/resources/db/migration/V1210__async_time_accounting.sql
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timeAccounting.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label obscalc PRs

doc
  modules/obscalc/obscalc-flow.md
  modules/service/time-accounting-flow.md
Due: Label obscalc PRs

fix doc
  modules/service/time-accounting-flow.md
Due: none

Remove unused visit id return value
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
Due: none

move doc
  modules/obscalc/obscalc-flow.md
  modules/obscalc/time-accounting-flow.md
Due: Label obscalc PRs

Allow introspection without auth for SSO and Resource
  build.sbt
  modules/common-middleware/src/main/scala/lucuma/common/middleware/IntrospectionMapping.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/util/SchemaSemigroup.scala
  modules/sso-service/src/main/scala/graphql/GraphqlRoutes.scala
  modules/sso-service/src/test/scala/graphql/query/introspection.scala
  resource/service/src/main/scala/resource/server/http4s/GraphQlRoutes.scala
  resource/service/src/test/scala/lucuma/resource/graphql/AuthenticationSuite.scala
  resource/service/src/test/scala/lucuma/resource/graphql/IntrospectionSuite.scala
Due: Label sso-service PRs

Fix update bug clearing the existing selection before setting the new one
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
Due: none

Reproduction of bug when setting the target to use for itc
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/explicitSignalToNoiseTarget.scala
Due: none

Cleanup
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/explicitSignalToNoiseTarget.scala
Due: none
