Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

consider
  modules/service/src/main/resources/db/migration/V1289__for_review_state_cascades.sql
  modules/service/src/test/scala/lucuma/odb/service/TelluricTargetsServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/TelluricTargetsServiceSuiteSupport.scala
Due: none

Update obscalc documentation
  modules/obscalc/obscalc-flow.md
Due: Label obscalc PRs

Add note to claude.md
  modules/CLAUDE.md
  modules/service/src/main/resources/db/migration/V1288__archive_duplication_staleness.sql
Due: none

expose archive duplication staleness and attempt time in graphql
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ArchiveDuplicationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ArchiveDuplicationView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/archiveDuplication.scala
Due: Label schema PRs

derive archive duplication applicability, store search provenance
  modules/service/src/main/resources/db/migration/V1280__archive_duplication_staleness.sql
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationSearchService.scala
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationServiceSuite.scala
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1288__archive_duplication_staleness.sql
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1287__archive_duplication_staleness.sql
Due: none

materialize archive duplication staleness via obscalc
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationSearchServiceSuite.scala
Due: none

derive archive duplication staleness from stored query urls
  modules/CLAUDE.md
  modules/obscalc/obscalc-flow.md
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1288__archive_duplication_staleness.sql
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationSearchService.scala
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationSearchServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationServiceSuite.scala
Due: Label obscalc PRs, Label schema PRs

move staleness derivation to the search service, simplify comments
  CONTEXT.md
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1288__archive_duplication_staleness.sql
  modules/service/src/main/scala/lucuma/odb/logic/GoaQueryPolicy.scala
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationSearchService.scala
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/logic/GoaQueryPolicySuite.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationSearchServiceSuite.scala
Due: Label schema PRs

decline archive search for mixed sidereal and non-sidereal asterisms
  modules/service/src/main/scala/lucuma/odb/logic/GoaQueryPolicy.scala
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationSearchService.scala
  modules/service/src/test/scala/lucuma/odb/logic/GoaQueryPolicySuite.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationSearchServiceSuite.scala
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1290__archive_duplication_staleness.sql
Due: none

cleanup
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationSearchService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationSearchServiceSuite.scala
Due: none

don't write staleness from a re-invalidated calculation
  modules/service/src/main/resources/db/migration/V1290__archive_duplication_staleness.sql
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationSearchServiceSuite.scala
Due: none

Fix stale doc
  modules/obscalc/obscalc-flow.md
Due: Label obscalc PRs

hide the stored error when the state is overridden
  modules/service/src/main/resources/db/migration/V1290__archive_duplication_staleness.sql
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationSearchServiceSuite.scala
Due: none

migrate gmos to telescopeconfigs
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/format/SpatialOffsetsFormat.scala
  modules/schema/src/test/scala/lucuma/odb/format/SpatialOffsetsFormatSuite.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/mos/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/spectroscopy/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/spectroscopy/Science.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/MosLongSlitSequencesSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/arb/ArbGmosLongSlitConfig.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/mos/AcquisitionSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/spectroscopy/ScienceSuite.scala
  modules/service/src/main/resources/db/migration/V1278__gmos_telescope_configs.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosMosInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosMosMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SlitTelescopeConfigsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosMosView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosMosService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosLongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/7591.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/9893.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosMos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth_10x_3d_3q.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/logic/GoaQueryPolicySuite.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationMatchersSuite.scala
Due: Label schema PRs, Label sequence PRs

renumber migration
  modules/service/src/main/resources/db/migration/V1280__gmos_telescope_configs.sql
Due: none

scalafix
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/MosLongSlitSequencesSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/arb/ArbGmosLongSlitConfig.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/mos/AcquisitionSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/spectroscopy/ScienceSuite.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosMosInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosMosMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosMosService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosLongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/logic/GoaQueryPolicySuite.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationMatchersSuite.scala
Due: Label sequence PRs

renumber migration
  modules/service/src/main/resources/db/migration/V1289__gmos_telescope_configs.sql
Due: none

renumber migration
  modules/service/src/main/resources/db/migration/V1283__gmos_telescope_configs.sql
Due: none

remove unused import
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosLongSlitInput.scala
Due: none

address pr comments
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/spectroscopy/Config.scala
  modules/service/src/main/resources/db/migration/V1281__gmos_telescope_configs.sql
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observingModeGroup.scala
Due: Label schema PRs, Label sequence PRs

renumber migration
  modules/service/src/main/resources/db/migration/V1282__gmos_telescope_configs.sql
Due: none

move offset resolution to db, renumber migration
  build.sbt
  modules/service/src/main/resources/db/migration/V1291__gmos_telescope_configs.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosMosMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SlitTelescopeConfigsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosMosView.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosMosService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/gmosTelescopeConfigsDefaults.scala
Due: none

fix core
  build.sbt
Due: none

bump base version
  build.sbt
Due: none

Use prebuilt test database image for Resource tests
  .github/workflows/ci.yml
  build.sbt
  resource/service/src/.dockerignore
  resource/service/src/Dockerfile
  resource/service/src/test/scala/lucuma/resource/test/ServerFixtures.scala
Due: none

Fix same-group reorder index off-by-one
  modules/service/src/main/resources/db/migration/V1292__group_move_reorder.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateGroups.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1292__flamingos2_longslit_telluric_science_mode.sql
Due: none

Refactoring
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/spectroscopy/MosTelluric.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/spectroscopy/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/spectroscopy/package.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/flamingos2/spectroscopy/MosTelluricSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: Label sequence PRs

Extract offset preset
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/mos/Config.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/flamingos2/spectroscopy/TelluricSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
Due: Label sequence PRs

Generate telluric standards for Flamingos 2 MOS
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/mos/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/spectroscopy/Telluric.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/flamingos2/MosLongSlitSequencesSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/flamingos2/spectroscopy/TelluricSuite.scala
  modules/service/src/main/resources/db/migration/V1291__flamingos2_longslit_telluric_science_mode.sql
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: Label sequence PRs

cleanup
  modules/sequence/src/test/scala/lucuma/odb/sequence/flamingos2/spectroscopy/TelluricSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: Label sequence PRs

Move the MOS telluric nod pattern to the shared spectroscopy package
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/spectroscopy/package.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/flamingos2/spectroscopy/MosTelluricSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
Due: Label sequence PRs

renumber
  modules/service/src/main/resources/db/migration/V1293__flamingos2_longslit_telluric_science_mode.sql
Due: none

Update ocs itc libs
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.2.jar
Due: none

oops
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
Due: none

Address PR review: namespace the advisory lock, cover group renumbering
  modules/service/src/main/resources/db/migration/V1294__group_duplicate_indices.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/groupIndices.scala
Due: none

Detect and repair duplicate group indices
  modules/service/src/main/resources/db/migration/V1294__group_duplicate_indices.sql
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/groupIndices.scala
Due: none
