Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

change gnirs default port
  itc/service/src/main/resources/graphql/itc.graphql
Due: none

remove debug statement
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecExpTimeSuite.scala
Due: none

update gql routes
  build.sbt
Due: none

obscalc subscription isExecutable flag
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1129__obscalc_workflow.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObscalcUpdatedInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObscalcTopic.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/obscalcUpdate.scala
Due: Label schema PRs

obscalc subscription isExecutable flag
  modules/service/src/main/resources/db/migration/V1129__obscalc_workflow.sql
Due: none

Renumber migration
  modules/service/src/main/resources/db/migration/V1130__obscalc_workflow.sql
Due: none

rename
  modules/service/src/main/resources/db/migration/V1130__visitor_modes.sql
Due: none

split migration
  modules/service/src/main/resources/db/migration/V1130__visitor_modes_1.sql
  modules/service/src/main/resources/db/migration/V1131__visitor_modes_2.sql
Due: none

bump version
  build.sbt
Due: none

Observing mode consistency check
  modules/service/src/main/resources/db/migration/V1129__observing_mode_consistency.sql
Due: none

tests
  modules/service/src/test/scala/lucuma/odb/service/GhostIfuServiceSuite.scala
Due: none

renumber migration
  modules/service/src/main/resources/db/migration/V1131__observing_mode_consistency.sql
Due: none

comment
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
Due: none

fix conflict-resolution-induced bug
  modules/service/src/test/scala/lucuma/odb/service/GhostIfuServiceSuite.scala
Due: none

rename
  modules/service/src/main/resources/db/migration/V1131__visitor_modes_1.sql
  modules/service/src/main/resources/db/migration/V1132__visitor_modes_2.sql
Due: none

rename
  modules/service/src/main/resources/db/migration/V1132__visitor_modes_1.sql
  modules/service/src/main/resources/db/migration/V1133__visitor_modes_2.sql
Due: none

update t_observing_mode_registry
  modules/service/src/main/resources/db/migration/V1132__visitor_modes_1.sql
  modules/service/src/main/resources/db/migration/V1133__visitor_modes_2.sql
Due: none

hashbytes
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/HashBytes.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/visitor/Config.scala
Due: Label sequence PRs

add camera and prism to gnirs rows
  build.sbt
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Spectroscopy.tsv
  modules/phase0/src/main/scala/lucuma/odb/phase0/GnirsSpectroscopyRow.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1134__gnirs_prism_camera.sql
  modules/service/src/main/scala/db/migration/Phase0Table.scala
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SpectroscopyConfigOptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/SpectroscopyConfigOptionTable.scala
  modules/service/src/main/scala/lucuma/odb/util/GnirsCodecs.scala
Due: Label client PRs, Label phase0 PRs, Label schema PRs

fix test
  modules/service/src/test/scala/lucuma/odb/graphql/query/spectroscopyConfigOptions.scala
Due: none

fix test
  modules/phase0/src/test/scala/lucuma/odb/phase0/Phase0LoaderSuite.scala
Due: Label phase0 PRs

Fix ags gmos test
  modules/service/src/test/scala/lucuma/odb/graphql/query/GuideEnvironmentSuite.scala
Due: none

Fix broken test after changing the limits
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentIgrins2.scala
Due: none

Updated mag limits for ags and new interface to get usable positions
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: none

Add tests for the same night parameter
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1129__group_same_night.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GroupPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateGroups.scala
Due: Label schema PRs

Add same night field to groups
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1129__group_same_night.sql
  modules/service/src/main/scala/lucuma/odb/data/GroupTree.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GroupPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GroupMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GroupView.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
Due: Label schema PRs

same night field is not compatible with OR groups
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1129__group_same_night.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GroupPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
Due: Label schema PRs

Allow sameNight flag for either AND or OR groups
  modules/service/src/main/resources/db/migration/V1130__group_same_night.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GroupPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateGroups.scala
Due: none

Renumber migration
  modules/service/src/main/resources/db/migration/V1130__group_same_night.sql
Due: none

Renumber migration
  modules/service/src/main/resources/db/migration/V1135__group_same_night.sql
Due: none

GHOST central wavelength in dynamic config
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GhostDynamicMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGhost.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGhostIfu.scala
Due: Label schema PRs

Change wavelength value
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/shared.scala
Due: Label sequence PRs

Only receive y-data for graphs from the ocs
  itc/client/shared/src/main/scala/lucuma/itc/client/SpectroscopyTimeAndGraphResult.scala
  itc/client/shared/src/main/scala/lucuma/itc/client/queries.scala
  itc/model/src/main/scala/lucuma/itc/ItcGraph.scala
  itc/model/src/main/scala/lucuma/itc/SpectroscopyTimeAndGraphsResult.scala
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.1.jar
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/resources/graphql/itc_base.graphql
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  itc/service/src/main/scala/lucuma/itc/package.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
  itc/service/src/main/scala/lucuma/itc/service/redis/redis.scala
  itc/service/src/main/scala/lucuma/itc/service/syntax/ItcSyntax.scala
  itc/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  itc/tests/src/test/scala/lucuma/itc/model/ItcXAxisSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyGraphSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndGraphSuite.scala
  itc/tests/src/test/scala/lucuma/itc/tests/MockItc.scala
Due: Label client PRs, Label model PRs, Label tests PRs

Fix itc_base.graphql for GNIRS mode
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/resources/graphql/itc_base.graphql
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
Due: Label schema PRs

Bump base version
  build.sbt
Due: none

Fix GNIRS test
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndGraphSuite.scala
Due: Label tests PRs

Revert bump of itc cache manual version
  itc/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
Due: none

Add Resource web server project
  .mergify.yml
  .scalafmt.conf
  build.sbt
  modules/service/src/test/scala/lucuma/odb/graphql/query/introspection.scala
  resource/model/src/main/scala/resource/model/config/DatabaseConfiguration.scala
  resource/model/src/main/scala/resource/model/config/ExecutionEnvironment.scala
  resource/model/src/main/scala/resource/model/config/ResourceConfiguration.scala
  resource/service/src/main/resources/graphql/resource.graphql
  resource/service/src/main/resources/logback.xml
  resource/service/src/main/scala/resource/server/graphql/BaseMapping.scala
  resource/service/src/main/scala/resource/server/graphql/MutationMapping.scala
  resource/service/src/main/scala/resource/server/graphql/QueryMapping.scala
  resource/service/src/main/scala/resource/server/graphql/ResourceMapping.scala
  resource/service/src/main/scala/resource/server/graphql/SubscriptionMapping.scala
  resource/service/src/main/scala/resource/server/http4s/GraphQlRoutes.scala
  resource/service/src/main/scala/resource/server/http4s/ServerMiddleware.scala
  resource/service/src/main/scala/resource/server/http4s/StaticRoutes.scala
  resource/service/src/main/scala/resource/server/http4s/WebServerLauncher.scala
  resource/service/src/main/scala/resource/server/http4s/package.scala
Due: none

central wavelength updates
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/shared.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GhostDynamicMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Igrins2DynamicMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGhost.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForIgrins2.scala
Due: Label schema PRs, Label sequence PRs

lint
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Igrins2DynamicMapping.scala
Due: none

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
