Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

hack build
  build.sbt
Due: none

Revert "hack build"
  build.sbt
Due: none

rename
  modules/service/src/main/resources/db/migration/V1139__visitor_workflow_status.sql
Due: none

address comment
  modules/service/src/main/resources/db/migration/V1139__visitor_workflow_status.sql
Due: none

split migration
  modules/service/src/main/resources/db/migration/V1139__visitor_workflow_status 1.sql
  modules/service/src/main/resources/db/migration/V1140__visitor_workflow_status 2.sql
Due: none

split some more
  modules/service/src/main/resources/db/migration/V1140__visitor_workflow_status 2.sql
  modules/service/src/main/resources/db/migration/V1141__visitor_workflow_status 3.sql
Due: none

remove c_declared_complete
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1139__visitor_workflow_status 1.sql
  modules/service/src/main/resources/db/migration/V1140__visitor_workflow_status 2.sql
  modules/service/src/main/resources/db/migration/V1141__visitor_workflow_status 3.sql
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
Due: Label schema PRs

add DECLARED_ONGOING to schema
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

oops
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_viistors.scala
Due: none

Several improvements to speed up the build.
  .github/workflows/ci.yml
  .github/workflows/legacy-tests.yml
  .github/workflows/migration-test.yml
  build.sbt
Due: none

visitor ags
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: none

core offsetmode rename
  .gitignore
  build.sbt
  itc/service/src/main/resources/graphql/itc.graphql
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/Igrins2OffsetModeBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/igrins2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Igrins2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Igrins2StaticInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Igrins2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/util/Igrins2Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbIgrins2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForIgrins2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciIgrins2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: Label binding PRs, Label schema PRs, Label sequence PRs

bump base version
  build.sbt
Due: none

Take stepCount into consideration when calling ITC for GHOST
  build.sbt
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGhostSpecExpTimeSuite.scala
  itc/model/src/main/scala/lucuma/itc/ItcGhostDetector.scala
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/resources/graphql/itc_base.graphql
  itc/service/src/main/scala/lucuma/itc/input/GhostSpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  itc/service/src/main/scala/lucuma/itc/service/ObservingMode.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/spectroscopyTime.scala
  itc/testkit/src/main/scala/lucuma/itc/client/arb/ArbInstrumentMode.scala
  itc/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyGraphSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndCountSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
Due: Label client PRs, Label model PRs, Label testkit PRs, Label tests PRs

Add name and totalRequestTime fields to visitor observations
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/visitor/Config.scala
  modules/service/src/main/resources/db/migration/V1142__visitor_mode_data.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/VisitorInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitorMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/VisitorTable.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitorService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
Due: Label schema PRs, Label sequence PRs

Add tests
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/service/VisitorService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: Label schema PRs

Add validation to toCreate for visitors
  modules/sequence/src/main/scala/lucuma/odb/sequence/visitor/Config.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/VisitorInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label sequence PRs

Remove deprecated guideEnvironments query (finally)
  itc/service/src/main/resources/graphql/itc.graphql
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGMOS.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironments.scala
Due: Label schema PRs

Add Resource web server project
  .github/workflows/ci.yml
  .mergify.yml
  .scalafix.conf
  .scalafmt.conf
  build.sbt
  modules/binding/src/main/scala/lucuma/odb/graphql/schema/SchemaSource.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/schema/SchemaStitcher.scala
  modules/binding/src/test/scala/lucuma/odb/graphql/schema/SchemaStitcherTest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/introspection.scala
  resource-sparse-checkout
  resource/README.md
  resource/model/src/main/scala/resource/model/TelescopeAvailability.scala
  resource/model/src/main/scala/resource/model/TelescopeAvailabilityStatus.scala
  resource/model/src/main/scala/resource/model/TelescopeMode.scala
  resource/model/src/main/scala/resource/model/TelescopeModeStatus.scala
  resource/model/src/main/scala/resource/model/TelescopeModeType.scala
  resource/model/src/main/scala/resource/model/TelescopeNightTimeline.scala
  resource/model/src/main/scala/resource/model/TelescopeTooStatus.scala
  resource/model/src/main/scala/resource/model/TooSupport.scala
  resource/model/src/main/scala/resource/model/config/DatabaseConfiguration.scala
  resource/model/src/main/scala/resource/model/config/ExecutionEnvironment.scala
  resource/model/src/main/scala/resource/model/config/ResourceConfiguration.scala
  resource/service/src/main/resources/graphql/resource.graphql
  resource/service/src/main/resources/logback.xml
  resource/service/src/main/scala/resource/server/DummyData.scala
  resource/service/src/main/scala/resource/server/graphql/BaseMapping.scala
  resource/service/src/main/scala/resource/server/graphql/MutationMapping.scala
  resource/service/src/main/scala/resource/server/graphql/QueryMapping.scala
  resource/service/src/main/scala/resource/server/graphql/ResourceMapping.scala
  resource/service/src/main/scala/resource/server/graphql/SubscriptionMapping.scala
  resource/service/src/main/scala/resource/server/http4s/GraphQlRoutes.scala
  resource/service/src/main/scala/resource/server/http4s/ResourceMain.scala
  resource/service/src/main/scala/resource/server/http4s/ServerMiddleware.scala
  resource/service/src/main/scala/resource/server/http4s/StaticRoutes.scala
  resource/service/src/main/scala/resource/server/http4s/package.scala
  resource/service/src/test/scala/lucuma/resource/ResourceBaseSuite.scala
  resource/service/src/test/scala/lucuma/resource/graphql/query/TelescopeNightTimelineSuite.scala
  resource/service/src/test/scala/lucuma/resource/test/ResourceGraphQLSuite.scala
  resource/service/src/test/scala/lucuma/resource/test/ServerFixtures.scala
Due: Label binding PRs

Enable resource schema validation in CI
  .github/workflows/ci.yml
  build.sbt
Due: none

Don't expand alopeke/zorro filter list
  modules/phase0/src/main/scala/lucuma/odb/phase0/ConfigurationRow.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/FileReader.scala
  modules/phase0/src/test/scala/lucuma/odb/phase0/Phase0LoaderSuite.scala
Due: Label phase0 PRs

Have to flush the phase 0 table
  modules/service/src/main/scala/db/migration/R__Phase0.scala
Due: none

Check generator params to avoid deleting per program calibrations
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
Due: none

Use SchemaStitcher for ITC and SSO and only load SSO Schema once at startup
  build.sbt
  itc/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  modules/sso-service/src/main/resources/Sso.graphql
  modules/sso-service/src/main/scala/Main.scala
  modules/sso-service/src/main/scala/graphql/GraphqlRoutes.scala
  modules/sso-service/src/main/scala/graphql/SsoMapping.scala
  modules/sso-service/src/test/scala/simulator/SsoSimulator.scala
Due: Label sso-service PRs

Update OCS ITC jar files to fix GHOST graph data
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.1.jar
Due: none

Have only 1x1 binning for GHOST in the phase 0 table
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Spectroscopy.tsv
  modules/phase0/src/main/scala/lucuma/odb/phase0/GhostIfuRow.scala
  modules/phase0/src/test/scala/lucuma/odb/phase0/Phase0LoaderSuite.scala
Due: Label phase0 PRs

Use a shared odb container
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/SharedOdbContainer.scala
Due: none

wip
  build.sbt
  modules/service/src/Dockerfile
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: none

Don't let users to move observation inside system groups
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/8661.scala
Due: none

Migration to hide existing phantom groups
  modules/service/src/main/resources/db/migration/V1143__cleanup_phantom_telluric_groups.sql
Due: none

Fix visitor observing mode updates
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitorService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: none

Enable parallel test execution
  build.sbt
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: none

Fix observing night selection query
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingService.scala
Due: none

Fixes a bug when cloning a telluric group science
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/8734.scala
Due: none

Update ghost readout times
  modules/service/src/main/resources/db/migration/V1144__update_ghost_readout.sql
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionPlannedTime_GhostIfu.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: none

Use custom schema loader to support import statements for graphql schema validations
  .github/validate-schema.mjs
  .github/workflows/ci.yml
  build.sbt
  package-lock.json
  package.json
Due: none

Remove schema stitching scripts from ITC and use import statements instead
  ITC-README.md
  itc/CLAUDE.md
  itc/fetchODBSchema.mjs
  itc/schemastitcher.mjs
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/resources/graphql/itc_base.graphql
  itc/stitchSchema.sh
Due: none

Update basePosition to return fields appropriate for navigate tracking
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/BasePosition.scala
  modules/schema/src/main/scala/lucuma/odb/json/basePosition.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/TrackingService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/basePosition.scala
Due: Label schema PRs

gnirs support classes
  .gitignore
  modules/schema/src/main/scala/lucuma/odb/format/TelescopeConfigsFormat.scala
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/schema/src/main/scala/lucuma/odb/json/telescopeconfigalongslit.scala
Due: Label schema PRs

wrap up gnirs longslit observing mode
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Igrins2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Igrins2StaticTable.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/main/scala/lucuma/odb/util/GnirsCodecs.scala
  modules/service/src/main/scala/lucuma/odb/util/Igrins2Codecs.scala
Due: none

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
