Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Cleanup
  modules/service/src/main/scala/lucuma/odb/graphql/ConeFilter.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereConfigurationRequest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs_isActive.scala
Due: none

Review cleanup
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/data/Cone.scala
  modules/service/src/main/scala/lucuma/odb/graphql/ConeFilter.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereConfigurationRequest.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationRequestMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ConeSearchFixture.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/coneCandidates.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_combined.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_targetCoordinates.scala
Due: Label schema PRs

Scope and cap the cone candidate lookup
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/coneCandidates.scala
Due: none

Refactor common utility methods to build coordinates
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/TestCoordinates.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ConeSearchFixture.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GuideEnvironmentSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/archiveDuplication.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/basePosition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/coneCandidates.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_combined.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_targetCoordinates.scala
  modules/service/src/test/scala/lucuma/odb/graphql/scheduler/visibilityChanges.scala
  modules/service/src/test/scala/lucuma/odb/logic/GoaQueryPolicySuite.scala
Due: none

Only do cone filtering on queries
  modules/service/src/main/scala/lucuma/odb/graphql/ConeFilter.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateConfigurationRequestsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereConfigurationRequest.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_targetCoordinates.scala
Due: none

Extract WhereOptionEq.unwrappedBinding for observingModeType filters
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/WhereOptionEq.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereConfigurationRequest.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
Due: Label binding PRs

Cap the amount of cones in one operation to 5
  modules/service/src/main/scala/lucuma/odb/graphql/ConeFilter.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_targetCoordinates.scala
Due: none

Retry the cone candidate lookup on invalid cursor
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
Due: none

Bound the cone distance to [0°, 180°]
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/data/Cone.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereConfigurationRequest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ConeSearchFixture.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/coneCandidates.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_targetCoordinates.scala
Due: Label schema PRs

Use the haversine form for the cone trim
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/coneCandidates.scala
Due: none

Tests cleanup
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ConeSearchFixture.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/basePosition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/coneCandidates.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_combined.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_observingModeType.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_targetCoordinates.scala
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1250__target_where_filters.sql
Due: none

Aim exact-match cone tests at the stored coordinates
  modules/service/src/test/scala/lucuma/odb/graphql/query/coneCandidates.scala
Due: none

Don't mark cancelled subscription spans as errors
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
Due: none

Fix SSO users query filtered by orcidId
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/WhereOptionString.scala
  modules/sso-service/src/main/scala/graphql/input/WhereUser.scala
  modules/sso-service/src/test/scala/graphql/query/users.scala
Due: Label binding PRs, Label sso-service PRs

Derive the mask name from the ODF file name convention
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1251__mask_name_odf_convention.sql
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/obsAttachmentsAssignments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosMos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/customMask.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/customMaskInUse.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GmosMos.scala
Due: Label schema PRs

Move GNIRS imaging coadds into the per-filter list
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/imaging/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/imaging/Filter.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/imaging/Science.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gnirs/imaging/ConfigSuite.scala
  modules/service/src/main/resources/db/migration/V1252__gnirs_imaging_filter_coadds.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsImagingFilterInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsImagingView.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsImagingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsImaging.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GnirsImaging.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsImaging.scala
Due: Label schema PRs, Label sequence PRs

Reproduction test of the issue
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/9893.scala
Due: none

Avoid generator self-joins and extra key columns to stay under the Postgres target-list limit
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AngleMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OffsetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TelescopeConfigGeneratorMapping.scala
Due: none

Add indications about column budgets to claude.md
  modules/CLAUDE.md
Due: none

Expose F2 multi slit rows on the phase0 table.
  modules/phase0/src/main/scala/lucuma/odb/phase0/FileReader.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/Flamingos2SpectroscopyRow.scala
  modules/phase0/src/test/scala/lucuma/odb/phase0/Phase0LoaderSuite.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1253__flamingos2_multislit_null_fpu.sql
  modules/service/src/main/scala/db/migration/Phase0Table.scala
  modules/service/src/main/scala/db/migration/R__Phase0.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/SpectroscopyConfigOptionTable.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/spectroscopyConfigOptions.scala
Due: Label phase0 PRs, Label schema PRs

TotalSignalToNoiseValidator
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/TotalSignalToNoiseValidator.scala
Due: none

Acquire GNIRS thermal-IR science on the blue camera
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/AcquisitionConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/imaging/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Config.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirs.scala
Due: Label sequence PRs

Revert "Acquire GNIRS thermal-IR science on the blue camera"
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/AcquisitionConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/imaging/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Config.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirs.scala
Due: Label sequence PRs

test new skunk version
  build.sbt
Due: none

Include peak pixel count on the itc results
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/Itc.scala
  modules/schema/src/main/scala/lucuma/odb/json/itc.scala
  modules/schema/src/test/scala/lucuma/odb/data/arb/ArbItc.scala
  modules/schema/src/test/scala/lucuma/odb/json/ItcSuite.scala
  modules/service/src/main/resources/db/migration/V1253__itc_peak_pixel_flux.sql
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
Due: Label schema PRs

renumber
  modules/service/src/main/resources/db/migration/V1254__itc_peak_pixel_flux.sql
Due: none

Fix npm publish version pattern
  build.sbt
Due: none

Export GMOS MOS custom slit width on phase 0
  modules/phase0/src/main/scala/lucuma/odb/phase0/GmosSpectroscopyRow.scala
  modules/phase0/src/test/scala/lucuma/odb/phase0/Phase0LoaderSuite.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1255__flamingos2_multislit_custom_slit_width.sql
  modules/service/src/main/resources/db/migration/V1255__multislit_custom_slit_width.sql
  modules/service/src/main/scala/db/migration/Phase0Table.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SpectroscopyConfigOptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/SpectroscopyConfigOptionTable.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/spectroscopyConfigOptions.scala
Due: Label phase0 PRs, Label schema PRs

Export F2 MOS custom slit width on phase 0
  modules/phase0/src/main/scala/lucuma/odb/phase0/Flamingos2SpectroscopyRow.scala
  modules/phase0/src/test/scala/lucuma/odb/phase0/Phase0LoaderSuite.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1255__flamingos2_multislit_custom_slit_width.sql
  modules/service/src/main/scala/db/migration/Phase0Table.scala
  modules/service/src/main/scala/db/migration/R__Phase0.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SpectroscopyConfigOptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/SpectroscopyConfigOptionTable.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/spectroscopyConfigOptions.scala
Due: Label phase0 PRs, Label schema PRs

Add support for F2 MOS in the itc server and client
  itc/client/shared/src/main/scala/lucuma/itc/client/Flamingos2CustomMask.scala
  itc/client/shared/src/main/scala/lucuma/itc/client/Flamingos2FpuMask.scala
  itc/client/shared/src/main/scala/lucuma/itc/client/GmosCustomMask.scala
  itc/client/shared/src/main/scala/lucuma/itc/client/GmosFpu.scala
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2SpecSignalToNoiseSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2SpecTimeCountSuite.scala
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/scala/lucuma/itc/input/Flamingos2SpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/input/odb/Flamingos2CustomMaskInput.scala
  itc/service/src/main/scala/lucuma/itc/input/odb/Flamingos2FpuMaskInput.scala
  itc/service/src/main/scala/lucuma/itc/input/odb/GmosCustomMaskInput.scala
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  itc/service/src/main/scala/lucuma/itc/service/ObservingMode.scala
  itc/service/src/main/scala/lucuma/itc/service/hashes.scala
  itc/testkit/src/main/scala/lucuma/itc/client/arb/ArbFlamingos2CustomMask.scala
  itc/testkit/src/main/scala/lucuma/itc/client/arb/ArbFlamingos2FpuMask.scala
  itc/testkit/src/main/scala/lucuma/itc/client/arb/ArbInstrumentMode.scala
  itc/tests/src/test/scala/lucuma/itc/client/InstrumentModeSuite.scala
  itc/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/exactConstraintsSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopySignalToNoiseSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndCountSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: Label client PRs, Label testkit PRs, Label tests PRs

Approve ToO trigger configuration requests via the GraphQL helper
  modules/service/src/test/scala/lucuma/odb/graphql/TooTriggerSetupOperations.scala
Due: none

Route setObservationWorkflowState request approvals through the GraphQL helper
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
Due: none

Route observation_workflow request approvals through the GraphQL helper
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: none

Add a test for a cone matching nothing
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_targetCoordinates.scala
Due: none

Route observation_workflow_tellurics request approval through the GraphQL helper
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_tellurics.scala
Due: none

Route obscalcUpdate request approval through the GraphQL helper
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/obscalcUpdate.scala
Due: none

Drop a stale reference to approveConfigurationRequestHack
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
Due: none

Store an observation J2000 base position with the obscalc results
  0001-j2000-base-position.md
  modules/service/src/main/resources/db/migration/V1255__observation_base_position.sql
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
Due: none
