Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label binding PRs, Label calibrations PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

Fix column type
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramUserView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programUsers.scala
Due: Label service PRs

cleanup
  build.sbt
  modules/sso-frontend-client/src/main/scala/lucuma/sso/client/codec/user/GidCodec.scala
  modules/sso-frontend-client/src/main/scala/lucuma/sso/client/codec/user/OrcidProfileCodec.scala
  modules/sso-frontend-client/src/main/scala/lucuma/sso/client/codec/user/RoleCodec.scala
  modules/sso-frontend-client/src/main/scala/lucuma/sso/client/codec/user/UserCodec.scala
  modules/sso-frontend-client/src/main/scala/lucuma/sso/client/codec/user/UserProfileCodec.scala
  modules/sso-frontend-client/src/test/scala/ArbStandardRole.scala
  modules/sso-frontend-client/src/test/scala/ArbUser.scala
  modules/sso-frontend-client/src/test/scala/CodecSuite.scala
Due: none

merge actions
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

regenerate workflows
  .github/workflows/ci.yml
  .mergify.yml
Due: none

docker deploy
  Procfile
  SSO-Procfile
  SSO-README.md
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Main.scala
  project/plugins.sbt
Due: Label service PRs

Make docker-compose start both databases
  build.sbt
  docker-compose.yml
  docker-init/01-init-databases.sh
  docker-init/02-migrate-sso.sh
  docker-init/03-migrate-odb.sh
  sso-docker-compose.yml
Due: none

cleanup
  README.md
  SSO-Procfile
  SSO-README.md
  docker-init/01-init-databases.sh
  docker-init/02-migrate-sso.sh
  docker-init/03-migrate-odb.sh
Due: none

bump base versin
  build.sbt
Due: none

add missing sso example project
  build.sbt
Due: none

read commit hash from buildinfo instead of heroku env var
  README.md
  SSO-README.md
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/sso-service/src/main/scala/config/HerokuConfig.scala
  modules/sso-service/src/main/scala/config/package.scala
  modules/sso-service/src/test/scala/config/HerokuConfigSuite.scala
  project/plugins.sbt
Due: Label service PRs

rename calibration dyno type
  build.sbt
Due: none

regenerate workflow
  .github/workflows/ci.yml
Due: none

fix reading commit hash
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/sso-service/src/main/scala/config/HerokuConfig.scala
  modules/sso-service/src/main/scala/config/package.scala
Due: Label service PRs

Update sbt-lucuma v0.14.0 - heroku memory issues
  project/plugins.sbt
Due: none

Update code for the new itc client lib
  build.sbt
  modules/sequence/src/test/scala/lucuma/odb/sequence/TestItcClient.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5912.scala
Due: Label sequence PRs, Label service PRs

bump sbt-lucuma
  project/plugins.sbt
Due: none

New GMOS Longslit Sequence
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/StepRecord.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Remaining.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/RemainingSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/ScienceSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/timeAndCountExposureTimeMode.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5017.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6465.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth_10x_3d_3q.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth_20x_3d_6q.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/graphql/scheduler/schedulerRoutes.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label sequence PRs, Label service PRs

Test case illustrating sc-6589
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6589.scala
Due: Label service PRs
