Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Altair configuration: model, DB and GraphQL
  build.sbt
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/AltairNdFilterBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/CassRotatorBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/AltairConfiguration.scala
  modules/service/src/main/resources/db/migration/V1318__altair.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AltairInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TargetEnvironmentInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/AltairRules.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideProbeRules.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/ServiceOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_altair.scala
Due: Label binding PRs, Label schema PRs

Altair support is an instrument flag
  modules/service/src/main/resources/db/migration/V1318__altair.sql
  modules/service/src/main/scala/lucuma/odb/service/AltairRules.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_altair.scala
Due: none

address pr comment
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_altair.scala
Due: none

Refuse the Altair ND filter with the laser
  modules/service/src/main/resources/db/migration/V1318__altair.sql
  modules/service/src/main/scala/lucuma/odb/service/AltairRules.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_altair.scala
Due: none

Altair guide environment and AGS
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationEffectHandler.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideStarResolver.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GaiaVoTables.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/altairFieldLens.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGnirs.scala
  modules/service/src/test/scala/lucuma/odb/service/GuideServiceAvailabilityHashSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/GuideServiceGuideStarHash.scala
Due: Label schema PRs

review altair validation checks
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/AltairValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_altair.scala
Due: none

Altair workflow validations
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidationInfo.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/AltairValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/GuideProbeValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_altair.scala
Due: none

Altair sequence generator and time accounting
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/GeneratorParamsSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbAltairConfiguration.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/resources/db/migration/V1319__altair_generator_params.sql
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionGnirsAltairSetup.scala
Due: Label sequence PRs

Altair pass parameters to ITC
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/data/AltairConfiguration.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/ItcInputSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbItcInput.scala
  modules/service/src/main/resources/db/migration/V1320__altair_guide_star_generator_params.sql
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionGnirsAltair.scala
Due: Label schema PRs, Label sequence PRs

Altair on telluric calibrations
  modules/schema/src/main/scala/lucuma/odb/data/AltairConfiguration.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations_gnirs_altair.scala
Due: Label schema PRs

fix gnirs setup times
  modules/service/src/main/resources/db/migration/V1322__gnirs_setup_times.sql
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionGnirsSetupTime.scala
Due: none

change parameter order
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/GuideProbeRules.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/GuideProbeValidator.scala
Due: none

renumber migration
  modules/service/src/main/resources/db/migration/V1321__gnirs_setup_times.sql
Due: none

Bump lucuma-core and adapt to the Altair signature changes
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideProbeRules.scala
Due: Label schema PRs

Add an observation priority field
  CONTEXT.md
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/ObservationPriorityBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1319__observation_priority.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label binding PRs, Label schema PRs

Filter observations by priority
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label schema PRs

Reject a null priority on create, as update already does
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
Due: none

Check the observation priority enum at startup
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
Due: none

cleanup
  CONTEXT.md
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: none

Update core
  build.sbt
Due: none

sc-10351 Ignore GAIA brightnesses in the ITC
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGaiaBandSuite.scala
  itc/service/src/main/scala/lucuma/itc/legacy/bands.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/package.scala
  itc/tests/src/test/scala/lucuma/itc/service/legacyBandsSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopySignalToNoiseSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/extensions.scala
Due: Label tests PRs

remove `when` helper from validators in favor of `orEmpty`
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/AltairValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/GnirsSpectroscopyValidator.scala
Due: none

Leave guide star presence to the sequence calculation
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidationInfo.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/AltairValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_altair.scala
Due: none

Resolve the Altair guide star through AGS
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideStarResolver.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GaiaVoTables.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/altairFieldLens.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGnirs.scala
Due: none

renumber migration
  modules/service/src/main/resources/db/migration/V1320__altair_generator_params.sql
Due: none

renumber migration
  modules/service/src/main/resources/db/migration/V1322__configuration_request_altair.sql
Due: none

Altair guide star loop in the generator
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/ItcInputSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbItcInput.scala
  modules/service/src/main/resources/db/migration/V1320__altair_guide_star_generator_params.sql
  modules/service/src/main/resources/db/migration/V1321__itc_result_altair_hash.sql
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorContext.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/GuideProbeValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations_gnirs_altair.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionGnirsAltair.scala
  modules/service/src/test/scala/lucuma/odb/service/ItcServiceSuite.scala
Due: Label sequence PRs

Altair mode in configuration requests
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/service/src/main/resources/db/migration/V1321__configuration_request_altair.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ConfigurationRequestView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_UniquenessKey.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_altair.scala
Due: Label schema PRs
