Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

renumber again
  modules/service/src/main/resources/db/migration/V1193__exchange_observation_modes.sql
  modules/service/src/main/resources/db/migration/V1194__is_visitor.sql
  modules/service/src/main/resources/db/migration/V1195__exchange_observations.sql
Due: none

Support external-to-gemini exchange observations
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/exchange/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/visitor/Config.scala
  modules/service/src/main/resources/db/migration/V1187__exchange_observation_modes.sql
  modules/service/src/main/resources/db/migration/V1188__is_visitor.sql
  modules/service/src/main/resources/db/migration/V1189__exchange_observations.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ExchangeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExchangeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ExchangeView.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigMatcher.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/ExchangeService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/syntax/observingModeType.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_Exchange.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_Exchange.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GenerationTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_exchange.scala
  modules/service/src/test/scala/lucuma/odb/unimplemented.scala
Due: Label schema PRs, Label sequence PRs

A couple more tests
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
Due: none

fallout from rebase
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/service/src/main/resources/db/migration/V1192__exchange_observation_modes.sql
  modules/service/src/main/resources/db/migration/V1193__is_visitor.sql
  modules/service/src/main/resources/db/migration/V1194__exchange_observations.sql
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
Due: Label sequence PRs

fix gnirs configuration joins
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationGnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsSpectroscopyView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configuration.scala
Due: none

update sbt lucuma
  project/plugins.sbt
Due: none

Consider the sky position when calculating AGS for ghost
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGhost.scala
Due: none

Update lucuma-core
  build.sbt
Due: none

Reset base version
  build.sbt
Due: none

Try updating base version
  build.sbt
Due: none

don't count off-slit steps towards s/n in gnirs
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
Due: Label sequence PRs

make free offsets with p = 0 and q > slit/2 count as sky in igrins2 and gnirs
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciIgrins2.scala
Due: Label sequence PRs

use coadds from smart cal for gnirs arcs and flats
  modules/service/src/main/resources/db/migration/V1196__smart_gnirs_coadds.sql
  modules/service/src/main/scala/db/migration/R__SmartGnirs.scala
  modules/service/src/main/scala/db/migration/SmartGnirsLoader.scala
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
Due: none

address pr comments
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
Due: none

gnirs ifu offsets
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Science.scala
  modules/service/src/main/resources/db/migration/V1193__gnirs_ifu_telescope_configs.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsSpectroscopyInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsSpectroscopyMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsSpectroscopyView.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsSpectroscopyService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsIfu.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
Due: Label schema PRs, Label sequence PRs

renumber migration
  modules/service/src/main/resources/db/migration/V1196__gnirs_ifu_telescope_configs.sql
Due: none

types for gnirs spectroscopy and ifu params
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1197__gnirs_ifu_seed_telescope_configs.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsSpectroscopyInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsSpectroscopyMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsSpectroscopyView.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsSpectroscopyService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsIfu.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
Due: Label schema PRs

remove unused implicit, scalafix
  modules/service/src/main/scala/lucuma/odb/service/GnirsSpectroscopyService.scala
Due: none

renumber migrations
  modules/service/src/main/resources/db/migration/V1197__gnirs_ifu_telescope_configs.sql
  modules/service/src/main/resources/db/migration/V1198__gnirs_ifu_seed_telescope_configs.sql
Due: none

contemplate ifu offsetting in science checks
  modules/sequence/src/main/scala/lucuma/odb/sequence/extensions.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/utils.scala
Due: Label sequence PRs

fix tests
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciIgrins2.scala
Due: none

gnirs ifu acquisitions
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Spectroscopy.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirsIfu.scala
Due: Label sequence PRs

add missing acquisition step in gnirs
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Acquisition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirs.scala
Due: Label sequence PRs

Remove println
  resource/service/src/test/scala/lucuma/resource/test/ResourceGraphQLSuite.scala
  resource/service/src/test/scala/lucuma/resource/test/ServerFixtures.scala
Due: none

implement chown
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/ChownRoutes.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/chown/ChownSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/email/emailWebhookRoutes.scala
  modules/sso-service/src/main/resources/logback.xml
  modules/sso-service/src/main/resources/simplelogger.properties
  modules/sso-service/src/main/scala/Main.scala
  modules/sso-service/src/main/scala/OdbClient.scala
  modules/sso-service/src/main/scala/Routes.scala
  modules/sso-service/src/main/scala/config/Config.scala
  modules/sso-service/src/main/scala/database/Database.scala
  modules/sso-service/src/test/scala/CorsSuite.scala
  modules/sso-service/src/test/scala/simulator/SsoSimulator.scala
Due: Label sso-service PRs

uh
  modules/service/src/test/scala/lucuma/odb/graphql/chown/ChownSuite.scala
Due: none

remove cruft
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/sso-service/src/main/scala/config/Config.scala
Due: Label sso-service PRs

implement reset sequence for gnirs
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirs.scala
Due: none

Fix for a security vulnerabity while checking the domains for CORS
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/service/src/main/scala/lucuma/odb/ServerMiddleware.scala
  modules/sso-service/src/main/scala/ServerMiddleware.scala
Due: Label sso-service PRs

Create a common module for the CORS fix
  build.sbt
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/common-middleware/src/main/scala/lucuma/common/middleware/CorsUtils.scala
  modules/service/src/main/scala/lucuma/odb/ServerMiddleware.scala
  modules/sso-service/src/main/scala/ServerMiddleware.scala
Due: Label sso-service PRs

Resource should also use the common cors middleware
  build.sbt
  resource/service/src/main/scala/resource/server/http4s/ServerMiddleware.scala
Due: none

Add tests
  build.sbt
  modules/common-middleware/src/main/scala/lucuma/common/middleware/CorsMiddleware.scala
  modules/common-middleware/src/test/scala/lucuma/common/middleware/CorsMiddlewareSuite.scala
  modules/service/src/main/scala/lucuma/odb/ServerMiddleware.scala
  modules/sso-service/src/main/scala/ServerMiddleware.scala
  modules/sso-service/src/test/scala/CorsSuite.scala
Due: Label sso-service PRs

Open ITC CORS to any domain
  build.sbt
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
Due: none

Do CORS host check with Uri.Host
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/common-middleware/src/main/scala/lucuma/common/middleware/CorsMiddleware.scala
  modules/service/src/main/scala/lucuma/odb/ServerMiddleware.scala
  modules/sso-service/src/main/scala/ServerMiddleware.scala
  modules/sso-service/src/test/scala/CorsSuite.scala
Due: Label sso-service PRs

Regenerate workflows
  .mergify.yml
  build.sbt
Due: none

include internal jars in deploy package
  build.sbt
Due: none

gnirs imaging phase0
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Imaging.tsv
  modules/phase0/src/main/scala/lucuma/odb/phase0/ConfigurationRow.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/FileReader.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/GnirsImagingRow.scala
  modules/phase0/src/test/scala/lucuma/odb/phase0/Phase0LoaderSuite.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1199__gnirs_imaging_config_option.sql
  modules/service/src/main/scala/db/migration/Phase0Loader.scala
  modules/service/src/main/scala/db/migration/Phase0Table.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ImagingConfigOptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ImagingConfigOptionTable.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/imagingConfigOptions.scala
Due: Label phase0 PRs, Label schema PRs

clone
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/explicitSignalToNoiseTarget.scala
Due: none

rename
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TargetEnvironmentInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateObservationsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/ServiceOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/explicitSignalToNoiseTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
Due: Label schema PRs

signal to noise target
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbItcInput.scala
  modules/service/src/main/resources/db/migration/V1199__signal_to_noise_target.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TargetEnvironmentInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateObservationsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/ServiceOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/signalToNoiseTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
Due: Label schema PRs, Label sequence PRs

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
