Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

fix executionEvents
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionEvents.scala
Due: none

fix executionDatasets
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/7591.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDatasets.scala
Due: none

Limit step abandonment to same sequence type
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GenerationTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqFlamingos2_WithoutSkySubtraction.scala
Due: none

abandon and delete unexecuted sequence part
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
Due: none

Switch back to timestamp ordering of executed (or executing) atoms and steps.
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AtomRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/AtomRecordPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/StepRecordPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AtomRecordView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/StepRecordView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqFlamingos2_WithoutSkySubtraction.scala
Due: Label schema PRs

reset acquisition
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqFlamingos2_WithoutSkySubtraction.scala
Due: Label sequence PRs

indices
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
Due: none

Fix ArbGeneratorParams
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
Due: Label sequence PRs

executionAcqGmosNorth
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosNorth.scala
Due: none

Allow staff to edit acquisition for ongoing observations
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TargetEnvironmentInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/7591.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/7658.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
Due: Label schema PRs

wip manual sequence generation
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: none

improve
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: none

stream from database
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: none

stream using latest static config
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: none

Now I am become Death, the destroyer of worlds.
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/ExecutionConfigGenerator.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorContext.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorError.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3219.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/7591.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqFlamingos2_WithoutSkySubtraction.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: Label sequence PRs

refactor Generator
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ProtoExecutionConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/StreamingExecutionConfig.scala
  modules/service/src/main/scala/lucuma/odb/logic/ExecutionConfigGenerator.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
Due: Label sequence PRs

Rebase, add IGRINS2 placeholders
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
Due: none

select sequence
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: none

pure sequences
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/StreamingExecutionConfig.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
Due: Label sequence PRs

materialize method
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/data/ResultExtensions.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: Label sequence PRs

comment
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
Due: none

Remove ExecutionConfigGenerator
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Imaging.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
Due: Label sequence PRs

add AtomInput, StepInput
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/BreakpointBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/AtomInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/StepInput.scala
Due: Label binding PRs, Label schema PRs

Remove 'when' parameter from generate
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
Due: Label sequence PRs

Remove recordVisit, recordStep ...
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
Due: Label sequence PRs

Remove tracking visits, steps, etc.
  modules/sequence/src/main/scala/lucuma/odb/data/OneOf3.scala
  modules/sequence/src/main/scala/lucuma/odb/data/OneOf4.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/stream.scala
Due: Label sequence PRs

Unused code
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordAtom.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordStep.scala
Due: Label schema PRs

migration
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
Due: none

Update event handling
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/data/AtomExecutionState.scala
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddAtomEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddDatasetEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddStepEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordAtomInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordStepInput.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
Due: Label schema PRs, Label sequence PRs

Remove AtomRecord / StepRecord classes
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/AtomRecord.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ProtoStep.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/StepRecord.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/AtomBuilder.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/IndexTracker.scala
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AtomRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AtomRecordSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OffsetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordAtomResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordStepResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepConfigMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TelescopeConfigMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AtomRecordTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AtomTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/StepRecordView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/StepView.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingService.scala
Due: Label schema PRs, Label sequence PRs

Deprecate atom events
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/data/AtomExecutionState.scala
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddSequenceEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddSlewEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addAtomEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addDatasetEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSequenceEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSlewEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addStepEvent.scala
Due: Label schema PRs, Label sequence PRs

test refactoring
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3219.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/7591.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addAtomEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addDatasetEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSequenceEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addStepEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateDatasets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/DatasetSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GenerationTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqFlamingos2_WithoutSkySubtraction.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth.scala
Due: none

addStepEvent working
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addAtomEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addStepEvent.scala
Due: none

Add a visit id parameter to recordDataset mutation
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordDatasetInput.scala
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5017.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6589.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addDatasetEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordDataset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateDatasets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/DatasetSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionQuerySetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/datasetChronicleEntries.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqFlamingos2_WithoutSkySubtraction.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorthImaging.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timeAccounting.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/executionEventAdded.scala
Due: Label schema PRs

add events working
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/graphql/table/AtomRecordView.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addAtomEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addDatasetEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSequenceEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSlewEvent.scala
Due: Label schema PRs

fix executionDigest
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/test/scala/lucuma/odb/graphql/query/GenerationTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAtomRecords.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
Due: none

record and step list offset
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AtomRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/AtomRecordPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/StepRecordPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AtomRecordView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/StepRecordView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionQuerySetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAtomRecords.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionEvents.scala
Due: Label schema PRs

rebase, fix
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateDatasets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/DatasetSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GenerationTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosNorth.scala
Due: none

Fix executionAtomRecords
  modules/service/src/test/scala/lucuma/odb/graphql/query/GenerationTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAtomRecords.scala
Due: none
