Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Add retry.
  modules/service/src/main/resources/db/migration/V0982__obscalc.sql
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

Replace ItcService and Generator error types with OdbError
  modules/service/src/main/resources/db/migration/V0979__cache_update.sql
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
Due: Label service PRs

update streams
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

use Config
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/Config.scala
Due: Label service PRs

remove updateOnly
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

Obscalc.Entry
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

SequenceUnavailable
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/schema/src/test/scala/lucuma/odb/data/OdbErrorSuite.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3660.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5098.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setGuideTargetName.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionFailures.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideAvailability.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironment.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironments.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs, Label sequence PRs, Label service PRs

A session per calculation job - fixes a nested transaction issue.
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
Due: none

comment
  modules/service/src/main/resources/db/migration/V0982__obscalc.sql
Due: Label service PRs

rename migration
  modules/service/src/main/resources/db/migration/V0984__obscalc.sql
Due: Label service PRs

comments
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
Due: Label service PRs

only process events switching to pending state
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/resources/db/migration/V0984__obscalc.sql
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObscalcTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

early exit on delete
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/resources/db/migration/V0982__obscalc.sql
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

test case message
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2887.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5098.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
Due: Label service PRs

don't retry normal ITC errors like source too bright
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/schema/src/test/scala/lucuma/odb/data/OdbErrorSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionFailures.scala
Due: Label schema PRs, Label service PRs

rebase
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObscalcTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
Due: Label service PRs

cleanup / doc
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/resources/db/migration/V0984__obscalc.sql
Due: Label service PRs

subscription API
  modules/binding/src/main/scala/lucuma/odb/data/ObscalcState.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/ObscalcStateBinding.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0985__obscalc.sql
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObscalcUpdatedInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereOptionEq.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObscalcUpdateMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ObscalcUpdatePredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObscalcTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/obscalcUpdate.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs, Label service PRs

annoyance
  modules/service/src/main/resources/db/migration/V0984__obscalc.sql
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

Update build.sbt
  build.sbt
Due: none

other stuff
  project/build.properties
  project/plugins.sbt
Due: none

Remove extraneous Json Codecs
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/MissingParam.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/MissingParamSet.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: Label sequence PRs, Label service PRs

rebase
  modules/service/src/main/resources/db/migration/V0982__obscalc.sql
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
Due: Label service PRs

tests
  modules/service/src/main/resources/db/migration/V0979__cache_update.sql
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

OdbError or IntegrationTime
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
Due: Label sequence PRs, Label service PRs

Path conditions:
  Label calibrations PRs: any of: ^modules/calibrations/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
