Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17)
  actions:
    merge: {}
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

Remove program id from attachment endpoints
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/AttachmentsSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachmentRoutes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/obsAttachmentsAssignments.scala
Due: Label service PRs

test
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
Due: Label service PRs

Move program id to query parameter in attachments POST endpoint
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/AttachmentsSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachmentRoutes.scala
Due: Label service PRs

Fix datasetId mapping
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/datasetEdit.scala
Due: Label service PRs

Filter out deleted targets
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationsServiceSuite.scala
Due: Label service PRs

adjust to new access model
  modules/service/src/test/scala/lucuma/odb/service/CalibrationsServiceSuite.scala
Due: Label service PRs

Add GMOS acquisition breakpoints
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/AtomBuilder.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcq.scala
Due: Label sequence PRs, Label service PRs

Updated list of SEDs
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

Fix some compilation errors
  modules/phase0/src/main/scala/lucuma/odb/phase0/SpectroscopyRow.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: Label phase0 PRs, Label sequence PRs, Label service PRs

custom sed in attachment
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sourceprofile.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/UnnormalizedSedInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createTarget.scala
Due: Label schema PRs, Label service PRs

migrate existing targets, add missing decoder
  modules/schema/src/main/scala/lucuma/odb/json/sourceprofile.scala
  modules/service/src/main/resources/db/migration/V0955__add_fluxDensitiesAttachment.sql
Due: Label schema PRs, Label service PRs

scalafix
  modules/schema/src/main/scala/lucuma/odb/json/sourceprofile.scala
Due: Label schema PRs

add missing schema entry, fix test
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/test/scala/lucuma/odb/graphql/query/spectroscopyConfigOptions.scala
Due: Label schema PRs, Label service PRs

more access control
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label service PRs

revert test "fix"
  modules/service/src/test/scala/lucuma/odb/graphql/query/spectroscopyConfigOptions.scala
Due: Label service PRs

remove migration
  modules/service/src/main/resources/db/migration/V0955__add_fluxDensitiesAttachment.sql
Due: Label service PRs

Sort spectroscopy config options
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
Due: Label service PRs

Remove obsolete options
  modules/service/src/main/resources/db/migration/V0955__remove_obsolete.sql
Due: Label service PRs

cleanup smartcal / phase0
  build.sbt
  modules/phase0/src/main/scala/lucuma/odb/phase0/GmosSpectroscopyRow.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/service/src/main/scala/db/migration/R__Phase0.scala
  modules/service/src/main/scala/db/migration/R__SmartGmosNorth.scala
  modules/service/src/main/scala/db/migration/R__SmartGmosSouth.scala
  modules/service/src/main/scala/db/migration/SmartGcalMigration.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/gcal.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/gmosNorth.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/gmosSouth.scala
Due: Label phase0 PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs
