Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

fix test case
  modules/service/src/test/scala/lucuma/odb/graphql/query/programUsers.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
Due: Label service PRs

Fix migration file name
  modules/service/src/main/resources/db/migration/V0933__fallback.sql
Due: Label service PRs

comment
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

bulk generatorParams
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

scalafix
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

bulk generatorparams
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

remove commented lines
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

proposed updates
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0934__program_user_update.sql
Due: Label schema PRs, Label service PRs

reset acquisition option
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcq.scala
Due: Label schema PRs, Label sequence PRs, Label service PRs

comment
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
Due: Label schema PRs, Label sequence PRs, Label service PRs

update sbt-lucuma to 0.12.2
  project/plugins.sbt
Due: none

Use central wavelength for guide star stuff
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/service/GuideServiceAvailabilityHashSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/GuideServiceGuideStarHash.scala
Due: Label service PRs

unrelated small change
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
Due: Label service PRs

Remove unnecessary table alias
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: Label service PRs

cois
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
Due: Label service PRs

wip
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
Due: Label service PRs

wip
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
Due: Label service PRs

wip
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

cleanup
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
Due: Label service PRs

comments
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

access
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

Path conditions:
  Label calibrations PRs: any of: ^modules/calibrations/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
