Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

read fields for reads/readMode
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2ImagingMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_Flamingos2Imaging.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_Flamingos2Imaging.scala
Due: Label schema PRs

Remove val on the filter checks trait
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2ImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ImagingFilterCheck.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2ImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2ImagingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/ImagingFilterCheckSuite.scala
Due: Label schema PRs

Renumber migration
  modules/service/src/main/resources/db/migration/V1163__flamingos2_imaging.sql
Due: none

Deleted group bug
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateGroupsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programPlannedTime.scala
Due: Label schema PRs

remove includeDeleted
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateGroupsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
Due: Label schema PRs

Flamingos2 imaging config options
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Imaging.tsv
  modules/phase0/src/main/scala/lucuma/odb/phase0/FileReader.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/Flamingos2ImagingRow.scala
  modules/phase0/src/test/scala/lucuma/odb/phase0/Phase0LoaderSuite.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1164__flamingos2_imaging_config_option.sql
  modules/service/src/main/scala/db/migration/Phase0Loader.scala
  modules/service/src/main/scala/db/migration/Phase0Table.scala
  modules/service/src/main/scala/db/migration/R__Phase0.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ImagingConfigOptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ImagingConfigOptionTable.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/imagingConfigOptions.scala
Due: Label phase0 PRs, Label schema PRs

gnirs acq generation refinement, acq offset tied to acq type
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1161__gnirs_acquisition_cleanup.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsLongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirs.scala
Due: Label schema PRs, Label sequence PRs

renumber migration
  modules/service/src/main/resources/db/migration/V1165__gnirs_acquisition_cleanup.sql
Due: none

reenable startup diagnostics
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
Due: none

core version
  build.sbt
Due: none

retrofit existing rows in migration
  modules/service/src/main/resources/db/migration/V1165__gnirs_acquisition_cleanup.sql
Due: none

Add support to delete Flamingos2 imaging observations
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2ImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_Flamingos2Imaging.scala
Due: none

Switch to target ids in GHOST IFU mapping
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/ghost.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/GhostIfuMappingSyntax.scala
  modules/service/src/main/resources/db/migration/V1165__ghost.sql
  modules/service/src/main/scala/lucuma/odb/service/GhostIfuService.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/util/GhostCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGhostIfu.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: Label schema PRs, Label sequence PRs

core
  build.sbt
Due: none

mima
  build.sbt
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1166__ghost.sql
Due: none

Set igrins2 reacq time to 0.
  modules/service/src/main/resources/db/migration/V1167__igrins2_reacquisition_zero.sql
Due: none

isSplittable
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SchedulingPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timingWindows_deprecated.scala
Due: Label schema PRs

Only staff can modify 'checked' property of attachments
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/AttachmentsSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachments.scala
Due: none

Rename scienceFov to agsDiameter, maroonX will use the sky fiber diameter of 30 arcsecs rather than the fiber fov
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/visitor/Config.scala
  modules/service/src/main/resources/db/migration/V1168__visitor_ags_diameter.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/VisitorInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AngleMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitorMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/VisitorTable.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitorService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionPlannedTime_AlienVisitor.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_viistors.scala
Due: Label schema PRs, Label sequence PRs

reformat
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: none

enable ags for gnirs longslit
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGnirs.scala
Due: none

enable sn etm on seq generation for gnirs
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: none

Revert "Update flyway-core to 12.8.1"
  build.sbt
Due: none

Update flyway and use flyway postgresql module
  build.sbt
Due: none

Migration changes
  build.sbt
  modules/sso-service/src/test/scala/ApiKeySuite.scala
  modules/sso-service/src/test/scala/ExistingUserSuite.scala
  modules/sso-service/src/test/scala/Fixture.scala
  modules/sso-service/src/test/scala/GraphQLSuite.scala
  modules/sso-service/src/test/scala/GuestUserSuite.scala
  modules/sso-service/src/test/scala/NewUserSuite.scala
  modules/sso-service/src/test/scala/RefreshTokenSuite.scala
  modules/sso-service/src/test/scala/SetRoleSuite.scala
  modules/sso-service/src/test/scala/SsoClientSuite.scala
  modules/sso-service/src/test/scala/config/HerokuConfigSuite.scala
  modules/sso-service/src/test/scala/issue/shortcut/3485.scala
Due: Label sso-service PRs

Rename migration that was never applied
  modules/service/src/main/resources/db/migration/V0837__update_proposal_attachments
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1169__scheduling.sql
Due: none

rename
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SchedulingConstraintsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SchedulingConstraintsMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timingWindows.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timingWindows_deprecated.scala
Due: Label schema PRs

Add SchedulingProperties type and mapping
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1168__scheduling.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SchedulingPropertiesMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: Label schema PRs

tests
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SchedulingConstraintsMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timingWindows.scala
Due: Label schema PRs

Implement resource endpoints connected to database
  resource/model/src/main/scala/resource/model/TelescopeAvailability.scala
  resource/model/src/main/scala/resource/model/TelescopeModeType.scala
  resource/model/src/main/scala/resource/model/TooSupport.scala
  resource/model/src/main/scala/resource/model/config/DatabaseConfiguration.scala
  resource/model/src/main/scala/resource/model/config/ResourceConfiguration.scala
  resource/service/src/main/resources/db/migration/V0000__telescope_night_timeline.sql
  resource/service/src/main/resources/graphql/resource.graphql
  resource/service/src/main/scala/resource/server/Codecs.scala
  resource/service/src/main/scala/resource/server/graphql/BaseMapping.scala
  resource/service/src/main/scala/resource/server/graphql/LeafMappings.scala
  resource/service/src/main/scala/resource/server/graphql/MutationMapping.scala
  resource/service/src/main/scala/resource/server/graphql/QueryMapping.scala
  resource/service/src/main/scala/resource/server/graphql/ResourceMapping.scala
  resource/service/src/main/scala/resource/server/graphql/SubscriptionMapping.scala
  resource/service/src/main/scala/resource/server/graphql/TelescopeNightTimelineMapping.scala
  resource/service/src/main/scala/resource/server/graphql/TimestampIntervalMapping.scala
  resource/service/src/main/scala/resource/server/graphql/table/TelescopeNightTimelineTable.scala
  resource/service/src/main/scala/resource/server/http4s/ResourceMain.scala
  resource/service/src/test/scala/lucuma/resource/graphql/query/TelescopeNightTimelineSuite.scala
  resource/service/src/test/scala/lucuma/resource/test/ResourceGraphQLSuite.scala
  resource/service/src/test/scala/lucuma/resource/test/ServerFixtures.scala
Due: none

gnirs acq slit image adjustments
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Acquisition.scala
  modules/service/src/main/resources/db/migration/V1169__gnirs_obscalc_invalidate.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirs.scala
Due: Label sequence PRs

renumber migration
  modules/service/src/main/resources/db/migration/V1170__gnirs_obscalc_invalidate.sql
Due: none

renumber migration
  modules/service/src/main/resources/db/migration/V1170__gnirs_longslit_telluric_type.sql
Due: none

renumber migration
  modules/service/src/main/resources/db/migration/V1171__gnirs_longslit_telluric_type.sql
Due: none
