Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Fix t_asterism_target trigger to exclude deleted targets from obs title
  modules/service/src/main/resources/db/migration/V0916__sc_3062_obs_title.sql
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3062.scala
Due: Label service PRs

Improve test name for sc-3062
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3062.scala
Due: Label service PRs

Don't create validations for calibration observations
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observationValidations.scala
Due: Label service PRs

Error when updating between bandNormalized and emissionLines
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/SpectralDefinitionInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
Due: Label service PRs

Fix ShortCut 2260
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/SourceProfileInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
Due: Label service PRs

Remove comments
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
Due: Label service PRs

Address PR comments
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observationValidations.scala
Due: Label service PRs

Twilight calibrations need a different set of conditions
  modules/service/src/main/scala/lucuma/odb/graphql/input/ConstraintSetInput.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: Label service PRs

see if this fixes the deadlock problem
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
Due: Label service PRs

wip
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
Due: Label service PRs

wip
  modules/service/src/main/resources/db/migration/V0916__unique_config_reqs.sql
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createConfigurationRequest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: Label service PRs

rename
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
Due: Label service PRs

spec phot
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/StepRecord.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science2.scala
Due: Label sequence PRs

move failures
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAtomRecords.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionFailures.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionNighttimeArcs.scala
Due: Label service PRs

generate
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/PureLongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/IndexTracker.scala
Due: Label sequence PRs

switchover
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/Generator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/Generator2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/CalLocation.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/Completion.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/IdBase.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ProtoExecutionConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/exposureTime.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/default.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/PureLongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/ScienceAtom.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/ScienceAtomSequenceState.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/SpectroPhotometric.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/StepOrder.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/SequenceIds.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/Science2Suite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/ScienceSuite.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculator.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
Due: Label sequence PRs, Label service PRs

fix spec phot
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSpecPhot.scala
Due: Label sequence PRs, Label service PRs

track visits
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/VisitRecord.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/stream.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcq.scala
Due: Label sequence PRs, Label service PRs

tracking id, position
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science2.scala
Due: Label sequence PRs

test cases and fixes
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/GmosSequenceState.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/IndexTracker.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/ScienceSuite.scala
  modules/service/src/main/resources/db/migration/V0911__dataset_qa_state.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordAtomInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/SmartGcalImplementation.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2772.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2887.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3219.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/execution.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcq.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAtomRecords.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionFailures.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionNighttimeArcs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideAvailability.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironment.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
Due: Label sequence PRs, Label service PRs

catch up
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science2.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/Science2Suite.scala
Due: Label sequence PRs

new sequence
  modules/sequence/src/main/scala/lucuma/odb/data/StepExecutionState.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/Generator2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceState.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/CalLocation.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/Completion.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/IdBase.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ProtoStep.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/StepRecord.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/GmosSequenceState.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science2.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/ScienceAtom.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/ScienceAtomSequenceState.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/StepOrder.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/syntax/all.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/syntax/qastate.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/Science2Suite.scala
  modules/service/src/main/resources/db/migration/V0905__dataset_qa_state.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
Due: Label sequence PRs, Label service PRs

Path conditions:
  Label calibrations PRs: any of: ^modules/calibrations/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
