Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

allow anyone to clear gnirs focus motors steps, rename in input
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
Due: Label schema PRs

fix legacy tests jvm version
  .github/workflows/legacy-tests.yml
Due: none

bump base version
  build.sbt
Due: none

fix legacy tests ci
  .github/workflows/legacy-tests.yml
Due: none

fix test
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndGraphSuite.scala
Due: Label tests PRs

Add macro to validate and stitch schema at compile-time
  .scalafix.conf
  build.sbt
  itc/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/schema/SchemaSource.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/schema/SchemaStitcher.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/schema/SchemaStitcherImpl.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/schema/SchemaStitcherMacros.scala
  modules/binding/src/test/scala/lucuma/odb/graphql/schema/SchemaStitcherTest.scala
  modules/sso-service/src/main/scala/graphql/SsoMapping.scala
  resource/service/src/main/scala/resource/server/http4s/GraphQlRoutes.scala
Due: Label binding PRs, Label sso-service PRs

Add plan time calculation for resident visitors
  modules/sequence/src/main/scala/lucuma/odb/sequence/visitor/VisitorTimeCalculator.scala
  modules/service/src/main/resources/db/migration/V1149__visitor_planned_time.sql
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionPlannedTime_ResidentVisitor.scala
Due: Label sequence PRs

Renamed calculator class
  modules/sequence/src/main/scala/lucuma/odb/sequence/visitor/VisitorExecutionDigestCalculator.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
Due: Label sequence PRs

rename acquisitionType property
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
Due: Label schema PRs

gnirs acqType instead of readMode
  modules/CLAUDE.md
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GnirsAcquisitionTypeBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1149__gnirs_acq_type.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/util/GnirsCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
Due: Label binding PRs, Label schema PRs, Label sequence PRs

scalafix
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
Due: Label sequence PRs

renumber migration
  modules/service/src/main/resources/db/migration/V1150__gnirs_acq_type.sql
Due: none

Fix issue with schema resources availability during compilation
  build.sbt
  modules/binding/src/main/scala/lucuma/odb/graphql/schema/SchemaSource.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/schema/SchemaStitcher.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/schema/SchemaStitcherMacros.scala
Due: Label binding PRs

Fix line mapping on schema validation
  .github/validate-schema.mjs
Due: none

Fix lucumaScalafmtCheck broke by automerged PR
  .scalafmt-common.conf
Due: none

scalafmt
  resource/service/src/main/scala/resource/server/http4s/ResourceMain.scala
Due: none

lucumaScalafixGenerate
  .scalafix-common.conf
Due: none

Added planned time result for alien visitors
  modules/sequence/src/main/scala/lucuma/odb/sequence/visitor/VisitorExecutionDigestCalculator.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionPlannedTime_AlienVisitor.scala
Due: Label sequence PRs

Add trigger to invalidate visitors obscalc
  modules/service/src/main/resources/db/migration/V1151__visitor_obscalc_invalidate.sql
Due: none

Update itc jar files for ghost camera swap issue
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.1.jar
Due: none

Allow change observing mode even with an edited sequence
  modules/service/src/main/resources/db/migration/V1152__clear_sequence_on_instrument_change.sql
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/8094.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceGmosNorthSequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
Due: none

Add enum modes to the schema
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/8802.scala
Due: Label schema PRs

materialize gnirs sequences
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GnirsFpuOtherBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/all.scala
  modules/service/src/main/resources/db/migration/V1152__gnirs_sequence.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AtomInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsDynamicInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ReplaceSequenceInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/StepInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsAcquisitionMirrorOutMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsDynamicMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsStaticMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsDynamicView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsStaticTable.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/GnirsCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceGnirsSequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
Due: Label binding PRs, Label schema PRs

gnirs sn wavelength units fix
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecSignalToNoiseSuite.scala
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.1.jar
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
Due: none

add gnirs record test
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
Due: none

unify gnirs with f2 logic for readmode handling
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GnirsObsReadModeBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Science.scala
  modules/service/src/main/resources/db/migration/V1153__gnirs_auto_read_mode.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/util/GnirsCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
Due: Label binding PRs, Label schema PRs, Label sequence PRs

Include a groupId in group events
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GroupEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/7118.scala
Due: Label schema PRs

rearrange gnirs acq properties
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsLongSlitService.scala
Due: Label sequence PRs

remodel gnirs acq offset
  modules/CLAUDE.md
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1154__gnirs_sky_offset.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsLongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
Due: Label schema PRs, Label sequence PRs

gnirs acq type can now be null (automatic)
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1154__gnirs_auto_acq_type.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsLongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
Due: Label schema PRs, Label sequence PRs

Fix merge.
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1155__gnirs_auto_acq_type.sql
Due: Label sequence PRs

gnirs central wavelength fix model
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/gnirs.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/InitialConfigs.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Science.scala
  modules/service/src/main/resources/db/migration/V1154__gnirs_dynamic_central_wavelength.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsDynamicInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/util/GnirsCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceGnirsSequence.scala
Due: Label schema PRs, Label sequence PRs

renumber
  modules/service/src/main/resources/db/migration/V1156__gnirs_dynamic_central_wavelength.sql
Due: none

IFU mapping
  modules/binding/src/main/scala/lucuma/odb/data/PosAngleConstraintMode.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/coordinates.scala
  modules/schema/src/main/scala/lucuma/odb/json/ghost.scala
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/schema/src/main/scala/lucuma/odb/json/target.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/GhostStaticConfigSyntax.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/StaticContext.scala
  modules/service/src/main/resources/db/migration/V1150__ghost.sql
  modules/service/src/main/resources/db/migration/V1151__ghost.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostIfuService.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/main/scala/lucuma/odb/util/GhostCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGhostIfu.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: Label binding PRs, Label schema PRs, Label sequence PRs

change API to be Grackle friendly
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/ghost.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/GhostStaticConfigSyntax.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGhostIfu.scala
Due: Label schema PRs, Label sequence PRs

refactor + validate
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/GhostIfuMappingSyntax.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/IfuMappingContext.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostIfuService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGhostIfu.scala
Due: Label sequence PRs

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
