Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Update lucuma-graphql-routes to 0.14.0
  build.sbt
Due: none

support gmos ifu in itc
  itc/benchmarks/src/main/scala/lucuma/itc/benchmarks/ItcBenchmarkSetup.scala
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/CommonITCLegacySuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosIfuSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecSignalToNoiseSuite.scala
  itc/model/src/main/scala/lucuma/itc/GmosIfuAnalysis.scala
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.2.jar
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/scala/lucuma/itc/input/GmosIfuAnalysisInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GmosNSpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GmosSSpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/legacy/syntax/InstrumentSyntax.scala
  itc/service/src/main/scala/lucuma/itc/package.scala
  itc/service/src/main/scala/lucuma/itc/service/GmosIfuSky.scala
  itc/service/src/main/scala/lucuma/itc/service/GmosSpecParams.scala
  itc/service/src/main/scala/lucuma/itc/service/ObservingMode.scala
  itc/service/src/main/scala/lucuma/itc/service/hashes.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/spectroscopyTime.scala
  itc/service/src/main/scala/lucuma/itc/service/syntax/GmosNorthFpu.scala
  itc/service/src/main/scala/lucuma/itc/service/syntax/GmosSouthFpu.scala
  itc/testkit/src/main/scala/lucuma/itc/client/arb/ArbInstrumentMode.scala
  itc/tests/src/test/scala/lucuma/itc/service/GmosIfuAnalysisMethodSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/GraphQLSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/TargetGraphsFromLegacySuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopySignalToNoiseSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirsManualFilter.scala
Due: Label benchmarks PRs, Label client PRs, Label model PRs, Label testkit PRs, Label tests PRs

bump base version
  build.sbt
Due: none

fix rebase
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosR150BlueSuite.scala
Due: none

scalafmt
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosIfuSuite.scala
  itc/model/src/main/scala/lucuma/itc/GmosIfuAnalysis.scala
Due: Label model PRs

bump core
  build.sbt
Due: none

move enum to core
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosIfuSuite.scala
  itc/model/src/main/scala/lucuma/itc/GmosIfuAnalysis.scala
  itc/service/src/main/scala/lucuma/itc/input/GmosIfuAnalysisInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GmosNSpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GmosSSpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/service/ObservingMode.scala
  itc/service/src/main/scala/lucuma/itc/service/hashes.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/spectroscopyTime.scala
  itc/testkit/src/main/scala/lucuma/itc/client/arb/ArbInstrumentMode.scala
  itc/tests/src/test/scala/lucuma/itc/service/GmosIfuAnalysisMethodSuite.scala
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
Due: Label client PRs, Label model PRs, Label schema PRs, Label testkit PRs, Label tests PRs

avoid exhaustivity warnings
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: none

bump clue
  build.sbt
Due: none

bump routes
  build.sbt
Due: none

add missing enums
  build.sbt
  modules/service/src/main/resources/db/migration/V1280__core_enum_catch_up.sql
Due: none

update unimplemented modes list, noop instead of err test
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/unimplemented.scala
Due: none

update itc jars
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.2.jar
Due: none

fix result when wl present in both slits, fix unimplemented list
  itc/service/src/main/scala/lucuma/itc/package.scala
  itc/tests/src/test/scala/lucuma/itc/service/TargetGraphsFromLegacySuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirsManualFilter.scala
  modules/service/src/test/scala/lucuma/odb/unimplemented.scala
Due: Label tests PRs

Minimal support for lucuma-core 0.236.1
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1281__for_review_workflow_state.sql
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label schema PRs

minimumRequired validations for OR groups
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GroupPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateGroups.scala
Due: Label schema PRs

renumber migration
  modules/service/src/main/resources/db/migration/V1280__group_clamp_min_required.sql
Due: none

keeps groups minimumRequired auto updated
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1273__group_clamp_min_required.sql
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateGroups.scala
Due: Label schema PRs

address pr comments
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1280__group_clamp_min_required.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GroupPropertiesInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateGroups.scala
Due: Label schema PRs

renumber migration
  modules/service/src/main/resources/db/migration/V1282__group_clamp_min_required.sql
Due: none

Add Clue-backend-agnostic ItcClient function
  itc/client/shared/src/main/scala/lucuma/itc/client/ItcClient.scala
Due: Label client PRs

Update lucuma-graphql-routes to 0.14.1
  build.sbt
Due: none

Run githubWorkflowCheck once in the checks job
  .github/workflows/ci.yml
  build.sbt
Due: none

Add t_timing_window index on obs id
  modules/service/src/main/resources/db/migration/V1280__too_trigger_default_window.sql
Due: none

Default scheduling window
  modules/service/src/main/resources/db/migration/V1280__too_trigger_default_window.sql
  modules/service/src/test/scala/lucuma/odb/graphql/TooTriggerSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/tooTriggerDefaultWindow.scala
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1283__too_trigger_default_window.sql
Due: none

Run test suites in parallel within each project
  build.sbt
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/sso-service/src/test/scala/simulator/SsoSimulator.scala
Due: Label sso-service PRs

Remove `UNIQUE` on proposal and program reference generated columns.
  modules/service/src/main/resources/db/migration/V1280__program_reference_plain_index.sql
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationSearchService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1284__program_reference_plain_index.sql
Due: none

Allow linking finder charts for ongoing observations.
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
Due: none

Prebuild and cache test database images in CI
  .github/workflows/ci.yml
  build.sbt
  modules/service/src/.dockerignore
  modules/service/src/Dockerfile
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/sso-service/src/.dockerignore
  modules/sso-service/src/Dockerfile
  modules/sso-service/src/test/scala/simulator/SsoSimulator.scala
Due: Label sso-service PRs

Add the Summary attachment type
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1286__summary_attachment_unique.sql
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuiteWithS3.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/obsAttachmentsAssignments.scala
Due: Label schema PRs

Update workflow documentation to include the forreview state
  modules/service/docs/observation-workflow-states.md
  modules/service/docs/observation-workflow.svg
Due: none

Group the AEON fields under an AeonMultiFacility object
  CONTEXT.md
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1286__aeon_required_instruments.sql
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AeonMultiFacilityInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GeminiProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GeminiProposalTypeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProposalView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
Due: Label schema PRs

Add a field to list the required instruments for aeon
  CONTEXT.md
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1280__aeon_required_instruments.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GeminiProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GeminiProposalTypeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProposalView.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
Due: Label schema PRs

renumber
  modules/service/src/main/resources/db/migration/V1286__aeon_required_instruments.sql
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1287__aeon_required_instruments.sql
Due: none

Allow subaru proposals to contain ToO observations.
  modules/service/src/main/resources/db/migration/V1288__exchange_too_activation.sql
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidationInfo.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TooTriggerSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/tooActivationCeiling.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/tooTriggerActivation.scala
Due: none
