Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label binding PRs, Label calibrations PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

Test case
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: Label schema PRs, Label service PRs

Switch to calculate workflow in obscalc instead of using obscalc results in workflow service
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/all.scala
  modules/schema/src/main/scala/lucuma/odb/json/observationvalidation.scala
  modules/service/src/main/resources/db/migration/V0995__calculated_workflow.sql
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedObservationWorkflowMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObscalcTable.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label obscalc PRs, Label schema PRs, Label service PRs

Add getCalculatedWorkflows.
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

renumber migration
  modules/service/src/main/resources/db/migration/V0996__calculated_workflow.sql
Due: Label service PRs

cleanup
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/test/scala/lucuma/odb/json/ObservationValidationSuite.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
Due: Label schema PRs, Label service PRs

switch to builtin NonEmptyChain codec
  modules/schema/src/main/scala/lucuma/odb/json/observationvalidation.scala
  modules/schema/src/test/scala/lucuma/odb/json/ObservationValidationSuite.scala
Due: Label schema PRs

Delete the ObservationValidation circe codec
  modules/schema/src/main/scala/lucuma/odb/json/all.scala
  modules/schema/src/main/scala/lucuma/odb/json/observationvalidation.scala
  modules/schema/src/test/scala/lucuma/odb/json/ObservationValidationSuite.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: Label schema PRs, Label service PRs

cleanup
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

short circuit nested graphql calls when possible
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

Add filtering
  build.sbt
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/CalculationStateBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/ObservationWorkflowStateBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereCalculatedObservationWorkflow.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: Label binding PRs, Label schema PRs, Label service PRs

trace gaia calls
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: Label service PRs

codecs
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/arc.scala
  modules/schema/src/main/scala/lucuma/odb/json/region.scala
  modules/schema/src/main/scala/lucuma/odb/json/target.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: Label schema PRs, Label service PRs

first attempt, maintain 'digest' while adding 'calculatedDigest'
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedExecutionDigestMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CategorizedTimeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObscalcTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: Label schema PRs, Label service PRs

build
  build.sbt
Due: none

bump version
  build.sbt
Due: none

make http client timeout configurable
  modules/service/src/main/scala/lucuma/odb/Config.scala
Due: Label service PRs

swapped ExecutionDigest out for CalculatedExecutionDigest
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0997__obscalc_view.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedExecutionDigestMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedObservationWorkflowMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CategorizedTimeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObscalcView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
Due: Label schema PRs, Label service PRs

set idleConnectionTime for http client
  modules/service/src/main/scala/lucuma/odb/Config.scala
Due: Label service PRs

fix test case
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedExecutionDigestMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedObservationWorkflowMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CategorizedTimeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObscalcView.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5017.scala
Due: Label service PRs

Broken test
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2887.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5098.scala
Due: Label service PRs

oops
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
Due: Label service PRs

Remove GmosXBinning/GmosYBinning
  build.sbt
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GmosBinningBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosCcdModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosLongSlitInput.scala
Due: Label binding PRs, Label schema PRs, Label service PRs

Base code conversion
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GmosBinningBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GmosXBinningBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GmosYBinningBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosCcdModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/logic/GmosReadoutTime.scala
  modules/service/src/main/scala/lucuma/odb/util/GmosCodecs.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/GmosCommonParsers.scala
Due: Label binding PRs, Label service PRs, Label smartgcal PRs
