Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Only receive y-data for graphs from the ocs
  itc/client/shared/src/main/scala/lucuma/itc/client/SpectroscopyTimeAndGraphResult.scala
  itc/client/shared/src/main/scala/lucuma/itc/client/queries.scala
  itc/model/src/main/scala/lucuma/itc/ItcGraph.scala
  itc/model/src/main/scala/lucuma/itc/SpectroscopyTimeAndGraphsResult.scala
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.1.jar
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/resources/graphql/itc_base.graphql
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  itc/service/src/main/scala/lucuma/itc/package.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
  itc/service/src/main/scala/lucuma/itc/service/redis/redis.scala
  itc/service/src/main/scala/lucuma/itc/service/syntax/ItcSyntax.scala
  itc/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  itc/tests/src/test/scala/lucuma/itc/model/ItcXAxisSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyGraphSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndGraphSuite.scala
  itc/tests/src/test/scala/lucuma/itc/tests/MockItc.scala
Due: Label client PRs, Label model PRs, Label tests PRs

Fix itc_base.graphql for GNIRS mode
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/resources/graphql/itc_base.graphql
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
Due: Label schema PRs

Bump base version
  build.sbt
Due: none

Revert bump of itc cache manual version
  itc/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
Due: none

Fix GNIRS test
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndGraphSuite.scala
Due: Label tests PRs

Fix guideEnvironment query for GHOST
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGhost.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideTargetNameGhost.scala
Due: none

Respect default PositionAngleConstraint on createObservation
  modules/binding/src/main/scala/lucuma/odb/data/PosAngleConstraintMode.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label binding PRs

GHOST IFU skyPosition option
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/Config.scala
  modules/service/src/main/resources/db/migration/V1136__ghost.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/CoordinatesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GhostIfuInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CoordinatesMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DeclinationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GhostIfuMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RightAscensionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GhostIfuView.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostIfuService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GhostIfu.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GhostIfu.scala
  modules/service/src/test/scala/lucuma/odb/service/GhostIfuServiceSuite.scala
Due: Label schema PRs, Label sequence PRs

Set PAC to FIXED in test
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGhost.scala
Due: none

Update clue to 0.53.0
  build.sbt
Due: none

Update core and graphql-routes
  build.sbt
  itc/service/src/main/resources/graphql/itc.graphql
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/SpectroscopyCapabilitiesBinding.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/GnirsSpectroscopyRow.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SpectroscopyScienceRequirementsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereSpectroscopyConfigOption.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/spectroscopyConfigOptions.scala
Due: Label binding PRs, Label phase0 PRs, Label schema PRs

friendlier gnirs codecs
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/gnirs.scala
Due: Label schema PRs

Add visitor entries
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Imaging.tsv
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Spectroscopy.tsv
Due: Label phase0 PRs

Add phase0 reader for visitor modes
  modules/phase0/src/main/scala/lucuma/odb/phase0/ConfigurationRow.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/FileReader.scala
  modules/service/src/main/scala/db/migration/Phase0Loader.scala
Due: Label phase0 PRs

scalafix
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Imaging.tsv
  modules/phase0/src/main/scala/lucuma/odb/phase0/ConfigurationRow.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/FileReader.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereImagingConfigOption.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/imagingConfigOptions.scala
Due: Label phase0 PRs

Add the concept of imaging capabilities for zorro and alopeke
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Imaging.tsv
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Spectroscopy.tsv
  modules/phase0/src/main/scala/lucuma/odb/phase0/ConfigurationRow.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/ImagingCapabilities.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1136__imaging_capability.sql
  modules/service/src/main/scala/db/migration/Phase0Table.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ImagingConfigOptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ImagingConfigOptionTable.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: Label phase0 PRs, Label schema PRs

Update the plurality on the schema and on the db
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1136__imaging_capability.sql
  modules/service/src/main/scala/db/migration/Phase0Table.scala
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ImagingConfigOptionTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/SpectroscopyConfigOptionTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: Label schema PRs

Add criteria to query for specific imaging capabilities
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereImagingConfigOption.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/imagingConfigOptions.scala
Due: Label schema PRs

Rename Imaging/Spectroscopy Capabilities to the singular form
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/SpectroscopyCapabilityBinding.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/ConfigurationRow.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereImagingConfigOption.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/imagingConfigOptions.scala
Due: Label binding PRs, Label phase0 PRs

Use lucmua-core enum for imaging capabilities
  modules/phase0/src/main/scala/lucuma/odb/phase0/ConfigurationRow.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/ImagingCapabilities.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereImagingConfigOption.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/imagingConfigOptions.scala
Due: Label phase0 PRs

Renumber migration
  modules/service/src/main/resources/db/migration/V1137__imaging_capability.sql
Due: none

Add MaroonX
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Spectroscopy.tsv
  modules/phase0/src/main/scala/lucuma/odb/phase0/ConfigurationRow.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/FileReader.scala
  modules/service/src/main/scala/db/migration/Phase0Loader.scala
Due: Label phase0 PRs

Update binary version
  build.sbt
Due: none

remove ITC/generator validations and executionstate for visitor modes
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: none

add test
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_viistors.scala
Due: none

Don't allow setting non long-slit fpus
  build.sbt
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosLongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: none

Update clue to 0.53.1 and graphql-routes to 0.13.3
  build.sbt
Due: none

Update lucuma-core version
  build.sbt
Due: none

Rename guideMinStarSep to scienceFov
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/visitor/Config.scala
  modules/service/src/main/resources/db/migration/V1138__visitor_science_fov.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/VisitorInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AngleMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitorMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/VisitorTable.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitorService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
Due: Label schema PRs, Label sequence PRs

Add a comment about the meaning of the science fov
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/visitor/Config.scala
  modules/service/src/main/resources/db/migration/V1138__visitor_science_fov.sql
Due: Label schema PRs, Label sequence PRs

Flake fixes
  flake.nix
Due: none

Check the execution state directly
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/8614.scala
Due: none

Don't delete tellurics when science obs is Ongoing/Completed
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/TelluricCalibrationsTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/8614.scala
Due: none

wip
  build.sbt
  modules/service/src/main/resources/db/migration/V1136__visitor_workflow_status.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
Due: none

wip
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/service/src/main/resources/db/migration/V1136__visitor_workflow_status.sql
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
Due: Label sequence PRs

test
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
Due: none

scalafix
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
Due: Label sequence PRs

Update ruwe limits on ags
  build.sbt
Due: none

Speed up builds
  .github/workflows/ci.yml
  .github/workflows/legacy-tests.yml
  .github/workflows/migration-test.yml
  build.sbt
Due: none

merge, cleanup
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: none
