Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

version
  build.sbt
Due: none

Potential fix for pull request finding
  modules/service/src/main/resources/db/migration/V1299__undo_for_review.sql
Due: none

Potential fix for pull request finding
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: none

unfuck copilot
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: none

SC-10025 remove `for_review` (#2938)
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1299__undo_for_review.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_warnings.scala
  modules/service/src/test/scala/lucuma/odb/service/TelluricTargetsServiceSuite.scala
Due: Label schema PRs

ags for gmos ifu
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: none

update tests
  modules/service/src/test/scala/lucuma/odb/graphql/query/tooRegionApproval.scala
Due: none

Update Proposal
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/tooRegionApproval.scala
  notes/too-scheduling-overview.md
Due: none

Include ongoing and completed science obs in GMOS calibration calculation
  modules/calibrations/calibration-generation-flow.md
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
Due: Label calibrations PRs

enable signalPixel graph in itc
  itc/service/src/main/resources/graphql/itc.graphql
Due: none

Add missing obscalc invalidation triggers to newer mode tables
  modules/service/src/main/resources/db/migration/V1300__mode_table_obscalc_invalidate.sql
Due: none

Requeue every observation an ITC version bump strips of its cached result
  modules/service/src/main/resources/db/migration/V1300__itc_version_update_all_cached.sql
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/service/ItcServiceSuite.scala
Due: none

Route thrown telluric client errors into the retry path
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
Due: none

Automatically add the invalidate trigger via reguster_observing_mode
  flake.nix
  modules/service/src/main/resources/db/migration/V1300__mode_table_obscalc_invalidate.sql
Due: none

Update lucuma-core
  build.sbt
Due: none

fine-grained warnings
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/ConditionsProbabilityValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/TotalSignalToNoiseValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_warnings.scala
Due: Label schema PRs

gmos ifu acquisition adjustments
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/ifu/Acquisition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosIfu.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosIfuReadMode.scala
Due: Label sequence PRs

Force a plpgsql recompile before V1300's repair UPDATE
  modules/service/src/main/resources/db/migration/V1300__itc_version_update_all_cached.sql
Due: none

trim titles that come from itc
  itc/model/src/main/scala/lucuma/itc/ItcGraph.scala
  itc/tests/src/test/scala/lucuma/itc/model/ItcSeriesSuite.scala
Due: Label model PRs, Label tests PRs

core-version
  build.sbt
Due: none

Fix nested-transaction crash when warming ITC cache
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
Due: none

scalafix
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_warnings.scala
Due: none

Charge a fixed 15 minutes for tellurics without a resolved target (ToO)
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

Never call the telluric search backend for NoTelluric
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

scalafix
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

Requeue telluric resolutions invalidated while calculating
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

Ignore soft-deleted groups in system group names and prevent their soft-deletion
  modules/service/src/main/resources/db/migration/V1301__system_group_name_soft_delete.sql
Due: none

cleanup
  modules/service/src/main/resources/db/migration/V1301__system_group_name_soft_delete.sql
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
Due: none

Suggested PR fixes
  modules/service/src/main/resources/db/migration/V1300__mode_table_obscalc_invalidate.sql
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
  modules/service/src/test/scala/lucuma/odb/service/ModeTableObscalcTriggerSuite.scala
Due: none

Potential fix for pull request finding
  flake.nix
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1301__mode_table_obscalc_invalidate.sql
  modules/service/src/main/resources/db/migration/V1302__system_group_name_soft_delete.sql
Due: none

Add test to ensure exceptions don't kill the telluric daemon
  modules/service/src/test/scala/lucuma/odb/service/TelluricSearchFailureSuite.scala
Due: none

Update ocs libs
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.2.jar
  itc/service/src/main/scala/lucuma/itc/legacy/FLocalItc.scala
Due: none

Remove isActive alltogether
  CONTEXT.md
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1301__derived_program_status.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgram.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updatePrograms.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_combined.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
Due: Label schema PRs

Allow explicitStatus to be set to ACTIVE
  CONTEXT.md
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1301__derived_program_status.sql
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updatePrograms.scala
Due: Label schema PRs
