Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Pick up GNIRS IFU signal-to-noise fix from the OCS ITC
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/CommonITCLegacySuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecSignalToNoiseSuite.scala
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.2.jar
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndCountSuite.scala
Due: Label tests PRs

Implement PR suggestion
  modules/sequence/src/main/scala/lucuma/odb/sequence/SmartGcalExpander.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Science.scala
Due: Label sequence PRs

Make GNIRS/F2 science flats optional
  modules/sequence/src/main/scala/lucuma/odb/sequence/SmartGcalExpander.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
Due: Label sequence PRs

Run the ITC legacy tests in 6 shards
  .github/workflows/legacy-tests.yml
Due: none

Make the ITC legacy tests actually assert
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/CommonITCLegacySuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2Suite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosImgExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosImgSignalToNoiseSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecSignalToNoiseSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsImgExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsImgSignalToNoiseSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecSignalToNoiseSuite.scala
Due: none

Bump lucuma-core to 0.221.0 and wire the GOA client
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/ChownRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/SchedulerRoutes.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label calibrations PRs, Label obscalc PRs

Store Archive Duplication Search snapshots
  modules/service/src/main/resources/db/migration/V1220__goa_duplication.sql
  modules/service/src/main/scala/lucuma/odb/data/GoaDuplication.scala
  modules/service/src/main/scala/lucuma/odb/data/GoaSearchCenter.scala
  modules/service/src/main/scala/lucuma/odb/logic/GoaQueryPolicy.scala
  modules/service/src/main/scala/lucuma/odb/service/GoaDuplicationService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/service/GoaDuplicationServiceSuite.scala
Due: none

Run the Archive Duplication Search
  modules/service/src/main/scala/lucuma/odb/service/GoaDuplicationSearchService.scala
  modules/service/src/main/scala/lucuma/odb/service/GoaQueryRunner.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/service/GoaDuplicationSearchServiceSuite.scala
Due: none

Add the Archive Duplication Search query policy
  modules/service/src/main/scala/lucuma/odb/logic/GoaQueryPolicy.scala
  modules/service/src/main/scala/lucuma/odb/logic/GoaSearchCenter.scala
Due: none

Trigger the Archive Duplication Search, and freeze it at submission
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RefreshGoaDuplicationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RefreshGoaDuplicationResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/RefreshGoaDuplicationResultPredicates.scala
  modules/service/src/main/scala/lucuma/odb/service/GoaDuplicationSearchService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/refreshGoaDuplication.scala
Due: Label schema PRs

Test the Archive Duplication Search query policy
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/refreshGoaDuplication.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/goaDuplication.scala
  modules/service/src/test/scala/lucuma/odb/logic/GoaQueryPolicySuite.scala
Due: none

Expose the archive Search over GraphQL
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1221__goa_duplication_views.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AngleMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CoordinatesMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DeclinationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GoaDuplicationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RightAscensionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GoaDuplicationView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GoaMatchView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/goaDuplication.scala
Due: Label schema PRs

Rename GoaDuplication.Provenance to SearchArea
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1220__goa_duplication.sql
  modules/service/src/main/scala/lucuma/odb/data/GoaDuplication.scala
  modules/service/src/main/scala/lucuma/odb/service/GoaDuplicationSearchService.scala
  modules/service/src/main/scala/lucuma/odb/service/GoaDuplicationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/goaDuplication.scala
  modules/service/src/test/scala/lucuma/odb/service/GoaDuplicationSearchServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/GoaDuplicationServiceSuite.scala
Due: Label schema PRs

Cleanup
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ArchiveMatchView.scala
  modules/service/src/main/scala/lucuma/odb/logic/GoaQueryPolicy.scala
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationSearchService.scala
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationService.scala
  modules/service/src/main/scala/lucuma/odb/service/GoaQueryRunner.scala
Due: none

Rename the Archive Duplication feature from Goa to Archive
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1220__archive_duplication.sql
  modules/service/src/main/resources/db/migration/V1221__archive_duplication_views.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/data/ArchiveDuplication.scala
  modules/service/src/main/scala/lucuma/odb/data/ArchiveSearchCenter.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RefreshArchiveDuplicationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AngleMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ArchiveDuplicationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CoordinatesMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DeclinationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GoaDuplicationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RefreshArchiveDuplicationResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RightAscensionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/RefreshArchiveDuplicationResultPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ArchiveDuplicationView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ArchiveMatchView.scala
  modules/service/src/main/scala/lucuma/odb/logic/GoaQueryPolicy.scala
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationSearchService.scala
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/refreshArchiveDuplication.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/archiveDuplication.scala
  modules/service/src/test/scala/lucuma/odb/logic/GoaQueryPolicySuite.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationSearchServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationServiceSuite.scala
Due: Label schema PRs

Improve GraphQL types
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1220__goa_duplication.sql
  modules/service/src/main/resources/db/migration/V1221__goa_duplication_views.sql
  modules/service/src/main/scala/lucuma/odb/data/GoaDuplication.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AngleMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CoordinatesMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DeclinationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GoaDuplicationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RightAscensionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GoaDuplicationView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GoaMatchView.scala
  modules/service/src/main/scala/lucuma/odb/service/GoaDuplicationSearchService.scala
  modules/service/src/main/scala/lucuma/odb/service/GoaDuplicationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/goaDuplication.scala
  modules/service/src/test/scala/lucuma/odb/service/GoaDuplicationServiceSuite.scala
Due: Label schema PRs

Trim redundant Archive Duplication test cases
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/refreshArchiveDuplication.scala
  modules/service/src/test/scala/lucuma/odb/logic/GoaQueryPolicySuite.scala
Due: none

Clarify Archive Duplication naming
  modules/service/src/main/scala/lucuma/odb/data/ArchiveDuplication.scala
  modules/service/src/main/scala/lucuma/odb/data/ArchiveSearchPointing.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/GoaQueryPolicy.scala
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationSearchService.scala
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/archiveDuplication.scala
  modules/service/src/test/scala/lucuma/odb/logic/GoaQueryPolicySuite.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationSearchServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationServiceSuite.scala
Due: none

Improve logging and tracing
  modules/service/src/main/resources/logback.xml
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationSearchService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/archiveDuplication.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationSearchServiceSuite.scala
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1231__archive_duplication.sql
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1227__archive_duplication.sql
  modules/service/src/main/resources/db/migration/V1227__archive_duplication_views.sql
Due: none

Renumber
  modules/service/src/main/resources/db/migration/V1226__archive_duplication.sql
  modules/service/src/main/resources/db/migration/V1227__archive_duplication_views.sql
Due: none

scalafmt
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AngleMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CoordinatesMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DeclinationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RightAscensionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: none

Re-check the freeze at the snapshot write, not only at load
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationSearchService.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationSearchServiceSuite.scala
Due: none

Update the schema to support returning a string or a typed version for some fields like instrument and observeClass.
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/goa/conversions.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ArchiveDuplicationMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/refreshArchiveDuplication.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/archiveDuplication.scala
  modules/service/src/test/scala/lucuma/odb/logic/GoaQueryPolicySuite.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationSearchServiceSuite.scala
Due: Label schema PRs

Minor fixes
  modules/service/src/main/scala/lucuma/odb/data/ArchiveDuplication.scala
  modules/service/src/main/scala/lucuma/odb/data/ArchiveSearchPointing.scala
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationService.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationServiceSuite.scala
Due: none

Distinguish a search never run from one that cannot be run
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1231__archive_duplication.sql
  modules/service/src/main/scala/lucuma/odb/data/ArchiveDuplication.scala
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationSearchService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/refreshArchiveDuplication.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationSearchServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationServiceSuite.scala
Due: Label schema PRs

Count the archive matches in the view rather than storing the count
  modules/service/src/main/resources/db/migration/V1231__archive_duplication.sql
  modules/service/src/main/scala/lucuma/odb/data/ArchiveDuplication.scala
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationService.scala
Due: none

Guard c_search_target against the empty string
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1231__archive_duplication.sql
  modules/service/src/test/scala/lucuma/odb/graphql/query/archiveDuplication.scala
Due: Label schema PRs

Weaken the program lock to FOR NO KEY UPDATE
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationSearchService.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationSearchServiceSuite.scala
Due: none

Support observe for local traces
  otel-collector/nginx.conf.template
Due: none

Add ability to filter by program in datasetChronicleEntries query
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereDatasetChronicleEntry.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/datasetChronicleEntries.scala
Due: Label schema PRs

Add program, start and end filters to WhereDataset
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereDataset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/DatasetSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/datasetChronicleEntries.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/datasets.scala
Due: Label schema PRs

Publish graphql schemas to npm
  .github/workflows/npm.yml
  build.sbt
Due: none

Update clue to 0.56.0
  build.sbt
Due: none

Update lucuma-core to 0.224.3
  build.sbt
Due: none

Record and expose the original goa urls
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1232__archive_duplication_query_urls.sql
  modules/service/src/main/scala/lucuma/odb/data/ArchiveDuplication.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ArchiveDuplicationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ArchiveDuplicationView.scala
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationSearchService.scala
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/archiveDuplication.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationSearchServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationServiceSuite.scala
Due: Label schema PRs

extract validation from wf services
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidationInfo.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/Validator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/acquisition.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/band.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/cfpInstrument.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/cfpRaDec.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/exchange.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/generator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/ghostVMagnitude.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/itc.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/otherConfigError.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_exchange.scala
Due: none

Support replacing ghost sequence
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/AtomInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GhostDynamicInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ReplaceSequenceInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/StepInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceGhostSequence.scala
Due: Label schema PRs

Allow client-specified event and visit times
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1230__execution_event_client_time.sql
  modules/service/src/main/resources/db/migration/V1231__visit_client_created.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddDatasetEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddSequenceEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddSlewEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddStepEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordVisitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ExecutionEventTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/VisitTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ClientTimeError.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingService.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addDatasetEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/visitClientCreated.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timeAccounting.scala
Due: Label schema PRs
