Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17)
  actions:
    merge: {}
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

Obscalc
  .mergify.yml
  build.sbt
  modules/obscalc/src/main/resources/logback.xml
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/MissingParam.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/MissingParamSet.scala
  modules/service/src/main/resources/db/migration/V0979__cache_update.sql
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObscalcTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label sequence PRs, Label service PRs

Remove extraneous Json Codecs
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/MissingParam.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/MissingParamSet.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: Label sequence PRs, Label service PRs

calculate
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
Due: Label service PRs

String or IntegrationTime
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
Due: Label sequence PRs, Label service PRs

OdbError or IntegrationTime
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
Due: Label sequence PRs, Label service PRs

tests
  modules/service/src/main/resources/db/migration/V0979__cache_update.sql
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

rebase
  modules/service/src/main/resources/db/migration/V0982__obscalc.sql
Due: Label service PRs

update streams
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

comment
  modules/service/src/main/resources/db/migration/V0982__obscalc.sql
Due: Label service PRs

add to Services
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

Add retry.
  modules/service/src/main/resources/db/migration/V0982__obscalc.sql
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

early exit on delete
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/resources/db/migration/V0982__obscalc.sql
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

meta
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

SequenceUnavailable
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/schema/src/test/scala/lucuma/odb/data/OdbErrorSuite.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3660.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5098.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setGuideTargetName.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionFailures.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideAvailability.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironment.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironments.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs, Label sequence PRs, Label service PRs

test case message
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2887.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5098.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
Due: Label service PRs

time estimate API
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/calculatedValue.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GroupMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEditOnCachedResultUpdate.scala
Due: Label schema PRs, Label service PRs

don't retry normal ITC errors like source too bright
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/schema/src/test/scala/lucuma/odb/data/OdbErrorSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionFailures.scala
Due: Label schema PRs, Label service PRs

calculated time estimate
  modules/binding/src/main/scala/lucuma/odb/data/ObscalcState.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedExecutionDigestMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObscalcTable.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService2.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label schema PRs, Label service PRs

cleanup / doc
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/resources/db/migration/V0984__obscalc.sql
Due: Label service PRs

select the semigroup
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService2.scala
Due: Label service PRs

PR comments
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/OdbTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

scalafix
  modules/service/src/main/scala/lucuma/odb/graphql/topic/OdbTopic.scala
Due: Label service PRs

use Config
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/Config.scala
Due: Label service PRs

Obscalc.Entry
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

remove updateOnly
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

only process events switching to pending state
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/resources/db/migration/V0984__obscalc.sql
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObscalcTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

comments
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
Due: Label service PRs

CalculationValueCodec
  modules/schema/src/main/scala/lucuma/odb/json/all.scala
  modules/schema/src/main/scala/lucuma/odb/json/calculationValue.scala
Due: Label schema PRs
