Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Renumber migration
  modules/service/src/main/resources/db/migration/V0942__f2_enums.sql
Due: Label service PRs

Add test
  modules/service/src/test/scala/lucuma/odb/graphql/query/spectroscopyConfigOptions.scala
Due: Label service PRs

Fix PR comment issue
  modules/phase0/src/main/scala/lucuma/odb/phase0/FileReader.scala
Due: Label phase0 PRs

ShortCut 4460
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4460.scala
Due: Label service PRs

test
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: Label service PRs

failing test
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: Label service PRs

fix
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

Fix bug on cache lookup
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEditOnCachedResultUpdate.scala
Due: Label service PRs

solve duplicate implicits
  build.sbt
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereOptionString.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereString.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/CallForProposalsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
Due: Label service PRs

update clue
  build.sbt
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label service PRs

fix pattern match warning
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
Due: Label sequence PRs

Allow COI-RO to update its own progam user information
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
Due: Label service PRs

change program user role
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ChangeProgramUserRoleInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ChangeProgramUserRoleResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addProgramUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/changeProgramUserRole.scala
Due: Label schema PRs, Label service PRs

simplify
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
Due: Label service PRs

ShortCut 4457 test cases
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4457.scala
Due: Label service PRs

lint
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4457.scala
Due: Label service PRs

SmartGCal support for Flamingos2
  build.sbt
  modules/service/src/main/resources/db/migration/V0943__smart_gcal_f2.sql
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
  modules/smartgcal/src/main/resources/smartgcal/Flamingos2_ARC.csv
  modules/smartgcal/src/main/resources/smartgcal/Flamingos2_FLAT.csv
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/data/Flamingos2.scala
Due: Label service PRs, Label smartgcal PRs

Update libraries and fix PR comments
  build.sbt
  modules/service/src/main/resources/db/migration/V0943__smart_gcal_f2.sql
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/data/Flamingos2.scala
Due: Label service PRs, Label smartgcal PRs

Scalafix
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/data/Flamingos2.scala
Due: Label smartgcal PRs

Validate partners on submission
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/1237.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4457.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4460.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/configurationRequestEdit.scala
Due: Label service PRs

remove proposal title and abstract, add program description
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0942__move_proposal_title.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createConfigurationRequest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateConfigurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updatePrograms.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_applicableObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configuration.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program_configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/configurationRequestEdit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/programEdit.scala
Due: Label schema PRs, Label service PRs

Path conditions:
  Label calibrations PRs: any of: ^modules/calibrations/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
