Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label binding PRs, Label calibrations PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

Multiple fixes
  build.sbt
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
Due: Label service PRs

Remove GmosXBinning and GmosYBinning from the schema
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/db/migration/SmartGmosLoader.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosDynamicTables.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
  modules/service/src/main/scala/lucuma/odb/util/GmosCodecs.scala
Due: Label schema PRs, Label service PRs

cleanup
  modules/service/src/main/scala/db/migration/SmartGmosLoader.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
  modules/service/src/main/scala/lucuma/odb/util/GmosCodecs.scala
Due: Label service PRs

Switch to production libraries
  build.sbt
Due: none

Update base version
  build.sbt
Due: none

Add FT support roles
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0996__cfp_ft.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalTypeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/FTSupportUserPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ProgramUserPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/FTSupportTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramUserTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProposalView.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programUsers.scala
Due: Label schema PRs, Label service PRs

update GraphQL schema for FT support roles
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0996__cfp_ft.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalTypeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/FTSupportUserPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ProgramUserPredicates.scala
Due: Label schema PRs, Label service PRs

Add ftSupportRole to ProgramUserService update logic
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/FTSupportRoleBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
Due: Label binding PRs, Label service PRs

add mentor mappings
  build.sbt
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/FTSupportRoleBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/enums/FTSupportRole.scala
  modules/service/src/main/resources/db/migration/V0996__cfp_ft.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalTypeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/FTSupportUserPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ProgramUserPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/FTSupportTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/fastTurnaroundTests.scala
Due: Label binding PRs, Label schema PRs, Label service PRs

Add multiple tests
  modules/schema/src/main/scala/lucuma/odb/enums/FTSupportRole.scala
  modules/service/src/main/resources/db/migration/V0996__cfp_ft.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/fastTurnaroundTests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
Due: Label schema PRs, Label service PRs

Revert the logic now there is no role just fields on an FT proposal
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0996__cfp_ft.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalTypeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/FTSupportUserPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ProgramUserPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramUserTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProposalView.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/fastTurnaroundTests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programUsers.scala
Due: Label schema PRs, Label service PRs

Add more tests
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
Due: Label service PRs

Cleanup
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/FTSupportRoleBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0996__cfp_ft.sql
  modules/service/src/main/resources/db/migration/V0997__ft_mentor_reviewer.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ProgramUserPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProposalView.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programUsers.scala
Due: Label binding PRs, Label schema PRs, Label service PRs

Add restriction that reviewer/mentor must be users from the same program
  modules/service/src/main/resources/db/migration/V0997__ft_mentor_reviewer.sql
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
Due: Label service PRs

fix test case
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedExecutionDigestMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedObservationWorkflowMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CategorizedTimeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObscalcView.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5017.scala
Due: Label service PRs

cleanup
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObscalcTable.scala
Due: Label service PRs

first attempt, maintain 'digest' while adding 'calculatedDigest'
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedExecutionDigestMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CategorizedTimeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObscalcTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: Label schema PRs, Label service PRs

swapped ExecutionDigest out for CalculatedExecutionDigest
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0997__obscalc_view.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedExecutionDigestMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedObservationWorkflowMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CategorizedTimeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObscalcView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
Due: Label schema PRs, Label service PRs

Broken test
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2887.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5098.scala
Due: Label service PRs

Try the EffectField version instead
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0997__obscalc_view.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedExecutionDigestMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedObservationWorkflowMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CategorizedTimeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObscalcTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2887.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5017.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5098.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
Due: Label schema PRs, Label service PRs

oops
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
Due: Label service PRs

Revert this change
  build.sbt
Due: none
