Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Enable otel on the calibrations daemon
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
Due: Label calibrations PRs

Add metrics for jvm
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/util/LucumaEntryPoint.scala
Due: none

Document how to use the otlp collector
  ODB-README.md
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/service/src/main/scala/lucuma/odb/util/OdbTelemetry.scala
Due: none

Update mergify
  .mergify.yml
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/otel/src/main/scala/lucuma/odb/otel/OtelSetup.scala
  modules/service/src/main/scala/lucuma/odb/util/OdbTelemetry.scala
Due: none

Switch to use an otel collector
  itc/service/src/main/scala/lucuma/itc/service/config/OtelConfig.scala
  modules/otel/src/main/scala/lucuma/otel/OtelConfig.scala
  modules/otel/src/main/scala/lucuma/otel/OtelSetup.scala
  modules/service/src/main/scala/lucuma/odb/Config.scala
Due: none

Create a shared otel module and enable ITC to use otel
  build.sbt
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  itc/service/src/main/scala/lucuma/itc/service/config/Config.scala
  itc/service/src/main/scala/lucuma/itc/service/config/HoneycombConfig.scala
  itc/service/src/main/scala/lucuma/itc/service/config/OtelConfig.scala
  modules/otel/src/main/scala/lucuma/odb/otel/Otel4sTrace.scala
  modules/otel/src/main/scala/lucuma/odb/otel/OtelSetup.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/util/LucumaEntryPoint.scala
Due: none

Switch to use otel4s with a natchez adapter
  build.sbt
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/util/LucumaEntryPoint.scala
  modules/service/src/main/scala/lucuma/odb/util/Otel4sTrace.scala
Due: Label calibrations PRs, Label obscalc PRs

Restore honeycomb for itc and sso
  build.sbt
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/sso-service/src/main/scala/Main.scala
Due: Label sso-service PRs

Rename the otel package
  build.sbt
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  itc/service/src/main/scala/lucuma/itc/service/config/Config.scala
  itc/service/src/main/scala/lucuma/itc/service/config/OtelConfig.scala
  modules/otel/src/main/scala/lucuma/otel/Otel4sTrace.scala
  modules/otel/src/main/scala/lucuma/otel/OtelConfig.scala
  modules/otel/src/main/scala/lucuma/otel/OtelSetup.scala
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/util/OdbTelemetry.scala
Due: none

Otel heroku collector
  modules/service/src/main/scala/lucuma/odb/Config.scala
  otel-collector/Dockerfile
  otel-collector/README.md
  otel-collector/heroku.yml
  otel-collector/otel-collector-config.yaml
Due: none

scalafix
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  itc/service/src/main/scala/lucuma/itc/service/config/OtelConfig.scala
Due: none

Do publish the otel module
  build.sbt
Due: none

Batch some of the queries to avoid n+1 problems
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
Due: none

Add more tracing for telluric calculations
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/service/src/main/scala/lucuma/odb/otel/package.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
Due: Label calibrations PRs

Add tracing to the calibrations daemon
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/otel/src/main/scala/lucuma/otel/OtelSetup.scala
  modules/otel/src/main/scala/lucuma/otel/package.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObscalcTopic.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TraceSuite.scala
Due: Label calibrations PRs, Label obscalc PRs

Thread Tracer across services
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/otel/src/main/scala/lucuma/otel/OtelSetup.scala
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/SchedulerRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObscalcTopic.scala
  modules/service/src/main/scala/lucuma/odb/otel/package.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label calibrations PRs, Label obscalc PRs

scalafix
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/SchedulerRoutes.scala
  modules/service/src/main/scala/lucuma/odb/otel/package.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
Due: Label calibrations PRs

Utility script to generate obscalc for an obs
  modules/obscalc/simulate-obscalc-event.sh
Due: Label obscalc PRs

Cleanup
  modules/obscalc/simulate-obscalc-event.sh
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
Due: Label obscalc PRs

Restore tracing test
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/otel/src/main/scala/lucuma/otel/OtelSetup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TraceSuite.scala
Due: Label calibrations PRs

Make the obscalc event script just set the state to pending
  modules/obscalc/simulate-obscalc-event.sh
Due: Label obscalc PRs

Allow dragging of telluric groups
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateGroups.scala
Due: none

Fix site for Igrins 2 when doing AGS
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: none

Update sparse checkout list
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  odb-sparse-checkout
Due: none

Port topics and graphql routes to use otel4s
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ConfigurationRequestTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/DatasetTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ExecutionEventAddedTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/GroupTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObscalcTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObservationTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/OdbTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ProgramTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/TargetTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/TelluricTargetTopic.scala
  modules/service/src/main/scala/lucuma/odb/otel/package.scala
Due: Label calibrations PRs, Label obscalc PRs

Add tracing middleware to the odb for otel4s
  build.sbt
  modules/otel/src/main/scala/lucuma/otel/OtelSetup.scala
  modules/service/src/main/scala/lucuma/odb/ServerMiddleware.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ConfigurationRequestTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/DatasetTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ExecutionEventAddedTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/GroupTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObscalcTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObservationTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/OdbTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ProgramTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/TargetTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/TelluricTargetTopic.scala
  modules/service/src/main/scala/lucuma/odb/otel/package.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: none

Improve using otel4s on the odb mapping
  modules/service/src/main/scala/lucuma/odb/ServerMiddleware.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/otel/package.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
Due: none

Replace natchez https middleware with otel4s
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/ServerMiddleware.scala
  modules/service/src/main/scala/lucuma/odb/otel/package.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: none

Add http4s metrics capturing
  modules/service/src/main/scala/lucuma/odb/ServerMiddleware.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TraceSuite.scala
Due: none

Update lib version
  build.sbt
Due: none

Port a few more bits to otel4s
  build.sbt
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/ServerMiddleware.scala
  modules/service/src/main/scala/lucuma/odb/service/S3FileService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
Due: Label calibrations PRs, Label obscalc PRs

Fix test for traces
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TraceSuite.scala
Due: none

Add placeholders to continue itc and sso running on natchez but with otel4 meshed
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  itc/tests/src/test/scala/lucuma/itc/client/ClientSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/GraphQLSuite.scala
  itc/tests/src/test/scala/lucuma/itc/tests/util.scala
  modules/sso-service/src/main/scala/Main.scala
  modules/sso-service/src/main/scala/graphql/GraphqlRoutes.scala
  modules/sso-service/src/test/scala/simulator/SsoSimulator.scala
Due: Label sso-service PRs, Label tests PRs

More porting to otel4s
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/SchedulerRoutes.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramNoteService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
Due: none

Fix mapping issue.
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/Arm.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/Detector.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/DetectorConfig.scala
  modules/service/src/main/resources/db/migration/V1120__ghost.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GhostArmInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GhostDetectorInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GhostIfuInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GhostIfuMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GhostExposureTimeModeView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GhostIfuTable.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostIfuService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GhostIfu.scala
  modules/service/src/test/scala/lucuma/odb/service/GhostIfuServiceSuite.scala
Due: Label schema PRs, Label sequence PRs

merge red/blue
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GhostIfuMapping.scala
Due: Label schema PRs

simplify
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/Arm.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/Detector.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/Config.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GhostArmInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GhostDetectorInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GhostIfuInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GhostIfuMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GhostIfuTable.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostIfuService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GhostIfu.scala
  modules/service/src/test/scala/lucuma/odb/service/GhostIfuServiceSuite.scala
Due: Label schema PRs, Label sequence PRs

switch to path-based etm
  modules/service/src/main/resources/db/migration/V1120__ghost.sql
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GhostIfuMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SignalToNoiseExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeAndCountExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ExposureTimeModeView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GhostExposureTimeModeView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GhostIfu.scala
Due: none

niceties
  modules/service/src/main/resources/db/migration/V1120__ghost.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExposureTimeModeMapping.scala
Due: none

Port itc to use otel4s
  itc/benchmarks/src/main/scala/lucuma/itc/benchmarks/ItcBenchmarkSetup.scala
  itc/service/src/main/scala/lucuma/itc/cache/RedisEffectfulCache.scala
  itc/service/src/main/scala/lucuma/itc/input/customSed/CustomSedOdbAttachmentResolver.scala
  itc/service/src/main/scala/lucuma/itc/legacy/FLocalItc.scala
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  itc/tests/src/test/scala/lucuma/itc/client/ClientSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/GraphQLSuite.scala
  itc/tests/src/test/scala/lucuma/itc/tests/util.scala
Due: Label benchmarks PRs, Label tests PRs
