Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

some gnirs bindings and mappings
  CLAUDE.md
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GnirsCameraBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GnirsDeckerBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GnirsFilterBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GnirsFpuSlitBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GnirsGratingBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GnirsPrismBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GnirsReadModeBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GnirsWellDepthBinding.scala
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigMatcher.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
Due: Label binding PRs

some more gnirs longslit mappings, services and codecs
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationGnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ConfigurationRequestView.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/util/GnirsCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
Due: Label sequence PRs

wrap up gnirs longslit observing mode
  .gitignore
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1142__slit_offset_mode.sql
  modules/service/src/main/resources/db/migration/V1143__gnirs_long_slit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationGnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
Due: Label schema PRs, Label sequence PRs

coherent mapping of gnirse acq mirror
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GnirsAcquisitionMirrorBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1145__gnirs_long_slit.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/util/GnirsCodecs.scala
Due: Label binding PRs, Label schema PRs, Label sequence PRs

improvements to gnirs observing mode, address pr comments
  build.sbt
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GnirsObsReadModeBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/format/TelescopeConfigsFormat.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1146__gnirs_long_slit.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/util/GnirsCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
Due: Label binding PRs, Label schema PRs, Label sequence PRs

remove gnirs acq mirror setting from longslit observing mode
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GnirsAcquisitionMirrorBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1146__gnirs_long_slit.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/util/GnirsCodecs.scala
Due: Label binding PRs, Label schema PRs, Label sequence PRs

renumber migrations
  modules/service/src/main/resources/db/migration/V1145__slit_offset_mode.sql
  modules/service/src/main/resources/db/migration/V1146__gnirs_long_slit.sql
Due: none

fix test
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
Due: none

rename migrations
  build.sbt
  modules/service/src/main/resources/db/migration/V1144__slit_offset_mode.sql
  modules/service/src/main/resources/db/migration/V1145__gnirs_long_slit.sql
Due: none

rename onSky -> toSky
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
Due: Label schema PRs

use existing etm table for gnirs
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1146__gnirs_long_slit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ExposureTimeModeView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
Due: Label schema PRs, Label sequence PRs

avoid fqn in code
  modules/schema/src/main/scala/lucuma/odb/format/TelescopeConfigsFormat.scala
Due: Label schema PRs

remove centralWavelength, rearrange parameters
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1146__gnirs_long_slit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
Due: Label schema PRs, Label sequence PRs

enums instead of lookups
  modules/service/src/main/resources/db/migration/V1146__gnirs_long_slit.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/util/GnirsCodecs.scala
Due: none

add missing grating in queries
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
Due: none

address some pr comments
  modules/CLAUDE.md
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1146__gnirs_long_slit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsLongSlitService.scala
Due: Label schema PRs

propagate edit events
  modules/service/src/main/resources/db/migration/V1146__gnirs_long_slit.sql
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
Due: none

remove explicit views for science and acq etms in gnirs
  .gitignore
  modules/service/src/main/resources/db/migration/V1146__gnirs_long_slit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ExposureTimeModeView.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
Due: none

bump jvm version in manual ci workflows
  .github/workflows/legacy-tests.yml
  .github/workflows/migration-test.yml
Due: none

ProposalStatus and FilterType no longer dynamic
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/ProposalStatusBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/FilterTypeEnumType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/ProposalStatusMeta.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/extensions.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SetProposalStatusInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/FilterTypeMetaMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalStatusMetaMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/FilterTypeTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProposalStatusTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/export/enumMetadata.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/filterTypeMeta.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/introspection.scala
Due: Label binding PRs, Label schema PRs

Allow introspection without authorization
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/introspection.scala
Due: none

Provide dummy metadata endpoint for explore service workers
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
Due: none

Set dummy metadata media type from json to javascript
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
Due: none

[sc-8753] Update igrins2 name
  build.sbt
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Spectroscopy.tsv
  modules/service/src/main/resources/db/migration/V1147__igrins2_display_name.sql
Due: Label client PRs, Label phase0 PRs

[sc-8767] Update ags params for maroonx and add a test
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GuideEnvironmentSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentF2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGhost.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentIgrins2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentVisitors.scala
Due: none

require staff access to modify gnirs focus
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
Due: none

Telluric observation offsets are always the default ones
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

Use services syntax where possible
  modules/service/src/main/scala/lucuma/odb/service/Igrins2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
Due: none

initial gnirs science seq generation
  modules/CLAUDE.md
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/Itc.scala
  modules/schema/src/main/scala/lucuma/odb/json/gnirs.scala
  modules/schema/src/main/scala/lucuma/odb/json/itc.scala
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/schema/src/test/scala/lucuma/odb/data/arb/ArbItc.scala
  modules/service/src/main/resources/db/migration/V1147__gnirs_planned_time.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/logic/DetectorEstimator.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorContext.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
Due: Label schema PRs

renumber migration
  modules/service/src/main/resources/db/migration/V1148__gnirs_planned_time.sql
Due: none

initial gnirs science seq generation
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/GnirsSequenceState.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/InitialConfigs.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Science.scala
  modules/service/src/main/resources/db/migration/V1147__gnirs_planned_time.sql
  modules/service/src/main/scala/lucuma/odb/logic/ConfigChangeEstimator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
Due: Label sequence PRs

Potential fix for pull request finding
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

Potential fix for pull request finding
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
Due: none

Add a post processing stage to set obs class in calibs
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/StreamingExecutionConfig.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForIgrins2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciIgrins2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSpecPhoto.scala
Due: Label sequence PRs

Add a test for twilight obs class
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
Due: none

Instead of postprocessing set the obs class for each calibration role on creation
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/StreamingExecutionConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/package.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
Due: Label sequence PRs

Fix using TagBinding for ProposalStatus
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
Due: none

Use WhereEq for proposal status
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgram.scala
Due: none

Fully remove WhereUnorderedTag
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereAttachment.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereUnorderedTag.scala
Due: none

enable s/n itc for gnirs longslit
  itc/CLAUDE.md
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecSignalToNoiseSuite.scala
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/scala/lucuma/itc/input/GnirsSpectroscopyInput.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopySignalToNoiseSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndCountSuite.scala
Due: Label client PRs, Label tests PRs
