Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Type the cone rewrite entry point, assert pushdown
  modules/service/src/main/scala/lucuma/odb/graphql/ConeRewrite.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_combined.scala
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1246__target_where_filters.sql
Due: none

update doc
  modules/service/docs/observation-workflow-states.md
Due: none

Derive the ToO trigger from the observation workflow state
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/docs/observation-workflow-states.md
  modules/service/docs/observation-workflow.svg
  modules/service/src/main/resources/db/migration/V1246__trigger_on_ready.sql
  modules/service/src/main/scala/lucuma/odb/data/TooTriggerStatus.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/DeclineTooTriggerInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/DenyTooTriggerInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RequestTooTriggerInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WithdrawTooTriggerInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TooTriggerResultMappings.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/TooTriggerService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TooTriggerSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/requestTooTrigger.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/tooTriggerChronicleEntries.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/tooTriggerWorkflow.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/tooTriggerEdit.scala
Due: Label schema PRs

Downgrade OpenTelemetry version from 1.65.0 to 1.64.0
  build.sbt
Due: none

Add Gmos MOS AGS support
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GuideEnvironmentSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGMOS.scala
Due: none

Add guide availability test
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideAvailability.scala
Due: none

Add tests for the mask name
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/AttachmentsSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/obsAttachmentsAssignments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosMos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/customMask.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GmosMos.scala
Due: none

Add field for the mask name to the db and auto derivation
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1247__attachment_mask_name.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereAttachment.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AttachmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AttachmentTable.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
Due: Label schema PRs

Shortcut 9812: Support multiple GNIRS central wavelengths
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/Itc.scala
  modules/schema/src/main/scala/lucuma/odb/json/itc.scala
  modules/schema/src/test/scala/lucuma/odb/data/arb/ArbItc.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/ScienceWavelength.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Spectroscopy.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/ItcInputSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbItcInput.scala
  modules/service/src/main/resources/db/migration/V1248__gnirs_spectroscopy_wavelengths.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsSpectroscopyInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsSpectroscopyWavelengthInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsSpectroscopyMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsSpectroscopyView.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorContext.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsSpectroscopyService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsIfu.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
Due: Label schema PRs, Label sequence PRs

Rename GnirsSpectroscopyWavelength to GnirsCentralWavelengthConfig
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/CentralWavelengthConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Science.scala
  modules/service/src/main/resources/db/migration/V1248__gnirs_central_wavelength_config.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsCentralWavelengthConfigInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsSpectroscopyInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsSpectroscopyMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsSpectroscopyView.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsSpectroscopyService.scala
Due: Label schema PRs, Label sequence PRs

Derive the ItcInput prisms with GenPrism
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
Due: Label sequence PRs

externalize ObservationValidationInfo
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidationInfo.scala
Due: none

scalafix
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidationInfo.scala
Due: none

externalize ObservationValidator
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
Due: none

GeneratorValidator
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
Due: none

ObservationValidator
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/CfpInstrumentValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/GeneratorValidator.scala
Due: none

ExchangeValidator
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/ExchangeValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_exchange.scala
Due: none

CfpRaDecValidator
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/CfpRaDecValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: none

BandValidator
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/BandValidator.scala
Due: none

TooActivationValidator
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/TooActivationValidator.scala
Due: none

Charge an overhead for a GNIRS central wavelength change
  modules/service/src/main/resources/db/migration/V1249__gnirs_wavelength_overhead.sql
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/logic/ConfigChangeEstimator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
Due: none

OpportunityTargetValidator
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/OpportunityTargetValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: none

ItcValidator
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/ItcValidator.scala
Due: none

Charge an overhead for a GNIRS filter change
  modules/service/src/main/resources/db/migration/V1249__gnirs_config_change_overheads.sql
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/logic/ConfigChangeEstimator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsImaging.scala
Due: none

AcquisitionValidator
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/AcquisitionValidator.scala
Due: none

GhostVMagnitudeValidator
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/GhostVMagnitudeValidator.scala
Due: none

OtherConfigErrorValidator
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/GhostVMagnitudeValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/OtherConfigErrorValidator.scala
Due: none

Add targetCoordinates cone WHERE filter
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/ConeElaboration.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereConfigurationRequest.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationRequestMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_targetCoordinates.scala
Due: Label schema PRs

isActive filter on WhereProgram
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateAsterismsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateAttachmentsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateConfigurationRequestsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateDatasetsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateObservationsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateObservationsTimesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateProgramNotesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateProgramUsersInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateProgramsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateTargetsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereAttachment.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereConfigurationRequest.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereDataset.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereDatasetChronicleEntry.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereExecutionEvent.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgram.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramNote.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramUser.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereTarget.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs_isActive.scala
Due: Label schema PRs

Add observingModeType filter on WhereConfigurationRequest
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereConfigurationRequest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_observingModeType.scala
Due: Label schema PRs

Add spatial cone-search service method + indexes
  modules/service/src/main/resources/db/migration/V1240__configuration_request_reference_indexes.sql
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/coneCandidates.scala
Due: none

Calculate if a program is active based on server date
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1240__configuration_request_reference_indexes.sql
  modules/service/src/main/resources/db/migration/V1242__target_where_filters.sql
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateAsterismsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateAttachmentsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateConfigurationRequestsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateDatasetsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateObservationsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateObservationsTimesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateProgramNotesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateProgramUsersInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateProgramsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateTargetsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereAttachment.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereConfigurationRequest.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereDataset.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereDatasetChronicleEntry.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereExecutionEvent.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgram.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramNote.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramUser.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereTarget.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_combined.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs_isActive.scala
Due: Label schema PRs

Rename cone elaborator
  modules/service/src/main/resources/db/migration/V1242__target_where_filters.sql
  modules/service/src/main/scala/lucuma/odb/graphql/ConeRewrite.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereConfigurationRequest.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/coneCandidates.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_combined.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs_isActive.scala
Due: none

Don't detect targetCoordinates by string matching
  modules/service/src/main/scala/lucuma/odb/graphql/ConeFilter.scala
  modules/service/src/main/scala/lucuma/odb/graphql/ConeRewrite.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereConfigurationRequest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_targetCoordinates.scala
Due: none

Add test
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_combined.scala
Due: none

Widen the cone RA prefilter to the exact asin bound
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/coneCandidates.scala
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1248__target_where_filters.sql
Due: none
