Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17)
  actions:
    merge: {}
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

fix
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/LongBinding.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5331.scala
Due: Label service PRs

scalafix
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5331.scala
Due: Label service PRs

migrate core model
  build.sbt
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/EmailAddressBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AirMassRangeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ConstraintSetInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ElevationRangeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/HourAngleRangeInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: Label service PRs

avoid non-exhaustive warnings
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/programEdit.scala
Due: Label service PRs

avoid F2 test
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: Label service PRs

scalafix
  modules/service/src/main/scala/lucuma/odb/graphql/input/AirMassRangeInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: Label service PRs

Setup NewRelic configuration
  Procfile
  build.sbt
  newrelic.yml
Due: none

Remove New Relic configuration
  Procfile
  build.sbt
  newrelic.yml
Due: none

Initial work adding F2 slit mode
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/package.scala
  modules/service/src/main/resources/db/migration/V0856__spectroscopy_matrix.sql
  modules/service/src/main/resources/db/migration/V0978__flamingos2_longslit.sql
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
Due: Label sequence PRs, Label service PRs

Minimal version that can create a f2 long slit
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0979__flamingos2_longslit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/F2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/F2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/package.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/F2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/F2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbF2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: Label schema PRs, Label service PRs

Add ReadMode and decker
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/F2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/F2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbF2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: Label schema PRs, Label service PRs

Add model of F2 LongSlit Input
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2DeckerBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2DisperserBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2FilterBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2FpuBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2ReadModeBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2ReadoutModeBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2ReadsBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2WindowCoverBinding.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V0978__flamingos2_longslit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/F2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/F2Codecs.scala
  modules/service/src/test/scala/lucuma/odb/data/arb/ArbNullable.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbF2LongSlitInput.scala
Due: Label sequence PRs, Label service PRs

Add schema and mappings for F2LongSlit mode and update tests
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: Label schema PRs, Label service PRs

Fix migration
  modules/service/src/main/resources/db/migration/V0978__f2_long_slit_mode_type.sql
  modules/service/src/main/resources/db/migration/V0979__flamingos2_longslit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/F2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/F2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbF2LongSlitInput.scala
Due: Label service PRs

Add all parameters
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/F2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/F2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: Label schema PRs, Label service PRs

Scalafix
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/package.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/F2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/F2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/package.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/util/F2Codecs.scala
  modules/service/src/test/scala/lucuma/odb/data/arb/ArbNullable.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbF2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: Label sequence PRs, Label service PRs

Calculate reads from read mode and add explicit reads
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/f2/longslit/package.scala
  modules/service/src/main/resources/db/migration/V0979__f2_long_slit_mode_type.sql
  modules/service/src/main/resources/db/migration/V0980__flamingos2_longslit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/F2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/F2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/F2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbF2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: Label schema PRs, Label sequence PRs, Label service PRs

Rebase
  modules/service/src/main/resources/db/migration/V0979__f2_long_slit_mode_type.sql
  modules/service/src/main/resources/db/migration/V0980__flamingos2_longslit.sql
Due: Label service PRs

Remove Window Cover and electronic offsetting
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0980__flamingos2_longslit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/F2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/F2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/service/F2LongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: Label schema PRs, Label service PRs

Add tests for explicit reads
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: Label schema PRs, Label service PRs

visitservice
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
Due: Label service PRs

emailwebhookservice
  modules/service/src/main/scala/lucuma/odb/graphql/EmailWebhookRoutes.scala
  modules/service/src/main/scala/lucuma/odb/service/EmailWebhookService.scala
Due: Label service PRs
