Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

remove access check in service
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

Delete bogus requests?
  modules/service/src/main/resources/db/migration/V0955__remove_obsolete.sql
Due: Label service PRs

cleanup
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label service PRs

ProgramNote
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0955__program_notes.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramNoteMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramNoteTable.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: Label schema PRs, Label service PRs

Program -> notes
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramNoteMapping.scala
Due: Label schema PRs, Label service PRs

ProgramNoteProperties
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/binding/ProgramNoteIdBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramNotePropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramNoteMapping.scala
Due: Label schema PRs, Label service PRs

more mapping
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramNoteMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ProgramNotePredicates.scala
Due: Label schema PRs, Label service PRs

createProgramNote
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0955__program_notes.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateProgramNoteInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramNotePropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CreateProgramNoteResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ProgramNotePredicates.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramNoteService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgramNote.scala
Due: Label schema PRs, Label service PRs

trigger
  modules/service/src/main/resources/db/migration/V0955__program_notes.sql
Due: Label service PRs

access control for cloneObservation
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label service PRs

scalafix
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
Due: Label service PRs

update failure handling
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: Label service PRs

cleanup
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramNotePropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ProgramNotePredicates.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgramNote.scala
Due: Label service PRs

cleanup
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
Due: Label service PRs

existence test
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgramNote.scala
Due: Label service PRs

core version
  build.sbt
Due: none

remove internal checks
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label service PRs

goddammit
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label service PRs

remove user-settable ordering
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0955__program_notes.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramNotePropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramNoteMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramNoteTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramNoteService.scala
Due: Label schema PRs, Label service PRs

program note queries
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgramNote.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramNoteSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgramNote.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programNote.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programNotes.scala
Due: Label schema PRs, Label service PRs

migration to add fluxDensitiesAttachment
  modules/service/src/main/resources/db/migration/V0966__add_fluxDensitiesAttachment.sql
Due: Label service PRs

Path conditions:
  Label calibrations PRs: any of: ^modules/calibrations/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
