Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Altair sequence generator and time accounting
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/GeneratorParamsSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbAltairConfiguration.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/resources/db/migration/V1319__altair_generator_params.sql
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionGnirsAltairSetup.scala
Due: Label sequence PRs

Altair pass parameters to ITC
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/data/AltairConfiguration.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/ItcInputSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbItcInput.scala
  modules/service/src/main/resources/db/migration/V1320__altair_guide_star_generator_params.sql
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionGnirsAltair.scala
Due: Label schema PRs, Label sequence PRs

fix gnirs setup times
  modules/service/src/main/resources/db/migration/V1322__gnirs_setup_times.sql
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionGnirsSetupTime.scala
Due: none

renumber migration
  modules/service/src/main/resources/db/migration/V1321__gnirs_setup_times.sql
Due: none

Altair mode in configuration requests
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/service/src/main/resources/db/migration/V1321__configuration_request_altair.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ConfigurationRequestView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_UniquenessKey.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_altair.scala
Due: Label schema PRs

renumber migration
  modules/service/src/main/resources/db/migration/V1322__configuration_request_altair.sql
Due: none

change parameter order
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/GuideProbeRules.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/GuideProbeValidator.scala
Due: none

Support customizing GMOS MOS and IFU sequences
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
Due: none

Add tests for replacing GMOS MOS and IFU modes
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/ReplaceGmosNorthSequenceOps.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceGmosNorthSequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceGmosSouthSequence.scala
Due: none

Cover the Flamingos 2 observing mode guard
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceFlamingos2Sequence.scala
Due: none

Check the observing mode when defaulting the Flamingos 2 static
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceFlamingos2Sequence.scala
Due: none

Allow customizing gnirs imaging sequences
  modules/service/src/main/scala/lucuma/odb/service/GnirsSequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceGnirsSequence.scala
Due: none

Guard against a null observing mode when defaulting the static config
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceFlamingos2Sequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceGmosSouthSequence.scala
Due: none

Fast Turnaround proposals use the gemini-no-investigators summary style
  modules/service/src/main/scala/lucuma/odb/data/SummaryStyle.scala
  modules/service/src/main/scala/lucuma/odb/service/PdfSummaryJobService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/regenerateProposalSummaries.scala
Due: none

Map every proposal type to its summary style
  modules/service/src/main/scala/lucuma/odb/data/SummaryStyle.scala
  modules/service/src/main/scala/lucuma/odb/service/PdfSummaryJobService.scala
  modules/service/src/test/scala/lucuma/odb/data/SummaryStyleSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/regenerateProposalSummaries.scala
Due: none

Document the proposal-type summary style dispatch
  modules/pdf-summary/pdf-summary-flow.md
Due: none

Add pdf-summary to the sparse checkout template
  odb-sparse-checkout
Due: none

Make sure subaru renders as gemini DARP
  modules/pdf-summary/pdf-summary-flow.md
  modules/service/src/main/scala/lucuma/odb/data/SummaryStyle.scala
  modules/service/src/main/scala/lucuma/odb/service/PdfSummaryJobService.scala
  modules/service/src/test/scala/lucuma/odb/data/SummaryStyleSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/regenerateProposalSummaries.scala
Due: none

Refresh a waiting job's style when the proposal type changes
  modules/pdf-summary/pdf-summary-flow.md
  modules/service/src/main/scala/lucuma/odb/service/PdfSummaryJobService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/regenerateProposalSummaries.scala
Due: none

Cite the OCS map the style dispatch actually follows
  modules/pdf-summary/pdf-summary-flow.md
  modules/service/src/main/scala/lucuma/odb/data/SummaryStyle.scala
Due: none

Require the proposal row when enqueuing summary jobs
  modules/service/src/main/scala/lucuma/odb/service/PdfSummaryJobService.scala
Due: none

Note why Keck falls back to the default style
  modules/service/src/main/scala/lucuma/odb/data/SummaryStyle.scala
Due: none

Report an empty dataY distinctly from an all-negative axis
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  itc/tests/src/test/scala/lucuma/itc/legacy/GraphCodecSuite.scala
Due: Label tests PRs

Compare ItcSeries samples by value
  itc/model/src/main/scala/lucuma/itc/ItcGraph.scala
  itc/service/src/main/scala/lucuma/itc/service/redis/redis.scala
  itc/tests/src/test/scala/lucuma/itc/model/ItcSeriesSuite.scala
Due: Label model PRs, Label tests PRs

Hold ITC series samples in an array
  itc/client/shared/src/main/scala/lucuma/itc/client/json/decoders.scala
  itc/model/src/main/scala/lucuma/itc/ItcGraph.scala
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
  itc/service/src/main/scala/lucuma/itc/service/redis/redis.scala
  itc/tests/src/test/scala/lucuma/itc/model/ItcSeriesSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/TargetGraphsFromLegacySuite.scala
  itc/tests/src/test/scala/lucuma/itc/tests/MockItc.scala
Due: Label client PRs, Label model PRs, Label tests PRs

Altair configuration: model, DB and GraphQL
  build.sbt
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/AltairNdFilterBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/CassRotatorBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/AltairConfiguration.scala
  modules/service/src/main/resources/db/migration/V1318__altair.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AltairInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TargetEnvironmentInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/AltairRules.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideProbeRules.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/ServiceOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_altair.scala
Due: Label binding PRs, Label schema PRs

Altair guide environment and AGS
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationEffectHandler.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideStarResolver.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GaiaVoTables.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/altairFieldLens.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGnirs.scala
  modules/service/src/test/scala/lucuma/odb/service/GuideServiceAvailabilityHashSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/GuideServiceGuideStarHash.scala
Due: Label schema PRs

address pr comment
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_altair.scala
Due: none

Altair workflow validations
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidationInfo.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/AltairValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/GuideProbeValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_altair.scala
Due: none

Altair on telluric calibrations
  modules/schema/src/main/scala/lucuma/odb/data/AltairConfiguration.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations_gnirs_altair.scala
Due: Label schema PRs

Altair support is an instrument flag
  modules/service/src/main/resources/db/migration/V1318__altair.sql
  modules/service/src/main/scala/lucuma/odb/service/AltairRules.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_altair.scala
Due: none
