Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Add a simulated sequence for igrins 2
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/ConfigChangeEstimator.scala
  modules/service/src/main/scala/lucuma/odb/logic/DetectorEstimator.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
Due: Label client PRs, Label sequence PRs

Cleanup
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/package.scala
  modules/service/src/main/resources/db/migration/V1101__igrins2_longslit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/logic/DetectorEstimator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
Due: Label sequence PRs

wip
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/all.scala
  modules/schema/src/main/scala/lucuma/odb/json/igrins2.scala
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/main/resources/db/migration/V1101__igrins2_longslit.sql
  modules/service/src/main/resources/db/migration/V1104__igrins2_sequence.sql
Due: Label client PRs, Label schema PRs

Flamingos 2 Acquisition Customization
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/AcquisitionConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/LongSlit.scala
  modules/service/src/main/resources/db/migration/V1104__flamingos_2_acq.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbFlamingos2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqFlamingos2_WithoutSkySubtraction.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Due: Label schema PRs, Label sequence PRs

Encode the default offsets logic on the database
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1104__igrins2_offsets.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationIgrins2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Igrins2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Igrins2LongSlitTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Igrins2LongSlitView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/Igrins2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label sequence PRs

Update lucuma-core
  modules/schema/src/main/scala/lucuma/odb/format/SpatialOffsetsFormat.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Config.scala
Due: Label schema PRs, Label sequence PRs

Setup columns and schema for igrins2 spatial offsets
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/format/SpatialOffsetsFormat.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1104__igrins2_offsets.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/Igrins2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Igrins2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Igrins2LongSlitTable.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2LongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label schema PRs, Label sequence PRs

Renumber migration
  modules/service/src/main/resources/db/migration/V1105__igrins2_offsets.sql
Due: none

offset mode defines the default set of offsets an observation gets
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1104__igrins2_offsets.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/Igrins2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Igrins2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2LongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/Igrins2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbIgrins2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label schema PRs, Label sequence PRs

Change default read mode for f2 imaging
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
Due: none

Add example to show a very slow explore query
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservationExplore.scala
Due: none

Add allowed filters comment to F2 Acquisition Input
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

IGRINS2 Planned Time Estimates
  modules/service/src/main/resources/db/migration/V1106__igrins2_planned_time.sql
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/logic/ConfigChangeEstimator.scala
  modules/service/src/main/scala/lucuma/odb/logic/DetectorEstimator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
Due: none

Rename some tables for better consistency
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  modules/service/src/main/resources/db/migration/V1107__rename_smart_gcal_tables.sql
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
Due: Label client PRs

slew events don't count
  modules/service/src/main/resources/db/migration/V1107__manual_sequence.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSlewEvent.scala
Due: none

cleanup
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/Itc.scala
  modules/schema/src/main/scala/lucuma/odb/json/igrins2.scala
  modules/schema/src/test/scala/lucuma/odb/json/Igrins2Suite.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
Due: Label schema PRs

Sequence data types and generation for igrins 2
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/all.scala
  modules/schema/src/main/scala/lucuma/odb/json/igrins2.scala
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/schema/src/test/scala/lucuma/odb/json/Igrins2Suite.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Science.scala
  modules/service/src/main/resources/db/migration/V1107__igrins2_sequence.sql
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/Igrins2Codecs.scala
Due: Label schema PRs, Label sequence PRs

Enable igrins 2 on the generator itc call
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: none

Add generation of steps for igrins 2
  modules/schema/src/main/scala/lucuma/odb/data/Itc.scala
  modules/schema/src/main/scala/lucuma/odb/json/igrins2.scala
  modules/schema/src/test/scala/lucuma/odb/data/arb/ArbItc.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
Due: Label schema PRs, Label sequence PRs

Add Igrins2 Itc result for science-only spectroscopy
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/Itc.scala
  modules/schema/src/main/scala/lucuma/odb/json/itc.scala
  modules/schema/src/test/scala/lucuma/odb/data/arb/ArbItc.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/LongSlit.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorContext.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
Due: Label schema PRs, Label sequence PRs

Share some code with flamingos 2
  modules/sequence/src/main/scala/lucuma/odb/sequence/SlitUtil.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Science.scala
Due: Label sequence PRs

Test nod to sky with all offssets of target
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciIgrins2.scala
Due: Label sequence PRs

Simplifications
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciIgrins2.scala
Due: none

Add Igrins2Spectroscopy without acq
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbItcInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
Due: Label sequence PRs

Add tests for igrins 2 execution
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForIgrins2.scala
Due: none

Test sequences with mode nod to sky
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForIgrins2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciIgrins2.scala
Due: none

Only count steps on p for the cycles
  modules/sequence/src/main/scala/lucuma/odb/sequence/SlitUtil.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Science.scala
Due: Label sequence PRs

Renumber migration
  modules/service/src/main/resources/db/migration/V1108__igrins2_sequence.sql
Due: none

Setup count
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/TimeEstimateCalculator.scala
  modules/service/src/main/resources/db/migration/V1107__setup_estimate.sql
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: Label schema PRs, Label sequence PRs

test
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6344.scala
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1109__setup_estimate.sql
Due: none

refactor
  modules/sequence/src/main/scala/lucuma/odb/sequence/SetupTimeEstimateCalculator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/StepTimeEstimateCalculator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Imaging.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/AtomBuilder.scala
  modules/service/src/main/scala/lucuma/odb/logic/ConfigChangeEstimator.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: Label sequence PRs

core 176
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
Due: Label sequence PRs

fix V1109
  modules/service/src/main/resources/db/migration/V1110__populate_obscalc.sql
Due: none

Add an extra logger for slow queries
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
Due: none

Enable slow log query
  modules/calibrations/src/main/resources/logback.xml
  modules/obscalc/src/main/resources/logback.xml
  modules/service/src/main/resources/logback.xml
Due: Label calibrations PRs, Label obscalc PRs

Add tracing for the slow queries
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
Due: none

Add missing triggers for obscalc and notifications for igrins 2
  modules/service/src/main/resources/db/migration/V1111__igrins2_config_trigger.sql
Due: none

Include setup cost per expected setup
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programPlannedTime.scala
Due: none

Automatically reset acquisition
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UpdateObservationsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosNorth.scala
Due: none
