Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

wip
  modules/service/src/main/scala/lucuma/odb/data/Nullable.scala
  modules/service/src/main/scala/lucuma/odb/data/OdbErrorExtensions.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/syntax/observationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
Due: Label service PRs

Count non-partner as US
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
Due: Label service PRs

tests
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
Due: Label service PRs

scalafix
  modules/service/src/main/scala/lucuma/odb/data/OdbErrorExtensions.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
Due: Label service PRs

Test case
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEditSn.scala
Due: Label service PRs

fix test
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
Due: Label schema PRs, Label service PRs

Refactoring
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
Due: Label service PRs

test placeholders
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
Due: Label service PRs

test
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
Due: Label service PRs

Add band
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
Due: Label service PRs

groupWithin?
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ConfigurationRequestTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ExecutionEventAddedTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/GroupTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObservationTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/OdbTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ProgramTopic.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/TargetTopic.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEditSn.scala
Due: Label service PRs

observation filter on instrument and site
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Due: Label schema PRs, Label service PRs

comment
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
Due: Label service PRs

lint
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
Due: Label service PRs

Only notify if something changes
  modules/service/src/main/resources/db/migration/V0952__filter_edit_events.sql
Due: Label service PRs

Don't advance ids for opposite sequence type
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcq.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
Due: Label sequence PRs, Label service PRs

step id bug fix
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/IndexTracker.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcq.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
Due: Label sequence PRs, Label service PRs

wip
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label service PRs

scalafix
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label service PRs

filter
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
Due: Label schema PRs, Label service PRs

active period
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0952__program_active_period.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/CallForProposalsPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/date.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DateIntervalMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramTable.scala
  modules/service/src/main/scala/lucuma/odb/service/CallForProposalsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createCallForProposals.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateCallsForProposals.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updatePrograms.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
Due: Label schema PRs, Label service PRs

Path conditions:
  Label calibrations PRs: any of: ^modules/calibrations/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
