Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17)
  actions:
    merge: {}
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

Add comment about dockerfile build
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label service PRs

Add comments to init scripts
  modules/service/src/Dockerfile
Due: Label service PRs

fix test case
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcq.scala
Due: Label service PRs

test case
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcq.scala
Due: Label service PRs

Filter zero exposure time
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ExposureTimeModeInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/timeAndCountExposureTimeMode.scala
Due: Label schema PRs, Label sequence PRs, Label service PRs

Use timestamp of a custom SED as part of the itc validation hash
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentMetadataService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: Label sequence PRs, Label service PRs

overlap discount
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0978__overlap_discount.sql
  modules/service/src/main/scala/lucuma/odb/data/TimeCharge.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeChargeDiscountMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/TimeChargeDiscountTable.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccounting.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingService.scala
Due: Label schema PRs, Label service PRs

Remove guide environment check for too long of observation duration
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironment.scala
Due: Label service PRs

overlap discount
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0978__overlap_discount.sql
  modules/service/src/main/scala/lucuma/odb/data/TimeCharge.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeChargeDiscountMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/TimeChargeDiscountTable.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccounting.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timeAccounting.scala
Due: Label schema PRs, Label service PRs

tests
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeChargeInvoiceMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timeAccounting.scala
Due: Label service PRs

cleanup
  modules/service/src/main/resources/db/migration/V0978__overlap_discount.sql
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingService.scala
Due: Label service PRs

workflow
  .mergify.yml
Due: none

rename c_program_discount
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0978__overlap_discount.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeChargeDiscountMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/TimeChargeDiscountTable.scala
  modules/service/src/main/scala/lucuma/odb/service/TimeAccountingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timeAccounting.scala
Due: Label schema PRs, Label service PRs

mima
  build.sbt
Due: none

Revert "Merge pull request #1702 from gemini-hlsw/ember-server"
  build.sbt
  modules/service/src/main/resources/logback.xml
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label service PRs

Allow tests DockerFile to be found if starting in modules/service
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label service PRs

Use IS DISTINCT FROM when comparing nullable values
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
Due: Label service PRs

Sample test to reproduce shortcut 5331
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5331.scala
Due: Label service PRs

Sample test passing variables
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5331.scala
Due: Label service PRs

fix
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/LongBinding.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5331.scala
Due: Label service PRs
