Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Pass to Ags only guided steps
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: none

Flip the order of offset and guide state
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/main/resources/db/migration/V1065__add_guide_state_to_digest_offsets.sql
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs

Fix migration
  modules/service/src/main/resources/db/migration/V1065__add_guide_state_to_digest_offsets.sql
Due: none

Upgrade Grackle, use `oneOf` and `specifiedBy` directives and deprecate input object fields
  build.sbt
  itc/fetchLocalODBSchema.mjs
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/resources/graphql/itc_base.graphql
  itc/tests/src/test/scala/lucuma/itc/service/exactConstraintsSuite.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordStep.scala
Due: Label schema PRs, Label tests PRs

Update other graphql deps
  build.sbt
Due: none

Upgrade Grackle, use `oneOf` and `specifiedBy` directives and deprecate input object fields
  itc/fetchLocalODBSchema.mjs
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/resources/graphql/itc_base.graphql
  itc/tests/src/test/scala/lucuma/itc/service/exactConstraintsSuite.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordStep.scala
Due: Label schema PRs, Label tests PRs

Include odb sparse checkout list
  odb-sparse-checkout
Due: none

Use checkout action with lfs caching
  .github/workflows/ci.yml
  .gitignore
  build.sbt
Due: none

Be more resilient on build-info.json
  build.sbt
Due: none

add more @oneOfs
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

GMOS imaging variants
  modules/binding/src/main/scala/lucuma/odb/data/WavelengthOrder.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/WavelengthOrderBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1065__gmos_imaging1.sql
  modules/service/src/main/resources/db/migration/V1066__gmos_imaging2.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/data/GmosImagingVariantType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingVariantInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/OffsetGeneratorInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationGmosImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OffsetGeneratorMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosImagingView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/main/scala/lucuma/odb/util/GmosCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/GmosImagingInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosImagingInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosImaging.scala
Due: Label binding PRs, Label schema PRs

refactor
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/WavelengthOrder.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/OffsetGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Variant.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/VariantType.scala
  modules/service/src/main/scala/lucuma/odb/data/GmosImagingVariantType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingVariantInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/OffsetGeneratorInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/OffsetGeneratorService.scala
  modules/service/src/main/scala/lucuma/odb/util/GmosCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/GmosImagingInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosImagingInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label schema PRs, Label sequence PRs

remove out of variant offsets and multiple filter mode
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Config.scala
  modules/service/src/main/resources/db/migration/V1066__gmos_imaging2.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosImagingView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/GmosImagingInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosImagingInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosImaging.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label schema PRs, Label sequence PRs

Update SequenceDigest to include the guiding state of each offset
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/main/resources/db/migration/V1065__add_guide_state_to_digest_offsets.sql
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs

Flip the order of offset and guide state
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/main/resources/db/migration/V1065__add_guide_state_to_digest_offsets.sql
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs

Fix migration
  modules/service/src/main/resources/db/migration/V1065__add_guide_state_to_digest_offsets.sql
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
Due: none

Switch to use TelescopeConfig
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs

Updated with PR comments
  build.sbt
  modules/service/src/main/resources/db/migration/V1065__add_guide_state_to_digest_offsets.sql
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: none

To make the codec round trip we need to retain distinct offsets and keep the full TelescopeConfig
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
Due: Label schema PRs

Fix digest encoder
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
Due: Label schema PRs

Refactor: drop offsets from the schema and expose configs directly
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/schema/src/test/scala/lucuma/odb/json/SequenceSuite.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs

Rename configs to telescopeConfigs
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/schema/src/test/scala/lucuma/odb/json/SequenceSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth.scala
Due: Label schema PRs

Fix tests
  modules/schema/src/test/scala/lucuma/odb/json/SequenceSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth.scala
Due: Label schema PRs

Use the latest lucuma-core
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/schema/src/test/scala/lucuma/odb/json/SequenceSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs

Handle the case of null offsets in the db
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: none

Update itc libs for 2026A.1.1.1
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026001.1.1.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026001.1.1.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026001.1.1.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026001.1.1.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026001.1.1.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026001.1.1.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026001.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026001.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026001.1.1.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026001.1.1.jar
Due: none

Renumber migration
  modules/service/src/main/resources/db/migration/V1066__telluric_resolution.sql
  modules/service/src/test/scala/lucuma/odb/service/TelluricResolutionServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/TelluricResolutionServiceSuiteSupport.scala
Due: none

Initial version of the telluric resolution service
  build.sbt
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/resources/db/migration/V1065__telluric_resolution.sql
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/data/TelluricResolution.scala
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/SchedulerRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/TelluricTargetTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricResolutionDaemon.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricResolutionService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/service/TelluricResolutionServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/TelluricResolutionServiceSuiteSupport.scala
Due: Label calibrations PRs, Label obscalc PRs

Some refactorings
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/data/TelluricResolution.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/TelluricTargetTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricResolutionDaemon.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
Due: Label calibrations PRs, Label obscalc PRs

Use telluric mock client for tests
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

Several test fixes
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/resources/db/migration/V1065__telluric_resolution.sql
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsDaemon.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
Due: Label calibrations PRs, Label obscalc PRs

Simplify tellurics service
  modules/service/src/main/scala/lucuma/odb/service/TelluricResolutionService.scala
  modules/service/src/test/scala/lucuma/odb/service/TelluricResolutionServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/TelluricResolutionServiceSuiteSupport.scala
Due: none

Read workflow state when obscalc completes
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
Due: none

Rename Tellurics service
  modules/service/src/main/scala/lucuma/odb/data/TelluricTargets.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsDaemon.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/service/TelluricTargetsServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/TelluricTargetsServiceSuiteSupport.scala
Due: none

Reuse codecs from Obscalc
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
Due: none

Don't update target when sci obs changes
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsDaemon.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
Due: Label calibrations PRs

Some cleanups
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsDaemon.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
Due: none

Cleanup some tests
  modules/service/src/main/resources/db/migration/V1066__telluric_resolution.sql
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsDaemon.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/service/TelluricTargetsServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/TelluricTargetsServiceSuiteSupport.scala
Due: none

Add Hmin fields to SpectroscopyRow and parser
  modules/phase0/src/main/scala/lucuma/odb/phase0/ConfigurationRow.scala
Due: Label phase0 PRs

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
