Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Remove dropwizard metrics
  build.sbt
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  itc/service/src/main/scala/lucuma/itc/service/config/Config.scala
  itc/service/src/main/scala/lucuma/itc/service/config/MetricsConfig.scala
  itc/service/src/main/scala/lucuma/itc/service/metrics/JvmMetricsService.scala
  itc/tests/src/test/scala/lucuma/itc/client/ClientSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/GraphQLSuite.scala
  itc/tests/src/test/scala/lucuma/itc/tests/util.scala
Due: Label tests PRs

Add http4s otel metrics
  build.sbt
  itc/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
Due: none

Load schema inside blocking
  itc/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
Due: none

Add tracing to the itc client
  itc/tests/src/test/scala/lucuma/itc/tests/util.scala
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
Due: Label calibrations PRs, Label obscalc PRs, Label tests PRs

scalafix
  itc/benchmarks/src/main/scala/lucuma/itc/benchmarks/ItcBenchmarkSetup.scala
  itc/service/src/main/scala/lucuma/itc/cache/RedisEffectfulCache.scala
  itc/service/src/main/scala/lucuma/itc/input/customSed/CustomSedOdbAttachmentResolver.scala
  itc/service/src/main/scala/lucuma/itc/legacy/FLocalItc.scala
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  itc/tests/src/test/scala/lucuma/itc/client/ClientSuite.scala
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
Due: Label benchmarks PRs, Label calibrations PRs, Label obscalc PRs, Label tests PRs

Remove zprime as an option for acquisition filter for GN and GS
  build.sbt
  modules/service/src/main/resources/db/migration/V1120__remove_zprime_acq_filter.sql
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/7265.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosNorth.scala
Due: none

Renumber migration
  modules/service/src/main/resources/db/migration/V1121__remove_zprime_acq_filter.sql
Due: none

Library updates
  build.sbt
Due: none

Fix some tests that break due to withSession and munit. Add withFreshSession for isolated use
  build.sbt
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/blindOffsetTarget.scala
  modules/service/src/test/scala/lucuma/odb/service/GhostIfuServiceSuite.scala
Due: none

Update gaia queries for blind offset searches
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: none

GHOST ITC params
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/Itc.scala
  modules/schema/src/main/scala/lucuma/odb/json/itc.scala
  modules/schema/src/test/scala/lucuma/odb/data/arb/ArbItc.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbItcInput.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorContext.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
Due: Label schema PRs, Label sequence PRs

Fix GHOST graphs
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGhostSpecExpTimeSuite.scala
  itc/model/src/main/scala/lucuma/itc/math.scala
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-json_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2025101.1.1.jar
  itc/service/src/main/scala/lucuma/itc/service/requests/graph.scala
  itc/testkit/src/main/scala/lucuma/itc/arb/ArbItcGhostDetector.scala
  itc/testkit/src/main/scala/lucuma/itc/client/arb/ArbInstrumentMode.scala
  itc/tests/src/test/scala/lucuma/itc/MathSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyGraphSuite.scala
Due: Label model PRs, Label testkit PRs, Label tests PRs

A few more roundToSignificantFigures tests.
  itc/tests/src/test/scala/lucuma/itc/MathSuite.scala
Due: Label tests PRs

Add phase I flags to the db and inputs
  modules/service/src/main/resources/db/migration/V1122__add_pending_phase_i_flags.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
Due: none

Add new fields to the proposals view
  modules/service/src/main/resources/db/migration/V1122__add_pending_phase_i_flags.sql
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProposalView.scala
Due: none

Forbid submitting queue proposals without a consider for band3 selection
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
Due: none

Update schema and add tests
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalTypeMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
Due: Label schema PRs

Cleanup
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
Due: Label schema PRs

Fix broken test case
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
Due: none

Update logic to follow what is done for tooActivation
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
Due: Label schema PRs

Use an enum for the consider for band 3 field
  modules/binding/src/main/scala/lucuma/odb/data/ConsiderForBand3.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/ConsiderForBand3Binding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1122__add_pending_phase_i_flags.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProposalView.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
Due: Label binding PRs, Label schema PRs

Update itc jars to get signficant figure rounding on the itc side
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-json_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2025101.1.1.jar
Due: none

Add new enum to startup diagnostics
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
Due: none

Added a test showing how the consider for band 3 flag value is preserved
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
Due: none

Use ConsiderForBand3 from lucuma-core
  build.sbt
  modules/binding/src/main/scala/lucuma/odb/data/ConsiderForBand3.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/ConsiderForBand3Binding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: Label binding PRs

Add considerForBand3 for Classical proposals and check submission
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalTypeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProposalView.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
Due: Label schema PRs

Ghost sequence types, mappings, codecs
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/all.scala
  modules/schema/src/main/scala/lucuma/odb/json/ghost.scala
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/schema/src/test/scala/lucuma/odb/json/GhostSuite.scala
  modules/schema/src/test/scala/lucuma/odb/json/SequenceSuite.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/DetectorConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/Ifu.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/Science.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GhostDetectorConfigInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GhostIfuInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GhostDynamicMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GhostIfuMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GhostStaticMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GhostDynamicTable.scala
  modules/service/src/main/scala/lucuma/odb/logic/DetectorEstimator.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostIfuService.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/util/GhostCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGhost.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GenerationTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGhostIfu.scala
  modules/service/src/test/scala/lucuma/odb/service/GhostIfuServiceSuite.scala
Due: Label schema PRs, Label sequence PRs

unused import
  modules/schema/src/test/scala/lucuma/odb/json/GhostSuite.scala
Due: Label schema PRs

GhostIfuService delete
  modules/service/src/main/scala/lucuma/odb/service/GhostIfuService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GhostIfu.scala
Due: none

Update ocslibs to fix igrins2 error
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-json_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2025101.1.1.jar
Due: none
