Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17)
  actions:
    merge: {}
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

fix tests
  modules/service/src/main/scala/lucuma/odb/data/ObservationValidationMap.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observationValidations.scala
Due: Label service PRs

cleanup
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
Due: Label service PRs

hack
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/configurationRequestEdit.scala
Due: Label service PRs

Support deleting unused twilight calibrations
  modules/service/src/main/resources/logback.xml
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
Due: Label service PRs

suppress config request warnings unless proposal is accepted
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observationValidations.scala
Due: Label service PRs

Properly tell when to delete twilights
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: Label service PRs

scalafix
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
Due: Label service PRs

Change log level
  modules/service/src/main/resources/logback.xml
Due: Label service PRs

Rename some functions and fix a bug on a selector
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
Due: Label service PRs

fixes
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/MissingParamSet.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setGuideTargetName.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionFailures.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideAvailability.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironment.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironments.scala
Due: Label sequence PRs, Label service PRs

update test case
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
Due: Label service PRs

format
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observationValidations.scala
Due: Label service PRs

refactoring
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/MissingParam.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/MissingParamSet.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ParamName.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label sequence PRs, Label service PRs

refactoring
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ParamName.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label sequence PRs, Label service PRs

fixes
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observationValidations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
Due: Label service PRs

comment
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/MissingParam.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/MissingParamSet.scala
Due: Label sequence PRs

wip
  modules/service/src/main/scala/lucuma/odb/data/ObservationValidationMap.scala
  modules/service/src/main/scala/lucuma/odb/data/ObservationWorkflowState.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
Due: Label service PRs

Add isComplete
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionIsComplete.scala
Due: Label schema PRs, Label service PRs

switch to enum
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/data/ObservationExecutionState.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionState.scala
Due: Label schema PRs, Label service PRs

simplify status encoding
  modules/service/src/main/scala/lucuma/odb/data/ObservationWorkflowState.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

wip
  modules/service/src/main/scala/lucuma/odb/data/ObservationWorkflow.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs
