Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Also rename fields on ObsCalcUpdate
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObscalcUpdatedInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObscalcUpdateMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/obscalcUpdate.scala
Due: Label schema PRs

Only sync science ETM for telluric observations
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

Adjust to make it work for txc mode as well
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

wip manual sequence generation
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: none

Adjust to make it work for txc mode as well
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
Due: none

Don't check tellurics for the whole program but on an observation basis
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6598.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
Due: Label calibrations PRs

stream from database
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: none

Update flake
  flake.lock
  flake.nix
Due: none

Update wavelength calculations for AGS and add support for gmos imaging
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GuideEnvironmentSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGMOS.scala
Due: none

fix index
  modules/service/src/main/resources/db/migration/V1086__config_req_fix.sql
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/7782.scala
Due: none

cleanu[
  modules/service/src/main/resources/db/migration/V1086__config_req_fix.sql
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/7782.scala
Due: none

Update ags queries to consider a buffer
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: none

Update ObservingMode
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
Due: Label sequence PRs

Get the candidates area from the probe
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
Due: none

Skip igrins2 on the clone test
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: none

Update lucuma core
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: Label schema PRs

Fix for sequencesuite test
  modules/schema/src/test/scala/lucuma/odb/json/SequenceSuite.scala
Due: Label schema PRs

Skip IG2 on configuration requests test
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: none

Adding observing mode for ig2 to the schema and db
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1087__igrins2_obs_mode_type.sql
Due: Label schema PRs

Updated to use the new sed lookup method
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: none

Update schema for itc
  itc/service/src/main/resources/graphql/itc.graphql
Due: none

improve
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: none

stream using latest static config
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: none

select sequence
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: none

Now I am become Death, the destroyer of worlds.
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/ExecutionConfigGenerator.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorContext.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorError.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3219.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/7591.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqFlamingos2_WithoutSkySubtraction.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: Label sequence PRs

refactor Generator
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ProtoExecutionConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/StreamingExecutionConfig.scala
  modules/service/src/main/scala/lucuma/odb/logic/ExecutionConfigGenerator.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
Due: Label sequence PRs

Rebase, add IGRINS2 placeholders
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
Due: none

materialize method
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/data/ResultExtensions.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: Label sequence PRs

pure sequences
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/StreamingExecutionConfig.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
Due: Label sequence PRs

Remove tracking visits, steps, etc.
  modules/sequence/src/main/scala/lucuma/odb/data/OneOf3.scala
  modules/sequence/src/main/scala/lucuma/odb/data/OneOf4.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/stream.scala
Due: Label sequence PRs

Remove 'when' parameter from generate
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
Due: Label sequence PRs

Remove ExecutionConfigGenerator
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Imaging.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
Due: Label sequence PRs

Remove recordVisit, recordStep ...
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
Due: Label sequence PRs

comment
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
Due: none

add AtomInput, StepInput
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/BreakpointBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/AtomInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/StepInput.scala
Due: Label binding PRs, Label schema PRs

Update lucuma-core to get optional VMag in ephemeris
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/TrackingService.scala
Due: none

Unused code
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordAtom.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordStep.scala
Due: Label schema PRs

Allow staff to edit blind offsets for ongoing observations
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
Due: none

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
