Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

rebase
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObscalcTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
Due: Label service PRs

test case message
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2887.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5098.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
Due: Label service PRs

don't retry normal ITC errors like source too bright
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/schema/src/test/scala/lucuma/odb/data/OdbErrorSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionFailures.scala
Due: Label schema PRs, Label service PRs

rename migration
  modules/service/src/main/resources/db/migration/V0984__obscalc.sql
Due: Label service PRs

subscription API
  modules/binding/src/main/scala/lucuma/odb/data/ObscalcState.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/ObscalcStateBinding.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0985__obscalc.sql
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObscalcUpdatedInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereOptionEq.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObscalcUpdateMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ObscalcUpdatePredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObscalcTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/obscalcUpdate.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs, Label service PRs

calculated time estimate
  modules/binding/src/main/scala/lucuma/odb/data/ObscalcState.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CalculatedExecutionDigestMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObscalcTable.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService2.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label schema PRs, Label service PRs

annoyance
  modules/service/src/main/resources/db/migration/V0984__obscalc.sql
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

Obscalc.Entry
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

A session per calculation job - fixes a nested transaction issue.
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
Due: none

initialize t_obscalc
  modules/service/src/main/resources/db/migration/V0985__obscalc.sql
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService2.scala
Due: Label service PRs

comments
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
Due: Label service PRs

only process events switching to pending state
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/resources/db/migration/V0984__obscalc.sql
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObscalcTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

remove updateOnly
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

switch to core
  modules/binding/src/main/scala/lucuma/odb/data/ObscalcState.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/CalculationPhaseBinding.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/all.scala
  modules/schema/src/main/scala/lucuma/odb/json/calculationValue.scala
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObscalcUpdatedInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObscalcUpdateMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObscalcTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ObscalcTopic.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService2.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/obscalcUpdate.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs, Label service PRs

CalculationValueCodec
  modules/schema/src/main/scala/lucuma/odb/json/all.scala
  modules/schema/src/main/scala/lucuma/odb/json/calculationValue.scala
Due: Label schema PRs

PR comments
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/OdbTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label service PRs

use Config
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/Config.scala
Due: Label service PRs

time estimate API
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/calculatedValue.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GroupMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEditOnCachedResultUpdate.scala
Due: Label schema PRs, Label service PRs

cleanup / doc
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/resources/db/migration/V0984__obscalc.sql
Due: Label service PRs

cleanup
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/calculatedValue.scala
  modules/service/src/main/resources/db/migration/V0985__obscalc.sql
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService2.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs, Label service PRs

rebase
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
Due: Label service PRs

renumber migration
  modules/service/src/main/resources/db/migration/V0988__obscalc.sql
Due: Label service PRs

Update procfile
  Procfile
Due: none

Add parser for gmos imaging modes
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Imaging.tsv
  modules/phase0/src/main/scala/lucuma/odb/phase0/ConfigurationRow.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/FileReader.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/GmosImagingRow.scala
  modules/phase0/src/test/scala/lucuma/odb/phase0/Phase0LoaderSuite.scala
  modules/service/src/main/resources/db/migration/V0987__imaging_matrix_gmos.sql
  modules/service/src/main/scala/db/migration/Phase0Loader.scala
  modules/service/src/main/scala/db/migration/Phase0Table.scala
  modules/service/src/main/scala/db/migration/R__Phase0.scala
Due: Label phase0 PRs, Label service PRs

Write imaging modes to the db
  modules/service/src/main/resources/db/migration/V0987__imaging_matrix_gmos.sql
  modules/service/src/main/scala/db/migration/Phase0Loader.scala
  modules/service/src/main/scala/db/migration/Phase0Table.scala
  modules/service/src/main/scala/db/migration/R__Phase0.scala
Due: Label service PRs

Rename migration
  modules/service/src/main/resources/db/migration/V0989__imaging_matrix_gmos.sql
Due: Label service PRs

Path conditions:
  Label calibrations PRs: any of: ^modules/calibrations/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
