Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Add igrins 2 offset mode binding and codecs
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/Igrins2OffsetModeBinding.scala
  modules/service/src/main/scala/lucuma/odb/util/Igrins2Codecs.scala
Due: Label binding PRs

Add igrins 2 LongSlitService and mappings
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Config.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Igrins2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Igrins2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Igrins2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigMatcher.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
Due: Label sequence PRs

Add tests for igrins 2 cloning
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: none

Some cleanups
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1101__igrins2_longslit.sql
Due: Label sequence PRs

Add tests to create observation for igrins 2
  modules/service/src/main/resources/db/migration/V1101__igrins2_longslit.sql
  modules/service/src/main/scala/lucuma/odb/service/ExposureTimeModeService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
Due: none

Update configuration service with igrins 2 requestes
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: Label schema PRs

Add tests to clone igrins2 observations
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: none

Add tests to update igrins2 observations
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: none

Fix migration
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
Due: none

Fix tests
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/datasets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
  modules/service/src/test/scala/lucuma/odb/service/VisitServiceSuite.scala
Due: none

remove addAtomEvent
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddAtomEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AddAtomEventResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addAtomEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSequenceEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addStepEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/executionEventAdded.scala
Due: Label schema PRs

lint
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
Due: none

Separate materialization by sequence type
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
Due: none

dataset duplication debug
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addStepEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordDataset.scala
Due: none

Changes required after rebase
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
Due: none

execution order should ignore sequence type
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordDataset.scala
Due: none

abandon on visit
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
Due: none

final migration
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/resources/db/migration/V1101__manual_sequence.sql
Due: none

Add extra F2 acquisition steps
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Acquisition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqFlamingos2_WithSkySubtraction.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqFlamingos2_WithoutSkySubtraction.scala
Due: Label sequence PRs

GMOS
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionGmosNorthWithBlindOffset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label sequence PRs

Remove postgres debugging
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: none

more migration tweaks
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
Due: none

AtomRecord includes visit id in key
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AtomRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AtomRecordSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AtomRecordView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/StepRecordView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/VisitAtomView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSequenceEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addStepEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAtomRecords.scala
Due: Label schema PRs

Refector migration
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/resources/db/migration/V1101__manual_sequence.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
Due: none

migration tweak
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
Due: none

tests
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/ReplaceSequenceOps.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceFlamingos2Sequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceGmosSouthSequence.scala
Due: Label schema PRs

Replace existing sequence
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/StreamingExecutionConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/AtomBuilder.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AtomInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ReplaceSequenceInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/StepInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceFlamingos2Sequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceGmosNorthSequence.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: Label schema PRs, Label sequence PRs

Edit event / obscalc invalidation for sequence materialization
  modules/service/src/main/resources/db/migration/V1102__manual_sequence.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceFlamingos2Sequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/obscalcUpdate.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEditOnCachedResultUpdate.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEditOnSequenceReplace.scala
Due: none

cleanup
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/service/src/main/resources/db/migration/V1102__igrins2_longslit.sql
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2LongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAtomRecords.scala
Due: Label schema PRs

Add insertScienceOnlyWithDefaults to ExposureTimeModeService
  modules/service/src/main/scala/lucuma/odb/service/ExposureTimeModeService.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2LongSlitService.scala
Due: none

Update binary base version
  build.sbt
Due: none

Add igrins2LongSlit to ConfigurationObservingMode schema
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/service/src/main/resources/db/migration/V1102__igrins2_longslit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationIgrins2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ConfigurationRequestView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: Label schema PRs

Renumber migration
  modules/service/src/main/resources/db/migration/V1103__igrins2_longslit.sql
Due: none

Remove the view to the igrins2 long slit table
  modules/service/src/main/resources/db/migration/V1103__igrins2_longslit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationIgrins2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Igrins2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Igrins2LongSlitTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/VisitAtomView.scala
Due: none

Don't store the defaults for igrins2 on the db
  modules/service/src/main/resources/db/migration/V1103__igrins2_longslit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Igrins2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Igrins2LongSlitTable.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2LongSlitService.scala
Due: none

Replace left joins to avoid a bug when observations are hard deleted
  modules/service/src/main/resources/db/migration/V1103__igrins2_longslit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Igrins2LongSlitMapping.scala
Due: none

Add IGRINS2 long slit DB migration
  modules/service/src/main/resources/db/migration/V1101__igrins2_longslit.sql
Due: none

Add IGRINS2 long slit service, mapping, input, and wiring
  modules/service/src/main/scala/lucuma/odb/graphql/table/Igrins2LongSlitView.scala
Due: none

Fix compilation: add IGRINS2 cases to exhaustive matches
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
Due: none
