Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Altair workflow validations
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidationInfo.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/AltairValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/GuideProbeValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_altair.scala
Due: none

review altair validation checks
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/AltairValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_altair.scala
Due: none

Fix the probe rule argument order
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/GuideProbeValidator.scala
Due: none

Altair on telluric calibrations
  modules/schema/src/main/scala/lucuma/odb/data/AltairConfiguration.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations_gnirs_altair.scala
Due: Label schema PRs

Altair sequence generator and time accounting
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/GeneratorParamsSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbAltairConfiguration.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/resources/db/migration/V1319__altair_generator_params.sql
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionGnirsAltairSetup.scala
Due: Label sequence PRs

renumber migration
  modules/service/src/main/resources/db/migration/V1320__altair_generator_params.sql
Due: none

Hash the Altair configuration as a whole
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
Due: Label sequence PRs

Altair pass parameters to ITC
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/data/AltairConfiguration.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/ItcInputSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbItcInput.scala
  modules/service/src/main/resources/db/migration/V1320__altair_guide_star_generator_params.sql
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionGnirsAltair.scala
Due: Label schema PRs, Label sequence PRs

Altair guide star loop in the generator
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/ItcInputSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbItcInput.scala
  modules/service/src/main/resources/db/migration/V1320__altair_guide_star_generator_params.sql
  modules/service/src/main/resources/db/migration/V1321__itc_result_altair_hash.sql
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorContext.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations_gnirs_altair.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionGnirsAltair.scala
  modules/service/src/test/scala/lucuma/odb/service/ItcServiceSuite.scala
Due: Label sequence PRs

Address review on the guide star loop
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorContext.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionGnirsAltair.scala
Due: none

Pick the Altair guide star before the first ITC call
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorContext.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionGnirsAltair.scala
  modules/service/src/test/scala/lucuma/odb/service/ItcServiceSuite.scala
Due: none

Drop the ITC result eviction on guide star changes
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionGnirsAltair.scala
Due: none

renumber migration
  modules/service/src/main/resources/db/migration/V1321__gnirs_setup_times.sql
Due: none

fix gnirs setup times
  modules/service/src/main/resources/db/migration/V1322__gnirs_setup_times.sql
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionGnirsSetupTime.scala
Due: none

renumber migration
  modules/service/src/main/resources/db/migration/V1322__gnirs_setup_times.sql
Due: none

Altair mode in configuration requests
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/service/src/main/resources/db/migration/V1321__configuration_request_altair.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ConfigurationRequestView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_UniquenessKey.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_altair.scala
Due: Label schema PRs

renumber migration
  modules/service/src/main/resources/db/migration/V1322__configuration_request_altair.sql
Due: none

renumber migration
  modules/service/src/main/resources/db/migration/V1323__configuration_request_altair.sql
Due: none

guard cache, protect against spurious ci errors
  .github/workflows/ci.yml
  .github/workflows/legacy-tests.yml
  .github/workflows/migration-test.yml
  .github/workflows/npm.yml
  build.sbt
  project/plugins.sbt
Due: none

Send the proposal submission email after the transaction commits
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatusEmailFailure.scala
Due: none

Updated itc jars
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.2.jar
Due: none

Ignore the cert the CI preamble chmods
  build.sbt
Due: none

Keep the full checkout on test shards
  .github/workflows/ci.yml
  build.sbt
Due: none

Expose arcs, flats and observingTime on SequenceDigest
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
Due: Label schema PRs

Read the telluric count from the execution digest
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

Cover the zero branches of calibrationCount
  modules/service/src/main/resources/db/migration/V1320__calibration_count.sql
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest_calibrationCount.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationCountSuite.scala
Due: none

Add calibrationCount to ObservationTimeEstimate
  CONTEXT.md
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/schema/src/test/scala/lucuma/odb/json/SequenceSuite.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/visitor/VisitorExecutionDigestCalculator.scala
  modules/service/src/main/resources/db/migration/V1320__calibration_count.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationTimeEstimateMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest_calibrationCount.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/originalEstimate.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs, Label sequence PRs

Store the GCAL digest breakdown
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/schema/src/test/scala/lucuma/odb/json/SequenceSuite.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/visitor/VisitorExecutionDigestCalculator.scala
  modules/service/src/main/resources/db/migration/V1321__gcal_digest.sql
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs, Label sequence PRs

Bucket sequence steps into biases, darks, arcs, flats and observing
  CONTEXT.md
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/visitor/VisitorExecutionDigestCalculator.scala
  modules/service/src/main/resources/db/migration/V1320__calibration_count_and_gcal_digest.sql
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs, Label sequence PRs

Keep the digest upsert explicit, column by column
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
Due: none

Group the sequence step digests under steps
  CONTEXT.md
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/visitor/VisitorExecutionDigestCalculator.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs, Label sequence PRs

Fold the GCAL digest columns into the calibration count migration
  modules/service/src/main/resources/db/migration/V1320__calibration_count.sql
  modules/service/src/main/resources/db/migration/V1320__calibration_count_and_gcal_digest.sql
Due: none

Trim CalibrationCountSuite to the boundary arithmetic
  modules/service/src/test/scala/lucuma/odb/service/CalibrationCountSuite.scala
Due: none

Test the GCAL digest for flat-only and arc-only sequences
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
Due: none

Make calibrationCount an epoch count and keep the visit rule in the service
  CONTEXT.md
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest_calibrationCount.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationCountSuite.scala
Due: Label schema PRs

Recreate v_observation from its current body
  modules/service/src/main/resources/db/migration/V1324__calibration_count_and_gcal_digest.sql
Due: none

Instruct to never run the full test suite
  modules/CLAUDE.md
Due: none

cleanup
  modules/schema/src/test/scala/lucuma/odb/json/SequenceSuite.scala
  modules/service/src/main/resources/db/migration/V1324__calibration_count_and_gcal_digest.sql
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
Due: Label schema PRs

renumber
  modules/service/src/main/resources/db/migration/V1324__calibration_count_and_gcal_digest.sql
Due: none

Keep placeholder digests inside the step partition
  modules/CLAUDE.md
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSpecPhoto.scala
Due: none

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
