Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Use TimeAccountingCategory enum from lucuma.core
  modules/schema/src/main/scala/lucuma/odb/data/TimeAccountingCategory.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/TimeAccountingCategoryBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AllocationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/syntax/partner.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setAllocations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/unlinkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observationValidations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Due: Label schema PRs, Label service PRs

Add to where clause
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0899__cfp_non_partner.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereCallForProposals.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/callsForProposals.scala
Due: Label schema PRs, Label service PRs

non-partner cfp flag and deadline
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0898__cfp_non_partner.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CallForProposalsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/CallForProposalsView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createCallForProposals.scala
Due: Label schema PRs, Label service PRs

partner association
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/PartnerAssociation.scala
  modules/schema/src/main/scala/lucuma/odb/json/partner.scala
  modules/service/src/main/resources/db/migration/V0900__partner_association.sql
Due: Label schema PRs, Label service PRs

f
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/PartnerAssociation.scala
  modules/schema/src/main/scala/lucuma/odb/data/PartnerLink.scala
  modules/schema/src/main/scala/lucuma/odb/json/partner.scala
  modules/service/src/main/resources/db/migration/V0900__partner_association.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateUserInvitationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/PartnerAssociationInput.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: Label schema PRs, Label service PRs

partner link
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/PartnerLink.scala
  modules/schema/src/main/scala/lucuma/odb/json/partnerlink.scala
  modules/service/src/main/resources/db/migration/V0900__partner_link.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/PartnerLinkTypeBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CreateUserInvitationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/LinkUserInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/PartnerLinkInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UserInvitationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramUserTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/UserInvitationTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/redeemUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/unlinkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program.scala
Due: Label schema PRs, Label service PRs

tests
  modules/schema/src/main/scala/lucuma/odb/json/all.scala
  modules/schema/src/test/scala/lucuma/odb/data/arb/ArbPartnerLink.scala
  modules/schema/src/test/scala/lucuma/odb/json/PartnerLinkSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
Due: Label schema PRs, Label service PRs

doc
  modules/schema/src/main/scala/lucuma/odb/data/PartnerLink.scala
Due: Label schema PRs

Fix ch_group_edit an ch_observation_edit when deleting an observation
  modules/service/src/main/resources/db/migration/V0898__delete_observations_trigger.sql
  modules/service/src/main/scala/lucuma/odb/data/EditType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/GroupTopic.scala
Due: Label service PRs

Delete unnecessary calibrations
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/obsAttachmentsAssignments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: Label service PRs

Add support for observation delete events
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0898__delete_observations_trigger.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramEditTable.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
Due: Label schema PRs, Label service PRs

fix
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
Due: Label schema PRs, Label service PRs

Integrate calibrations service
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
Due: Label service PRs

wip
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0898__delete_observations_trigger.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/GroupTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
Due: Label schema PRs, Label service PRs

Remove legacy id field
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationEditMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
Due: Label schema PRs, Label service PRs

Reproduce observation edit bug
  modules/service/src/main/resources/db/migration/V0901__delete_observations_trigger.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationEditMapping.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
Due: Label service PRs

Allow changing viz time for calibrations
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: Label service PRs

clone group
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V9999__group_pairs.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CloneGroupInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GroupPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CloneGroupResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/CloneGroupResultPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GroupPairsView.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneGroup.scala
Due: Label schema PRs, Label service PRs

scalagfix
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneGroup.scala
Due: Label service PRs

rename migration
  modules/service/src/main/resources/db/migration/V9999__group_pairs.sql
Due: Label service PRs

oops
  modules/service/src/main/resources/db/migration/V0901__group_pairs.sql
Due: Label service PRs

PIs that were also CoIs
  modules/service/src/main/resources/db/migration/V0902__program_user_update.sql
Due: Label service PRs

Path conditions:
  Label calibrations PRs: any of: ^modules/calibrations/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
