Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Support having a telluric type on the Flamingos2 LS config
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/HashBytes.scala
  modules/service/src/main/resources/db/migration/V1041__flamingos2_longslit_telluric_type.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/TelluricTypeBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbFlamingos2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/service/TelluricTypeCodecSuite.scala
Due: Label schema PRs, Label sequence PRs

Use arb from core
  modules/schema/src/main/scala/lucuma/odb/json/tellurictype.scala
  modules/schema/src/test/scala/lucuma/odb/json/TelluricTypeCodecSuite.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1041__flamingos2_longslit_telluric_type.sql
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/TelluricTypeBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
Due: Label schema PRs, Label sequence PRs

Add more tests
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/all.scala
  modules/schema/src/main/scala/lucuma/odb/json/tellurictype.scala
  modules/schema/src/test/scala/lucuma/odb/json/TelluricTypeCodecSuite.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Config.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/TelluricTypeBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbFlamingos2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Due: Label schema PRs, Label sequence PRs

fix the view definition
  modules/service/src/main/resources/db/migration/V1041__etm_in_mode.sql
Due: none

Add config matcher for f2 - telluric
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigMatcher.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationMatchersSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/arb/ArbCalibrationConfigSubset.scala
Due: none

Remove blind offset targets from asterisms
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/TargetPredicates.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/blindOffsetTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/targetEdit.scala
Due: none

Use gaia mock for test
  modules/service/src/test/scala/lucuma/odb/graphql/query/GaiaTestFixtures.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideAvailability.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironment.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironments.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideTargetName.scala
Due: none

Remove the blind offsets from t_asterism_target, and more
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1042__remove_blindoffsets_from_asterism.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/BlindOffsetsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/ServiceOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/blindOffsetTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: Label schema PRs

Add explicitBlindOffset to TargetEnvironmentInput
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TargetEnvironmentInput.scala
  modules/service/src/main/scala/lucuma/odb/service/BlindOffsetsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/ServiceOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/blindOffsetTarget.scala
Due: Label schema PRs

Another test
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
Due: none

Fix issue with conditional blind offset cloning
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/ServiceOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/blindOffsetTarget.scala
Due: none

Move useBlindOffset flag into the target environment
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1042__remove_blindoffsets_from_asterism.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TargetEnvironmentInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/ServiceOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/blindOffsetTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Due: Label schema PRs

Change explictBlindOffset to blindOffsetType
  modules/binding/src/main/scala/lucuma/odb/data/BlindOffsetType.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/BlindOffsetTypeBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1042__remove_blindoffsets_from_asterism.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TargetEnvironmentInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/BlindOffsetsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/ServiceOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/blindOffsetTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: Label binding PRs, Label schema PRs

Fix test
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation.scala
Due: none

gmos long slit
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/HashBytes.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/arb/ArbGmosLongSlitConfig.scala
  modules/service/src/main/resources/db/migration/V1041__etm_in_mode.sql
  modules/service/src/main/scala/lucuma/odb/data/ExposureTimeModeType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/ExposureTimeModeService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/main/scala/lucuma/odb/syntax/exposureTimeMode.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosLongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationMatchersSuite.scala
Due: Label schema PRs, Label sequence PRs

wip
  build.sbt
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/TrackingService.scala
  modules/service/src/main/scala/lucuma/odb/syntax/result.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6183.scala
Due: none

Deprecate guideEnvironments
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: Label schema PRs

Remove unused targetEnvironmentGroup and related types from schema
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

wip
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/TrackingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createConfigurationRequest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configuration.scala
Due: none

Change DELETED_CAL subscription editEvent to HARD_DELETE
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/data/EditType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SubscriptionMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/configurationRequestEdit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/obscalcUpdate.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/observationEdit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/targetEdit.scala
Due: Label schema PRs

Add tests to verify ags f2 is working fine
  modules/service/src/test/scala/lucuma/odb/graphql/query/GuideEnvironmentSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GuideTargetNameSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentF2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGMOS.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideTargetNameF2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideTargetNameGMOS.scala
Due: none

Split calibrations on shared calibrations and per observation calibrations. Initial logic for f2 tellurics
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerObsCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/SharedCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationsServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/PerObsCalibrationsServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/SharedCalibrationsServiceSuite.scala
Due: none

Initial version of the telluric calibration service
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationsServiceSuite.scala
Due: none

Move more functions out of the old CalibrationService
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/PerConfigCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerObsCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perObsCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionFailures.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSpecPhot.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationsServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/PerObsCalibrationsServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/SharedCalibrationsServiceSuite.scala
Due: none

Cleanup duplicated tests
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/PerConfigCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perObsCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationsServiceSuite.scala
Due: none

Don't reuse targets across calibrations
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: none

Fix for the untargeted calibrations bug
  modules/service/src/main/resources/db/migration/V1043__calibration_target_constraint.sql
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6598.scala
Due: none

Fixes workflow broken test
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6598.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: none

Test case to demonstrate the untargeted calibration scenario
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6598.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
Due: none

Delete exsting untargeted calibrations
  modules/service/src/main/resources/db/migration/V1043__calibration_target_constraint.sql
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: none

Include photometric on the target required restriction
  modules/service/src/main/resources/db/migration/V1043__calibration_target_constraint.sql
Due: none

Fix a test using photometric calibration
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
Due: none

Reset
  modules/service/src/main/scala/lucuma/odb/service/PerObsCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perObsCalibrations.scala
Due: none

Simplify and only create the group for f2, add roles to groups
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1044__group_calibration_roles.sql
  modules/service/src/main/scala/lucuma/odb/data/GroupTree.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GroupMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GroupView.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerConfigCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerObsCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perObsCalibrations.scala
Due: Label schema PRs

Update graphql schema deprecated tags and comments
  itc/service/src/main/resources/graphql/itc.graphql
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  package.json
Due: Label schema PRs

Run itcStitchOdbSchema and update schemastitcher to esm
  itc/schemastitcher.mjs
  itc/service/src/main/resources/graphql/itc.graphql
  itcStitchOdbSchema.sh
  package.json
Due: none

Cleanup
  modules/service/src/main/scala/lucuma/odb/data/GroupTree.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationsServiceSuite.scala
Due: none

Exposure time mode table
  modules/service/src/main/resources/db/migration/V1040__etm_in_mode.sql
  modules/service/src/main/scala/lucuma/odb/data/ExposureTimeModeId.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ScienceRequirementsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SignalToNoiseExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeAndCountExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ExposureTimeModeView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosLongSlitTable.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExposureTimeModeService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: none

role
  modules/service/src/main/resources/db/migration/V1040__etm_in_mode.sql
  modules/service/src/main/scala/lucuma/odb/data/ExposureTimeModeRole.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExposureTimeModeService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: none

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
