Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

renumber
  modules/service/src/main/resources/db/migration/V1233__execution_event_client_time.sql
Due: none

Renumber migrations, expose raw clientTime
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1233__visit_client_created.sql
  modules/service/src/main/resources/db/migration/V1234__execution_event_client_time.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddDatasetEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddSequenceEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddSlewEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddStepEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordVisitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ExecutionEventTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/VisitTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addDatasetEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/visitClientCreated.scala
Due: Label schema PRs

typo
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

Batch sequence insert statements
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
Due: none

Add ProposalEmails to the ODB config and read from environment
  ODB-README.md
  flake.nix
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/test/scala/lucuma/odb/ProposalEmailsConfigSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/email/emailWebhookRoutes.scala
  populate-db-from-heroku.sh
Due: none

Create actual contents of proposal submission emails.
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatusEmailTime.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatusEmails.scala
  modules/service/src/test/scala/lucuma/odb/service/ProposalServiceSuite.scala
Due: none

Send placeholder email to relevant partners or proposaltype addresses
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatusEmails.scala
Due: none

Delete nonexistent columns from ProposalView
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProposalView.scala
Due: none

combine observation id lookup
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
Due: none

Batch events
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddEventsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AddEventsResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addEvents.scala
Due: Label schema PRs

tweaks
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddEventBatchEntryInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddEventBatchInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AddEventBatchResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addEventBatch.scala
Due: Label schema PRs

Add new observing mode for gmos mos, we can now create and read obs with gmos mos
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/mos/Config.scala
  modules/service/src/main/resources/db/migration/V1235__gmos_mos.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosMosInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationGmosMosMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosMosMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ConfigurationRequestView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosMosView.scala
  modules/service/src/main/scala/lucuma/odb/logic/GoaQueryPolicy.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosMosService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosMos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GmosMos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/unimplemented.scala
Due: Label schema PRs, Label sequence PRs

Refactor out common SpectroscopyConfig
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/SpectroscopyConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/mos/Config.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/arb/ArbGmosLongSlitConfig.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosMosService.scala
  modules/service/src/test/scala/lucuma/odb/logic/GoaQueryPolicySuite.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationMatchersSuite.scala
Due: Label sequence PRs

Cleanup
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/SpectroscopyConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/mos/Config.scala
  modules/service/src/main/scala/lucuma/odb/logic/GoaQueryPolicy.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosMosService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosMos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GmosMos.scala
Due: Label schema PRs, Label sequence PRs

Add clonning tests
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GmosMos.scala
Due: none

Updated with PR comments
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosMosInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosMosService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosMos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GmosMos.scala
Due: Label schema PRs

cleanup
  modules/service/src/main/resources/db/migration/V1235__gmos_mos.sql
Due: none

Order proposal writes so a time request can be swapped in one edit
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
Due: none

Use the exchange community's own deadline for an exchange time request
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
Due: none

Reject a time request for a community the call does not invite
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatusEmails.scala
Due: none

Adapt changes for F2 MOS obs mode
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: Label schema PRs

cleanup
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
Due: Label schema PRs

Include more span attributes on ags searches
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: none

Update igrins2 minimum svc time
  build.sbt
  modules/service/src/main/resources/db/migration/V1236__igrins2_svc_min_exposure.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/Igrins2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: none

scalafix
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
Due: none

Added missing f2 mos enum entry
  modules/service/src/main/resources/db/migration/V1236__igrins2_svc_min_exposure.sql
Due: none

Marke F2 MOS as unimplemented
  modules/service/src/test/scala/lucuma/odb/unimplemented.scala
Due: none

Test for graphql diamond fragment issue
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/9756.scala
Due: none

internalize messages
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidationInfo.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/Validator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/acquisition.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/band.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/cfpInstrument.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/cfpRaDec.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/exchange.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/generator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/ghostVMagnitude.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/itc.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/otherConfigError.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_exchange.scala
Due: none

GMOS Twilight sequence should be unguided
  modules/sequence/src/main/scala/lucuma/odb/sequence/extensions.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
Due: Label sequence PRs

Add test for clonning acq type
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: none

Add the new enum to the startup diagnostics
  modules/service/src/main/resources/db/migration/V1237__gmos_mos_acquisition_type.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
Due: none

Add field for gmos mos acquisition type
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GmosMosAcquisitionTypeBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/GmosMosAcquisitionType.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/mos/Config.scala
  modules/service/src/main/resources/db/migration/V1237__gmos_mos_acquisition_type.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosMosInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosMosMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosMosView.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosMosService.scala
  modules/service/src/main/scala/lucuma/odb/util/GmosCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosMos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GmosMos.scala
Due: Label binding PRs, Label schema PRs, Label sequence PRs

Get GmosMosAcquisitionType from lucuma-core
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GmosMosAcquisitionTypeBinding.scala
  modules/schema/src/main/scala/lucuma/odb/data/GmosMosAcquisitionType.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/mos/Config.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosMosInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosMosService.scala
  modules/service/src/main/scala/lucuma/odb/util/GmosCodecs.scala
Due: Label binding PRs, Label schema PRs, Label sequence PRs

scalafix
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/mos/Config.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosMosInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosMosService.scala
  modules/service/src/main/scala/lucuma/odb/util/GmosCodecs.scala
Due: Label sequence PRs

cleanup
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/mos/Config.scala
  modules/service/src/main/resources/db/migration/V1237__gmos_mos_acquisition_type.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: Label schema PRs, Label sequence PRs

fix after rebase
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: none

split migration
  modules/service/src/main/resources/db/migration/V1235__execution_requirement.sql
  modules/service/src/main/resources/db/migration/V1236__drop_is_splittable.sql
Due: none

startup diagnostics
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
Due: none

ExecutionRequirement
  modules/binding/src/main/scala/lucuma/odb/data/ExecutionRequirement.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/ExecutionRequirementBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1235__execution_requirement.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SchedulingConstraintsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SchedulingConstraintsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label binding PRs, Label schema PRs
