Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Renumber
  modules/service/src/main/resources/db/migration/V1186__static_config_unique.sql
Due: none

Restore uniqueness of static rows for observations
  modules/service/src/main/resources/db/migration/V1183__static_config_unique.sql
Due: none

fix gnirs xd itc graph and single s/n
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.2.jar
  itc/service/src/main/scala/lucuma/itc/package.scala
  itc/tests/src/test/scala/lucuma/itc/service/TargetGraphsFromLegacySuite.scala
Due: Label tests PRs

Update legacy commit to include the custom slit width
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  itc/service/src/main/scala/lucuma/itc/legacy/syntax/InstrumentSyntax.scala
  itc/service/src/main/scala/lucuma/itc/legacy/syntax/package.scala
Due: none

Add legacy tests
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecSignalToNoiseSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopySignalToNoiseSuite.scala
Due: Label tests PRs

Add wiring test for the itc client
  itc/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
Due: Label tests PRs

scalafmt
  itc/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
Due: Label tests PRs

Fix compilation error
  itc/benchmarks/src/main/scala/lucuma/itc/benchmarks/ItcBenchmarkSetup.scala
Due: Label benchmarks PRs

Update model and add tests for custom masks
  itc/service/src/main/scala/lucuma/itc/service/GmosSpecParams.scala
  itc/service/src/main/scala/lucuma/itc/service/ObservingMode.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/spectroscopyTime.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopySignalToNoiseSuite.scala
Due: Label tests PRs

Add a db-cache for itc deterministic failures
  modules/service/src/main/resources/db/migration/V1187__itc_result_failure.sql
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ItcServiceSuite.scala
Due: none

Use a common table for successful and error itc results
  modules/service/src/main/resources/db/migration/V1187__itc_result_failure.sql
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ItcServiceSuite.scala
Due: none

cosmetics
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ItcServiceSuite.scala
Due: none

Expose the result type of selectOne to GenratorContext
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorContext.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
Due: none

Invalidate obscalc when the itc version changes
  modules/service/src/main/resources/db/migration/V1187__itc_result_failure.sql
Due: none

Document Resource domain model planning [sc-7436]
  resource/docs/api-contract.md
  resource/docs/domain-model.md
  resource/docs/open-design-choices.md
  resource/docs/scheduler.md
Due: none

load gnirs ifu in phase0 and dynamic config
  build.sbt
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/GnirsFpuIfuBinding.scala
  modules/phase0/src/main/scala/lucuma/odb/phase0/GnirsSpectroscopyRow.scala
  modules/phase0/src/test/scala/lucuma/odb/phase0/Phase0LoaderSuite.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/gnirs.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/InitialConfigs.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Science.scala
  modules/service/src/main/resources/db/migration/V1187__gnirs_ifu.sql
  modules/service/src/main/scala/db/migration/Phase0Table.scala
  modules/service/src/main/scala/db/migration/R__Phase0.scala
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsDynamicInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsDynamicMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SpectroscopyConfigOptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsDynamicView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/SpectroscopyConfigOptionTable.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/util/GnirsCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/spectroscopyConfigOptions.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/data/Gnirs.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/gnirs.scala
Due: Label binding PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label smartgcal PRs

bump versions
  build.sbt
Due: none

bump grackle
  build.sbt
Due: none

renumber migration
  modules/service/src/main/resources/db/migration/V1188__gnirs_ifu.sql
Due: none

undo erroneous field deprecation
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SpectroscopyConfigOptionMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/spectroscopyConfigOptions.scala
Due: Label schema PRs

gnirs ifu support in itc
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecSignalToNoiseSuite.scala
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/scala/lucuma/itc/input/GnirsFpuSpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GnirsSpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  itc/service/src/main/scala/lucuma/itc/legacy/package.scala
  itc/service/src/main/scala/lucuma/itc/legacy/syntax/InstrumentSyntax.scala
  itc/service/src/main/scala/lucuma/itc/legacy/syntax/package.scala
  itc/service/src/main/scala/lucuma/itc/service/ObservingMode.scala
  itc/service/src/main/scala/lucuma/itc/service/hashes.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/spectroscopyTime.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopySignalToNoiseSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndCountSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndGraphSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: Label client PRs, Label tests PRs

add tests
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/CommonITCLegacySuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecSignalToNoiseSuite.scala
Due: none

format, base version
  build.sbt
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecSignalToNoiseSuite.scala
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
Due: Label client PRs

use wavelength from observing mode in gnirs seq generation
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: none

add missing tag in db
  modules/service/src/main/resources/db/migration/V1189__gnirs_ifu_mode_type.sql
Due: none

update core version
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
Due: Label schema PRs

finishing touches to generate gnirs ifu sequences
  modules/schema/src/main/scala/lucuma/odb/json/gnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsIfu.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/gnirs.scala
Due: Label schema PRs, Label smartgcal PRs

smart gcal for gnirs ifu
  modules/service/src/main/resources/db/migration/V1191__smart_gnirs_ifu.sql
  modules/service/src/main/scala/db/migration/SmartGnirsLoader.scala
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsIfu.scala
  modules/smartgcal/src/main/resources/smartgcal/GNIRS_ARC.csv
  modules/smartgcal/src/main/resources/smartgcal/GNIRS_FLAT.csv
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/gnirs.scala
Due: Label smartgcal PRs

fix obs edit
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: none

gnirs ifu configuration request
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/service/src/main/resources/db/migration/V1192__configuration_request_gnirs_ifu.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationGnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ConfigurationRequestView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsSpectroscopyView.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
Due: Label schema PRs

use exposure count as coadds in gnirs acquisition
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Config.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirs.scala
Due: Label sequence PRs

remove unused import
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Config.scala
Due: Label sequence PRs

fix rename after rebase
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
Due: none

more fallout
  modules/service/src/main/resources/db/migration/V1194__exchange_observations.sql
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: none

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
