Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Reword the calibrationCount schema description
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

Store and expose the GCAL set count per sequence
  CONTEXT.md
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/main/resources/db/migration/V1324__calibration_count_and_gcal_digest.sql
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs

Name step digest buckets after StepType
  CONTEXT.md
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/main/resources/db/migration/V1324__calibration_count_and_gcal_digest.sql
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSpecPhoto.scala
Due: Label schema PRs

Move to clue 0.60.0 with lucuma-core 0.254.0
  build.sbt
Due: none

scalafix
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs

Default F2 long slit science offsets to Nod along slit
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/spectroscopy/package.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/flamingos2/spectroscopy/MosTelluricSuite.scala
  modules/service/src/main/resources/db/migration/V1324__f2_long_slit_science_default_offsets.sql
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2_20x5min.scala
Due: Label sequence PRs

updated lucuma core
  build.sbt
Due: none

Raise sbt thread stack size in migration test script
  populate-db-from-heroku.sh
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1325__f2_long_slit_science_default_offsets.sql
Due: none

Update F2 PWFS2 guide star for the Nod along slit default
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentF2.scala
Due: none

Round the F2 ABBA cycle time error to two decimals
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/spectroscopy/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2_4x23min.scala
Due: Label sequence PRs

Floor derived telluric S/N at 100
  CONTEXT.md
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

Search GOA with the upper-case mode token
  build.sbt
  modules/service/src/test/scala/lucuma/odb/graphql/query/archiveDuplication.scala
Due: none

Archive matches are always of type OBJECT
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/ArchiveDuplicationService.scala
  modules/service/src/test/scala/lucuma/odb/service/ArchiveDuplicationServiceSuite.scala
Due: none

Update versions
  build.sbt
Due: none

Expose ArchiveDuplication.queries with instrument and search form URL
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ArchiveDuplicationMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/archiveDuplication.scala
Due: Label schema PRs

Use core's guidedBy for the GNIRS guide probe selection
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: none

bump base version
  build.sbt
Due: none

Follow obsDuration for tellurics while the science is ongoing
  CONTEXT.md
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

Fix flake
  flake.nix
Due: none

Keep the resolution of tellurics with a visit
  modules/service/src/main/resources/db/migration/V1326__telluric_count_from_obs_duration.sql
  modules/service/src/test/scala/lucuma/odb/service/TelluricTargetsServiceSuite.scala
Due: none

Tidy the telluric sync after review
  CONTEXT.md
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
Due: none

Decide the telluric count from the observation duration
  CONTEXT.md
  modules/service/src/main/resources/db/migration/V1326__telluric_count_from_obs_duration.sql
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationCalcTriggerSuite.scala
Due: none

Keep the configuration of spent tellurics
  CONTEXT.md
  modules/calibrations/calibration-generation-flow.md
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: Label calibrations PRs

Requeue a superseded telluric search that fails
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
  modules/service/src/test/scala/lucuma/odb/service/TelluricSearchFailureSuite.scala
Due: none

Document the telluric sync for obsDuration and ongoing science
  modules/calibrations/calibration-generation-flow.md
Due: Label calibrations PRs

Rename the telluric set check to complete
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
Due: none

Read a group's tellurics in one query
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

Expose proposal submission status history
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1326__proposal_status_history.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalStatusChangeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProposalStatusChangeView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
Due: Label schema PRs

Test simplification
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1327__proposal_status_history.sql
Due: none

get coadds from itc output in gnirs s/n mode
  itc/client/shared/src/main/scala/lucuma/itc/client/json/decoders.scala
  itc/client/shared/src/main/scala/lucuma/itc/client/queries.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/CommonITCLegacySuite.scala
  itc/model/src/main/scala/lucuma/itc/IntegrationTime.scala
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.2.jar
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/legacy/ItcRemoteGraphResult.scala
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/Itc.scala
  modules/schema/src/main/scala/lucuma/odb/json/itc.scala
  modules/schema/src/test/scala/lucuma/odb/data/arb/ArbItc.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/AcquisitionConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/imaging/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/imaging/Filter.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/imaging/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/CentralWavelengthConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Science.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gnirs/imaging/ConfigSuite.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorContext.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
Due: Label client PRs, Label model PRs, Label schema PRs, Label sequence PRs

update jars
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.2.jar
Due: none

revert cache version bump, add tests, bump version
  build.sbt
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsSpecExpTimeSuite.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
Due: none

Charge the expected calibrations in the time estimate
  CONTEXT.md
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/GeneratorParams.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/TelluricSiblings.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/visitor/VisitorExecutionDigestCalculator.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/resources/db/migration/V1327__expected_calibrations.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CategorizedTimeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationTimeEstimateMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/CalibrationCountTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest_calibrationCount.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest_expectedCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationCountSuite.scala
Due: Label schema PRs, Label sequence PRs

Make the calibration set interval depend on wavelength
  CONTEXT.md
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/CalibrationCountTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest_calibrationCount.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest_calibrationCountGnirs.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationCountSuite.scala
Due: none

Cleanup
  build.sbt
  modules/schema/src/test/scala/lucuma/odb/json/SequenceSuite.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/TelluricSiblings.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs, Label sequence PRs

renumber
  modules/service/src/main/resources/db/migration/V1328__expected_calibrations.sql
Due: none

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
