Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Switch to use otel4s with a natchez adapter
  build.sbt
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/util/LucumaEntryPoint.scala
  modules/service/src/main/scala/lucuma/odb/util/Otel4sTrace.scala
Due: Label calibrations PRs, Label obscalc PRs

Update binary version
  build.sbt
Due: none

Enable otel on the calibrations daemon
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
Due: Label calibrations PRs

Create a shared otel module and enable ITC to use otel
  build.sbt
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  itc/service/src/main/scala/lucuma/itc/service/config/Config.scala
  itc/service/src/main/scala/lucuma/itc/service/config/HoneycombConfig.scala
  itc/service/src/main/scala/lucuma/itc/service/config/OtelConfig.scala
  modules/otel/src/main/scala/lucuma/odb/otel/Otel4sTrace.scala
  modules/otel/src/main/scala/lucuma/odb/otel/OtelSetup.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/util/LucumaEntryPoint.scala
Due: none

Rename LucumaEntryPoint
  itc/tests/src/test/scala/lucuma/itc/tests/util.scala
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/otel/src/main/scala/lucuma/odb/otel/OtelSetup.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/util/OdbTelemetry.scala
Due: Label calibrations PRs, Label obscalc PRs, Label tests PRs

cleanup
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  itc/service/src/main/scala/lucuma/itc/service/config/Config.scala
  itc/service/src/main/scala/lucuma/itc/service/config/OtelConfig.scala
  modules/otel/src/main/scala/lucuma/odb/otel/OtelConfig.scala
  modules/otel/src/main/scala/lucuma/odb/otel/OtelSetup.scala
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/util/OdbTelemetry.scala
Due: none

Add method to record igrins2 visits
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1114__igrins2_visit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Igrins2StaticInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordVisitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Igrins2StaticMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordVisitResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Igrins2StaticTable.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
Due: Label schema PRs

Add support to read igrins2 dynamic mapping
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Igrins2DynamicMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Igrins2DynamicTable.scala
Due: Label schema PRs

cloneObservation
  ITAC.md
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1115__fix_cloning.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CloneObservationResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationPairsView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: Label schema PRs

cloneGroup
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1115__fix_cloning.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CloneGroupResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CloneTargetResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GroupPairsView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/TargetPairsView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneTarget.scala
Due: Label schema PRs

oops
  ITAC.md
Due: none

fix tests
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/359.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/634.scala
Due: none

Sky aperture value for igrins 2 should be 1
  itc/service/src/main/scala/lucuma/itc/service/ObservingMode.scala
Due: none

Add methods to replace igrins2 sequences
  modules/service/src/main/scala/lucuma/odb/service/Igrins2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
Due: none

Add bindings to call the reset igrins2 mutation
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/AtomInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Igrins2DynamicInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ReplaceSequenceInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/StepInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceIgrins2Sequence.scala
Due: Label schema PRs

Ghost persistence
  modules/service/src/main/resources/db/migration/V1115__ghost.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GhostDynamicTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GhostStaticTable.scala
  modules/service/src/main/scala/lucuma/odb/logic/ConfigChangeEstimator.scala
  modules/service/src/main/scala/lucuma/odb/logic/DetectorEstimator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/GhostCodecs.scala
  modules/service/src/test/scala/lucuma/odb/service/SequenceServiceSuite.scala
Due: none

static issues
  modules/service/src/main/resources/db/migration/V1115__ghost.sql
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
Due: none

lint
  modules/service/src/main/scala/lucuma/odb/service/Igrins2SequenceService.scala
Due: none

tests
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: none

merge w/main, rename migration
  modules/service/src/main/resources/db/migration/V1116__fix_cloning.sql
Due: none

static issues
  modules/service/src/main/scala/lucuma/odb/service/Igrins2SequenceService.scala
Due: none

migration
  modules/service/src/main/resources/db/migration/V1117__visit.sql
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2StaticTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosStaticTables.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Igrins2StaticTable.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/Igrins2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
Due: none

Fix attemt to save gmos north imaging as south
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceGmosNorthSequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceGmosSouthSequence.scala
Due: none

Remove centralWavength and numSkyMicrolens from GhosSpectroscopy
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGhostSpecExpTimeSuite.scala
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-json_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2025101.1.1.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2025101.1.1.jar
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/resources/graphql/itc_base.graphql
  itc/service/src/main/scala/lucuma/itc/input/GhostSpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  itc/service/src/main/scala/lucuma/itc/service/ObservingMode.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/spectroscopyTime.scala
  itc/testkit/src/main/scala/lucuma/itc/client/arb/ArbInstrumentMode.scala
  itc/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndCountSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label client PRs, Label testkit PRs, Label tests PRs

Fix ghost slit width in Phase0 spectroscopy matrix
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Spectroscopy.tsv
Due: Label phase0 PRs

Fix itc result lookup bug
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorContext.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5098.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
Due: none

Don't test GhostIfu configuration requests, yet.
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: none

Rename etm mode columns
  modules/service/src/main/resources/db/migration/v1119__ghost.sql
  modules/service/src/main/scala/lucuma/odb/graphql/table/GhostIfuTable.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostIfuService.scala
Due: none

switch to T&C ETM in API
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/DetectorConfig.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GhostDetectorConfigInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GhostIfuMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostIfuService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GhostIfu.scala
Due: Label schema PRs, Label sequence PRs

select
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/DetectorConfig.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GhostIfuMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostIfuService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
Due: Label sequence PRs

test select
  modules/service/src/main/scala/lucuma/odb/graphql/input/GhostDetectorConfigInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostIfuService.scala
  modules/service/src/test/scala/lucuma/odb/service/GhostIfuServiceSuite.scala
Due: none

Fix migration name
  modules/service/src/main/resources/db/migration/V1119__ghost.sql
Due: none

Temporarily disable the migration check
  .github/workflows/ci.yml
  build.sbt
Due: none

Send traces to an otel4s endpoint
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/util/LucumaEntryPoint.scala
Due: none

Add cats-effect metrics
  build.sbt
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/util/LucumaEntryPoint.scala
  modules/service/src/main/scala/lucuma/odb/util/Otel4sTrace.scala
Due: none

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
