Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Restore changes to bindings on itc
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/BigDecimalBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/LongBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/SignalToNoiseBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/TimeSpanBinding.scala
Due: Label binding PRs

Make itc depend on odb bindings
  build.sbt
  itc/service/src/main/scala/lucuma/itc/binding/AttachmentIdBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/BandBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/BigDecimalBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/EnumeratedBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/Flamingos2DisperserBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/Flamingos2FilterBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/Flamingos2FpuBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/GidBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/GmosCustomSlitWidthBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/GmosNorthFilterBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/GmosNorthFpuBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/GmosNorthGratingBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/GmosSouthFilterBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/GmosSouthFpuBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/GmosSouthGratingBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/IntBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/ListBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/LongBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/Matcher.scala
  itc/service/src/main/scala/lucuma/itc/binding/NonNegIntBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/Nullable.scala
  itc/service/src/main/scala/lucuma/itc/binding/ObjectBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/ObjectFieldsBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/PosBigDecimalBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/PosIntBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/PrimitiveBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/SignalToNoiseBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/StringBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/TimeSpanBinding.scala
  itc/service/src/main/scala/lucuma/itc/binding/TypedEnumBinding.scala
Due: none

Update base version
  build.sbt
Due: none

Fix broken test
  itc/tests/src/test/scala/lucuma/itc/service/exactConstraintsSuite.scala
Due: Label tests PRs

renumber migration
  modules/service/src/main/resources/db/migration/V1039__more_idempotency_key.sql
Due: none

scalacheck bug
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
Due: none

idempotencyKey for record mutations
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/VisitRecord.scala
  modules/service/src/main/resources/db/migration/V1038__more_idempotency_key.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordAtomInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordDatasetInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordStepInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordVisitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AtomRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AtomRecordTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/StepRecordView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/VisitTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
Due: Label schema PRs, Label sequence PRs

recordAtom
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordAtom.scala
Due: none

recordStep
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordStep.scala
Due: none

recordDataset
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1038__more_idempotency_key.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DatasetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/DatasetTable.scala
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordAtom.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordDataset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordStep.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
Due: Label schema PRs

Don't run the legacy tests on every push, run them daily and on demand
  .github/workflows/ci.yml
  .github/workflows/legacy-tests.yml
  build.sbt
Due: none

Restore requesting lfs
  .github/workflows/ci.yml
  build.sbt
Due: none

Improvements to itc tracing, proper legacy measurements and improved names
  .scalafmt.conf
  itc/benchmarks/src/main/scala/lucuma/itc/benchmarks/ItcBenchmarkSetup.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/CommonITCLegacySuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2ImgExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2ImgSignalToNoiseSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2SpecSignalToNoiseSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2SpecTimeCountSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2Suite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosImgExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosImgSignalToNoiseSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecSignalToNoiseSuite.scala
  itc/service/src/main/scala/lucuma/itc/cache/BinaryEffectfulCache.scala
  itc/service/src/main/scala/lucuma/itc/cache/EffectfulCache.scala
  itc/service/src/main/scala/lucuma/itc/cache/NoOpBinaryCache.scala
  itc/service/src/main/scala/lucuma/itc/cache/RedisEffectfulCache.scala
  itc/service/src/main/scala/lucuma/itc/legacy/FLocalItc.scala
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/legacy/LocalItc.scala
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
Due: Label benchmarks PRs

Add more tracing
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2SpecTimeCountSuite.scala
  itc/service/src/main/scala/lucuma/itc/cache/RedisEffectfulCache.scala
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
Due: none

Add enums
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: Label schema PRs

Another cornucopia test case
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6589.scala
Due: none

more 6589 test
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6589.scala
Due: none

Also clone the blind_offset flag
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: none

Clone observer_notes
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: none

Various changes to blind offsets
  modules/service/src/main/resources/db/migration/V1040__more_blind_offset.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/BlindOffsetsService.scala
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/ServiceOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/blindOffsetTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/targetEdit.scala
Due: none

Create service to calculate a blind offset when required
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/ItcInputSuite.scala.disabled
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala.disabled
  modules/service/src/main/resources/db/migration/V1040__blind_offset_calc.sql
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/SchedulerRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/BlindOffsetsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/catalog/votable/mock_gaia_response.xml
  modules/service/src/test/scala/lucuma/catalog/votable/result.xml
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/scheduler/schedulerRoutes.scala
  modules/service/src/test/scala/lucuma/odb/service/BlindOffsetServiceSuite.scala
Due: Label obscalc PRs, Label sequence PRs

Fix compilation of calibrations daemon
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/SchedulerRoutes.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/scheduler/schedulerRoutes.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label calibrations PRs, Label obscalc PRs

review comments, more tests
  modules/service/src/main/resources/db/migration/V1040__more_blind_offset.sql
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/blindOffsetTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/targetEdit.scala
Due: none

Add the target disposition to Target and WhereTarget in API
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereTarget.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/targets.scala
Due: Label schema PRs

Report better location in code for test expect* methods
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: none

Remove blind offset targets from asterisms
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/TargetPredicates.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/blindOffsetTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/targetEdit.scala
Due: none

Exposure time mode table
  modules/service/src/main/resources/db/migration/V1040__etm_in_mode.sql
  modules/service/src/main/scala/lucuma/odb/data/ExposureTimeModeId.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ScienceRequirementsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SignalToNoiseExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeAndCountExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ExposureTimeModeView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosLongSlitTable.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExposureTimeModeService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: none

core update
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: none

role
  modules/service/src/main/resources/db/migration/V1040__etm_in_mode.sql
  modules/service/src/main/scala/lucuma/odb/data/ExposureTimeModeRole.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExposureTimeModeService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: none

PR suggestion
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: none

the link table was dumb after all
  modules/service/src/main/resources/db/migration/V1040__etm_in_mode.sql
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ScienceRequirementsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/ExposureTimeModePredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ExposureTimeModeView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExposureTimeModeService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: none

Update lucuma-core
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: none

Support having a telluric type on the Flamingos2 LS config
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/HashBytes.scala
  modules/service/src/main/resources/db/migration/V1041__flamingos2_longslit_telluric_type.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/TelluricTypeBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbFlamingos2LongSlitInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/service/TelluricTypeCodecSuite.scala
Due: Label schema PRs, Label sequence PRs

Use arb from core
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/tellurictype.scala
  modules/schema/src/test/scala/lucuma/odb/json/TelluricTypeCodecSuite.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1041__flamingos2_longslit_telluric_type.sql
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/binding/TelluricTypeBinding.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2LongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
Due: Label schema PRs, Label sequence PRs

Add more tests
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/test/scala/lucuma/odb/json/TelluricTypeCodecSuite.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Config.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Due: Label schema PRs, Label sequence PRs

Across the board lib updates
  build.sbt
Due: none
