Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Declare the root project explicitly
  .github/workflows/ci.yml
  build.sbt
Due: none

Update lucuma-odb
  project/plugins.sbt
Due: none

Keep the coursier retry flag in SBT_OPTS
  .github/workflows/ci.yml
  build.sbt
Due: none

Test BuildBuddy
  .gitignore
  build.sbt
Due: none

Remove ForReview from the workflow documentation
  modules/service/docs/observation-workflow-states.md
  modules/service/docs/observation-workflow.svg
Due: none

Update docs to describe the effect of bands on the workflow
  modules/service/docs/observation-workflow-states.md
  modules/service/docs/observation-workflow.svg
Due: none

Require a science band before an observation can be Ready
  CONTEXT.md
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/BandValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: none

Resolve the Altair guide star through AGS
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideStarResolver.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GaiaVoTables.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/altairFieldLens.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGnirs.scala
Due: none

Altair guide environment and AGS
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationEffectHandler.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideStarResolver.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GaiaVoTables.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/altairFieldLens.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGnirs.scala
  modules/service/src/test/scala/lucuma/odb/service/GuideServiceAvailabilityHashSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/GuideServiceGuideStarHash.scala
Due: Label schema PRs

Wire up the BuildBuddy remote cache
  .github/workflows/ci.yml
Due: none

test
  README.md
  build.sbt
Due: none

Regenerate ci.yml
  .github/workflows/ci.yml
Due: none

Print remoteCache in CI to confirm the cache is on
  .github/workflows/ci.yml
  build.sbt
Due: none

Enable the BuildBuddy remote cache for real, and skip passed suites
  build.sbt
  project/plugins.sbt
Due: none

Change a test
  modules/schema/src/test/scala/lucuma/odb/json/RadialVelocitySuite.scala
Due: Label schema PRs

Enable the remote cache
  build.sbt
  project/plugins.sbt
Due: none

Address review on the guide star resolution
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: none

test
  modules/schema/src/test/scala/lucuma/odb/json/RadialVelocitySuite.scala
Due: Label schema PRs

Ignore the cert CI chmods, and drop the remote cache probe step
  .github/workflows/ci.yml
  build.sbt
Due: none

Keep the full checkout on test shards
  .github/workflows/ci.yml
  build.sbt
  project/plugins.sbt
Due: none

Keep per-build values out of BuildInfo
  build.sbt
  itc/service/src/main/scala/lucuma/itc/service/Main.scala
  itc/service/src/main/scala/lucuma/itc/service/Version.scala
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/sso-service/src/main/scala/config/HerokuConfig.scala
  modules/sso-service/src/main/scala/config/package.scala
  modules/sso-service/src/test/scala/config/HerokuConfigSuite.scala
Due: Label sso-service PRs

Read GIT_COMMIT in resource-service too
  build.sbt
  resource/service/src/main/scala/resource/server/http4s/ResourceMain.scala
Due: none

Exempt BuildInfo from itc-service binary compatibility checks
  build.sbt
Due: none

Add remote cache diagnostics to the test shards
  .github/workflows/ci.yml
  build.sbt
Due: none

Pin the version on the test shards
  .github/workflows/ci.yml
  build.sbt
Due: none

Pin only each project's own version on the shards
  .github/workflows/ci.yml
  build.sbt
Due: none

Strip the Scala.js source-map flag on the shards too
  .github/workflows/ci.yml
  build.sbt
Due: none

Match the Altair mode explicitly in the AGS parameters
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: none

Address review: guard misaligned ITC results, pair telluric initial rows, fix ITC doc
  modules/schema/src/main/scala/lucuma/odb/data/Itc.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: Label schema PRs

Default the telluric S/N to twice the science S/N, requested or measured
  CONTEXT.md
  modules/schema/src/main/scala/lucuma/odb/data/Itc.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsSpectroscopyService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: Label schema PRs

Update binary version
  build.sbt
Due: none

Print cache misses in the shard log
  .github/workflows/ci.yml
  build.sbt
Due: none

sc-10482 Dispatch the observing mode codec on the mode
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/schema/src/main/scala/lucuma/odb/syntax/observingModeType.scala
  modules/schema/src/test/scala/lucuma/odb/json/ConfigurationRequestSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: Label schema PRs

sc-10482 Create configuration requests for imaging observations
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/schema/src/test/scala/lucuma/odb/json/ConfigurationRequestSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createConfigurationRequest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_UniquenessKey.scala
Due: Label schema PRs

Log cache hits as well as misses on the shards
  .github/workflows/ci.yml
  build.sbt
Due: none

test
  modules/phase0/src/test/scala/lucuma/odb/phase0/Phase0LoaderSuite.scala
Due: Label phase0 PRs

Leave guide star presence to the sequence calculation
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidationInfo.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/AltairValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_altair.scala
Due: none

remove `when` helper from validators in favor of `orEmpty`
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/AltairValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/GnirsSpectroscopyValidator.scala
Due: none

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
