Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

renumber
  modules/service/src/main/resources/db/migration/V1265__mask_definition.sql
Due: none

Update lucuma-core
  build.sbt
Due: none

Store more design data in the mask definition blob
  modules/schema/src/main/scala/lucuma/odb/data/MaskDefinition.scala
  modules/schema/src/main/scala/lucuma/odb/json/maskdefinition.scala
  modules/schema/src/test/scala/lucuma/odb/json/MaskDefinitionSuite.scala
Due: Label schema PRs

PosAngle is required on mask file attachments
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/MaskDefinition.scala
  modules/schema/src/main/scala/lucuma/odb/json/maskdefinition.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/maskDefinition.scala
Due: Label schema PRs

Expose slit counts and average slit width
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/MaskDefinition.scala
  modules/schema/src/main/scala/lucuma/odb/json/maskdefinition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/maskDefinition.scala
Due: Label schema PRs

Glossary updates
  CONTEXT.md
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1271__mask_definition.sql
Due: none

Change F2 MOS default acquisition etm to T&C with 5secs exp time
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/mos/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/mos/Mos.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/flamingos2/MosLongSlitSequencesSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/flamingos2/mos/AcquisitionSuite.scala
  modules/service/src/main/resources/db/migration/V1272__flamingos2_mos_acquisition_time_and_count.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2MosInput.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/ExposureTimeModeService.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2MosService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_Flamingos2Mos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_Flamingos2Mos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2Mos.scala
Due: Label schema PRs, Label sequence PRs

Add time estimation for F2 MOS observations
  modules/service/src/main/resources/db/migration/V1273__f2_mos_time_estimate.sql
  modules/service/src/main/scala/lucuma/odb/graphql/enums/Enums.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2Mos.scala
Due: none

minimumRequired validations for OR groups
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GroupPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateGroups.scala
Due: Label schema PRs

keeps groups minimumRequired auto updated
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1273__group_clamp_min_required.sql
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateGroups.scala
Due: Label schema PRs

brevity is the soul of wit
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1272__too_trigger_accepted_status.sql
  modules/service/src/main/resources/db/migration/V1273__too_trigger_accept.sql
  modules/service/src/main/resources/db/migration/V1274__too_trigger_ceiling_clears_ready.sql
  modules/service/src/main/resources/db/migration/V1275__too_trigger_supersede_guard.sql
  modules/service/src/main/scala/lucuma/odb/data/TooTriggerStatus.scala
Due: Label schema PRs

ACCEPTED too trigger status
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1272__too_trigger_accepted_status.sql
  modules/service/src/main/resources/db/migration/V1273__too_trigger_accept.sql
  modules/service/src/main/resources/db/migration/V1274__too_trigger_ceiling_clears_ready.sql
  modules/service/src/main/resources/db/migration/V1275__too_trigger_supersede_guard.sql
  modules/service/src/main/scala/lucuma/odb/data/TooTriggerStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/tooTriggerActivation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/tooTriggerWorkflow.scala
Due: Label schema PRs

renumber
  modules/service/src/main/resources/db/migration/V1273__too_trigger_accepted_status.sql
  modules/service/src/main/resources/db/migration/V1274__too_trigger_accept.sql
  modules/service/src/main/resources/db/migration/V1275__too_trigger_ceiling_clears_ready.sql
  modules/service/src/main/resources/db/migration/V1276__too_trigger_supersede_guard.sql
  modules/service/src/test/scala/lucuma/odb/graphql/query/tooTriggerWorkflow.scala
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1274__too_trigger_accepted_status.sql
  modules/service/src/main/resources/db/migration/V1275__too_trigger_accept.sql
  modules/service/src/main/resources/db/migration/V1276__too_trigger_ceiling_clears_ready.sql
  modules/service/src/main/resources/db/migration/V1277__too_trigger_supersede_guard.sql
  modules/service/src/test/scala/lucuma/odb/graphql/query/tooTriggerWorkflow.scala
Due: none

Instrument matching
  CONTEXT.md
  modules/service/src/main/resources/db/migration/V1273__mask_instrument.sql
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentMetadataService.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2MosService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosMosService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/MosMaskOps.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/maskDefinition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_Flamingos2Mos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosMos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/customMask.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/customMaskInUse.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_Flamingos2Mos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GmosMos.scala
Due: none

Generate the mask instrument instead of writing it
  CONTEXT.md
  modules/service/src/main/resources/db/migration/V1273__mask_instrument.sql
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/MosMaskOps.scala
Due: none

fix deadlock on concurrent dataset events
  modules/service/src/main/resources/db/migration/V1273__dataset_reference_plain_index.sql
Due: none

renumber migration
  modules/service/src/main/resources/db/migration/V1278__dataset_reference_plain_index.sql
Due: none

allow dataset events to start a step
  modules/service/src/main/resources/db/migration/V1279__dataset_before_step_events.sql
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordDataset.scala
Due: none

unify observing mode naming criteria
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsIfuInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsSpectroscopyInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsSpectroscopyMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservingModeMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsSplitSpectroscopy.scala
Due: Label schema PRs

scalafmt
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosIfuSuite.scala
  itc/model/src/main/scala/lucuma/itc/GmosIfuAnalysis.scala
Due: Label model PRs

support gmos ifu in itc
  itc/benchmarks/src/main/scala/lucuma/itc/benchmarks/ItcBenchmarkSetup.scala
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/CommonITCLegacySuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosIfuSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecSignalToNoiseSuite.scala
  itc/model/src/main/scala/lucuma/itc/GmosIfuAnalysis.scala
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.2.jar
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/scala/lucuma/itc/input/GmosIfuAnalysisInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GmosNSpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/input/GmosSSpectroscopyInput.scala
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/legacy/syntax/InstrumentSyntax.scala
  itc/service/src/main/scala/lucuma/itc/package.scala
  itc/service/src/main/scala/lucuma/itc/service/GmosIfuSky.scala
  itc/service/src/main/scala/lucuma/itc/service/GmosSpecParams.scala
  itc/service/src/main/scala/lucuma/itc/service/ObservingMode.scala
  itc/service/src/main/scala/lucuma/itc/service/hashes.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/spectroscopyTime.scala
  itc/service/src/main/scala/lucuma/itc/service/syntax/GmosNorthFpu.scala
  itc/service/src/main/scala/lucuma/itc/service/syntax/GmosSouthFpu.scala
  itc/testkit/src/main/scala/lucuma/itc/client/arb/ArbInstrumentMode.scala
  itc/tests/src/test/scala/lucuma/itc/service/GmosIfuAnalysisMethodSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/GraphQLSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/TargetGraphsFromLegacySuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/spectroscopySignalToNoiseSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirsManualFilter.scala
Due: Label benchmarks PRs, Label client PRs, Label model PRs, Label testkit PRs, Label tests PRs

fix rebase
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosR150BlueSuite.scala
Due: none

bump base version
  build.sbt
Due: none

Generate the mask instrument instead of writing it
  CONTEXT.md
  modules/service/src/main/resources/db/migration/V1273__mask_instrument.sql
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentMetadataService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosMosService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/MosMaskSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/maskDefinition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_Flamingos2Mos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosMos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/customMask.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_Flamingos2Mos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GmosMos.scala
Due: none

renumber
  modules/service/src/main/resources/db/migration/V1278__mask_instrument.sql
Due: none

Need to disable constraints when changing the constraints
  modules/service/src/main/resources/db/migration/V1278__mask_instrument.sql
Due: none

renumber migration
  modules/service/src/main/resources/db/migration/V1279__dataset_reference_plain_index.sql
Due: none

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
