Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17)
  actions:
    merge: {}
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

remove proposal title and abstract, add program description
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0942__move_proposal_title.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createConfigurationRequest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateConfigurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updatePrograms.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_applicableObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configuration.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program_configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/configurationRequestEdit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/programEdit.scala
Due: Label schema PRs, Label service PRs

Renumber migration
  modules/service/src/main/resources/db/migration/V0944__move_proposal_title.sql
Due: Label service PRs

test
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/TestSsoClient.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/AttachmentRoutesSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/AttachmentsSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachmentRoutes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3485.scala
Due: Label service PRs

Fix test
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: Label service PRs

eng workflow
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: Label service PRs

Generalize populate-db-from-dev to work for staging and production
  populate-db-from-heroku.sh
  populate-db-from-staging.sh
Due: none

Fix import dependency issue
  modules/service/src/main/resources/db/migration/V0945__add_dependency_on_t_program_type.sql
Due: Label service PRs

generalize for all non-science programs
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

schema-changes-action
  .github/workflows/ci.yml
  build.sbt
Due: none

Revert "schema-changes-action"
  .github/workflows/ci.yml
  build.sbt
Due: none

Use graphql-inspector to detect breaking schema changes
  .github/workflows/ci.yml
  build.sbt
Due: none

Set fail-on-breaking flag to false
  .github/workflows/ci.yml
  build.sbt
Due: none

Enable fail-on-breaking
  .github/workflows/ci.yml
  build.sbt
Due: none

Update core to get the new F2 FPU tags
  build.sbt
  modules/service/src/main/resources/db/migration/V0946__update_f2_enums.sql
Due: Label service PRs

Port the spectroscopy options table for the new FPU tags
  modules/service/src/main/resources/db/migration/V0946__update_f2_enums.sql
  modules/service/src/main/scala/db/migration/R__Phase0.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/spectroscopyConfigOptions.scala
Due: Label service PRs

Show portal error
  modules/service/src/main/scala/db/migration/R__Phase0.scala
Due: Label service PRs

ExposureTimeMode inputs
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0946__exposure_time_mode.sql
  modules/service/src/main/scala/lucuma/odb/data/ExposureTimeModeType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ExposureTimeModeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SpectroscopyScienceRequirementsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SignalToNoiseExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SpectroscopyScienceRequirementsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeAndCountExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Due: Label schema PRs, Label service PRs

time and count tests
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/HashBytes.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/TestItcClient.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/longslit/ScienceSuite.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/timeAndCountExposureTimeMode.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2772.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/2887.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/3219.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSpecPhot.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
Due: Label sequence PRs, Label service PRs

renumber migration
  modules/service/src/main/resources/db/migration/V0947__exposure_time_mode.sql
Due: Label service PRs

library updates
  build.sbt
  modules/service/src/main/scala/lucuma/odb/graphql/input/ExposureTimeModeInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programPlannedTime.scala
Due: Label service PRs

Update sbt-lucuma-lib
  build.sbt
  project/plugins.sbt
Due: none
