Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

renumber
  modules/service/src/main/resources/db/migration/V1157__ghost.sql
  modules/service/src/main/resources/db/migration/V1158__ghost.sql
Due: none

fluff
  modules/binding/src/main/scala/lucuma/odb/data/PosAngleConstraintMode.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/GhostIfuMappingSyntax.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/IfuMappingContext.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostIfuService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: Label binding PRs, Label schema PRs, Label sequence PRs

core 203
  build.sbt
Due: none

fluff again
  modules/schema/src/test/scala/lucuma/odb/json/GhostSuite.scala
  modules/service/src/main/scala/lucuma/odb/util/GhostCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGhostIfu.scala
Due: Label schema PRs

mima
  build.sbt
Due: none

bug fix
  modules/service/src/main/scala/lucuma/odb/service/GhostIfuService.scala
Due: none

gnirs acq model adjustments
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1157__gnirs_acq_filter.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsLongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
Due: Label schema PRs

renumber migration
  modules/service/src/main/resources/db/migration/V1159__gnirs_acq_filter.sql
Due: none

Add a field to indicate which PIs are classicals
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1152__classical_observer.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramUserView.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addProgramUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
Due: Label schema PRs

Rename classicalObserver to classicalVisitor
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1157__classical_visitor.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramUserView.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addProgramUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
Due: Label schema PRs

Renumber migration
  modules/service/src/main/resources/db/migration/V1154__classical_observer.sql
Due: none

Reset consider for band 3 when a proposal switches to classical
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
Due: none

Drop consider for band 3 for classical proposals
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalTypeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProposalView.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
Due: Label schema PRs

Renumber migrations again
  modules/service/src/main/resources/db/migration/V1157__classical_observer.sql
Due: none

Renumber migration
  modules/service/src/main/resources/db/migration/V1160__classical_visitor.sql
Due: none

ITC Gnirs Imaging
  itc/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsImgExpTimeSuite.scala
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGnirsImgSignalToNoiseSuite.scala
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/scala/lucuma/itc/input/GnirsImagingInput.scala
  itc/service/src/main/scala/lucuma/itc/input/InstrumentModesInput.scala
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  itc/service/src/main/scala/lucuma/itc/service/ObservingMode.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/imagingTime.scala
  itc/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
Due: Label client PRs, Label tests PRs

scalafmt
  itc/service/src/main/scala/lucuma/itc/input/GnirsImagingInput.scala
  itc/service/src/main/scala/lucuma/itc/service/requests/imagingTime.scala
Due: none

proximity warning
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/GhostIfuMappingSyntax.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGhostIfu.scala
Due: Label sequence PRs

reomove obsolete instances from tests
  modules/schema/src/test/scala/lucuma/odb/data/arb/ArbItc.scala
Due: Label schema PRs

bump base version
  build.sbt
Due: none

gnirs acquisition generation
  ITC-README.md
  modules/schema/src/main/scala/lucuma/odb/data/Itc.scala
  modules/schema/src/main/scala/lucuma/odb/json/itc.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/shared.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorContext.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirs.scala
Due: Label schema PRs, Label sequence PRs

Add Flamingos2 imaging observing mode enum and stubs
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1161__flamingos2_imaging_mode_type.sql
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/unimplemented.scala
Due: Label schema PRs

scalafix
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
Due: none

Fix test case
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/7591.scala
Due: none

slow low
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosNorth_slow.scala
Due: Label sequence PRs

Fix test case
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorthImaging.scala
Due: none

Switch to FAST for 20 second step
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosNorth_slow.scala
Due: Label sequence PRs

Limit to pre-execution
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
Due: none

Renumber migration
  modules/service/src/main/resources/db/migration/V1161__materialized_sequence_flags.sql
Due: none

Allow determining if sequences have been materialized and deleting them
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1159__materialized_sequence_flags.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/DeleteSequenceInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DeleteSequenceResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/DeleteSequenceResultPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
Due: Label schema PRs

Don't allow sequence delete if there are visits
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
Due: none

Renumber migration
  modules/service/src/main/resources/db/migration/V1162__materialized_sequence_flags.sql
Due: none

Check atom count in tests
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/deleteSequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GenerationTestSupport.scala
Due: none

deleteSequence tests
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/ReplaceGmosNorthSequenceOps.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/deleteSequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceGmosNorthSequence.scala
Due: none

Add Flamingos2 imaging table and create logic with its own service.
  modules/service/src/main/resources/db/migration/V1162__flamingos2_imaging.sql
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2ImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
Due: none

Add test for an observation using offsets
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2ImagingInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_Flamingos2Imaging.scala
Due: none

Flamingos2 imaging read mapping.
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExposureTimeModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2ImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2ImagingView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_Flamingos2Imaging.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_Flamingos2Imaging.scala
Due: Label schema PRs

Add tests to create and read flamingos 2 imaging
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_Flamingos2Imaging.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_Flamingos2Imaging.scala
Due: none

scalafix
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1162__flamingos2_imaging.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2ImagingInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: Label schema PRs

Add Flamingos2 imaging input.
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2ImagingFilterInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2ImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ImagingFilterCheck.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservingModeInput.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/util/Flamingos2Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/ImagingFilterCheckSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: Label schema PRs
