Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label binding PRs, Label calibrations PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Update lucuma-core to fix z+CaT filter name
  build.sbt
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Imaging.tsv
  modules/service/src/main/resources/db/migration/V0989__imaging_matrix_gmos.sql
Due: Label phase0 PRs, Label service PRs

Add schema, implementation and test for imaging config options
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ImagingConfigOptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ImagingConfigOptionTable.scala
Due: Label schema PRs, Label service PRs

lookup instrument reference name
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0990__instrument_reference_name.sql
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
Due: Label schema PRs, Label service PRs

sequence service
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosSequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
  modules/service/src/main/scala/lucuma/odb/service/extensions.scala
Due: Label service PRs

t_flamingos_2_dynamic
  modules/service/src/main/resources/db/migration/V0988__f2_dynamic.sql
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2DynamicTable.scala
  modules/service/src/main/scala/lucuma/odb/util/Flamingos2Codecs.scala
Due: Label service PRs

inputs
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2CustomSlitWidthBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/F2LyoutWheelBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2CustomMaskInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2DynamicInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2FpuMaskInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/util.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordStepResultMapping.scala
Due: Label binding PRs, Label schema PRs, Label service PRs

Fix t_flamingos_2_dynamic table def.
  modules/service/src/main/resources/db/migration/V0989__f2_dynamic.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordVisitResultMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
Due: Label service PRs

bug fixes
  modules/service/src/main/resources/db/migration/V0991__f2_dynamic.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2CustomMaskMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2DynamicMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2FpuMaskMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2DynamicView.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2SequenceService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordStep.scala
Due: Label service PRs

more mapping
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2CustomMaskMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2DynamicMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2FpuMaskMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosCustomMaskMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordFlamingos2VisitResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordGmosNorthVisitResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordGmosSouthVisitResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RecordVisitResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordStep.scala
Due: Label schema PRs, Label service PRs

mutation
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordFlamingos2VisitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordStepInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RecordVisitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
Due: Label service PRs

Add mappings for imaging options and tests
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereImagingConfigOption.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AngleMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ImagingConfigOptionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/imagingConfigOptions.scala
Due: Label schema PRs, Label service PRs

Run scalafix
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AngleMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
Due: Label service PRs

f
  modules/service/src/main/scala/db/migration/Phase0Table.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2DynamicView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/Flamingos2LongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/SpectroscopyConfigOptionTable.scala
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2LongSlitService.scala
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
  modules/service/src/main/scala/lucuma/odb/util/Flamingos2Codecs.scala
Due: Label service PRs

F2 -> Flamingos2
  build.sbt
Due: none

scalafix
  build.sbt
  modules/service/src/main/scala/db/migration/Phase0Loader.scala
Due: Label service PRs

acquisition sequence placeholder
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/Flamingos2InitialDynamicConfig.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/package.scala
Due: Label sequence PRs

Some changes to when group-edit events are sent
  modules/service/src/main/resources/db/migration/V0992__group_edit_changes.sql
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/groupEdit.scala
Due: Label service PRs

science sequence placeholder
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/AtomBuilder.scala
Due: Label sequence PRs

long slit
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
Due: Label sequence PRs

plugin to generator
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
Due: Label service PRs

Path conditions:
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
