Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label binding PRs, Label calibrations PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Use NonEmptyString for affiliation
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1018__add_investigator_affiliation.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramUserTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
Due: Label schema PRs, Label service PRs

Add affiliation field
  .gitignore
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1018__add_investigator_affiliation.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramUserPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramUserTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
Due: Label schema PRs, Label service PRs

Rename migration
  modules/service/src/main/resources/db/migration/V1019__add_investigator_affiliation.sql
Due: Label service PRs

switch to new R400 grating
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1020__r400.sql
  modules/service/src/test/scala/lucuma/odb/graphql/query/observingModeGroup.scala
  modules/smartgcal/src/test/scala/lucuma/odb/smartgcal/parsers/GmosNorthParsersSuite.scala
Due: Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

tests
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ArcMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: Label service PRs

tests
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: Label service PRs

WhereDatasetChronicleEntry
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereDatasetChronicleEntry.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/datasetChronicleEntries.scala
Due: Label schema PRs, Label service PRs

comment
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

Event client id
  build.sbt
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/ClientIdBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/schema/src/test/scala/lucuma/odb/data/OdbErrorSuite.scala
  modules/service/src/main/resources/db/migration/V1021__client_id.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddAtomEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddDatasetEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddSequenceEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddSlewEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddStepEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ExecutionEventTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addAtomEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addDatasetEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionEvents.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timeAccounting.scala
Due: Label binding PRs, Label schema PRs, Label service PRs

Validate CfP deadline when submitting a proposal.
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/goaAccessQuery.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/asterismGroup.scala
Due: Label service PRs

Event client id
  build.sbt
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/ClientIdBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/schema/src/test/scala/lucuma/odb/data/OdbErrorSuite.scala
  modules/service/src/main/resources/db/migration/V1021__client_id.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddAtomEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddDatasetEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddSequenceEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddSlewEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddStepEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ExecutionEventTable.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addAtomEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addDatasetEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSequenceEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSlewEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addStepEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionEvents.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timeAccounting.scala
Due: Label binding PRs, Label schema PRs, Label service PRs

versions
  build.sbt
Due: none

lint
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addAtomEvent.scala
Due: Label service PRs

Delete GMOS south grating B600_G5323
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Config.scala
  modules/service/src/main/resources/db/migration/V1021__B600.sql
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/FileReader.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/gmosSouth.scala
  modules/smartgcal/src/test/scala/lucuma/odb/smartgcal/FileReaderSuite.scala
Due: Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

versions
  build.sbt
  modules/service/src/main/resources/db/migration/V1022__B600.sql
Due: Label service PRs

update comment
  modules/service/src/main/resources/db/migration/V1022__B600.sql
Due: Label service PRs

Remove B600 rows
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Spectroscopy.tsv
Due: Label phase0 PRs

Fix migration
  modules/phase0/src/main/resources/phase0/Phase0_Instrument_Matrix - Spectroscopy.tsv
  modules/service/src/main/resources/db/migration/V1022__B600.sql
Due: Label phase0 PRs, Label service PRs

Fix test case
  modules/phase0/src/test/scala/lucuma/odb/phase0/Phase0LoaderSuite.scala
Due: Label phase0 PRs

Validate CfP deadline when submitting a proposal.
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/goaAccessQuery.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/github/1237.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/asterismGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/constraintSetGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/datasetChronicleEntries.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/targetGroup.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/configurationRequestEdit.scala
Due: Label service PRs

Send email confirmation of proposal submission
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/service/src/main/resources/db/migration/V1023__program_user_view.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GroupMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/reference.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4457.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4460.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneTarget.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionFailures.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSpecPhot.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/targets.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationsServiceSuite.scala
Due: Label calibrations PRs, Label service PRs

Bump base version to solve problem with two 0.26 tags on same commit
  build.sbt
Due: none

Path conditions:
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
