Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Build and Test (ubuntu-latest, 3, temurin@17)
  actions:
    merge: {}
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^modules/service/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []

update program user uniqueness constraints
  modules/service/src/main/resources/db/migration/V0936__support_not_unique.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
Due: Label service PRs

Update dependencies
  build.sbt
  project/plugins.sbt
Due: none

test case
  modules/service/src/main/resources/db/migration/V0936__support_not_unique.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
Due: Label service PRs

fix bugs
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_applicableObservations.scala
Due: Label service PRs

fix test case
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
Due: Label service PRs

select distinct users, since they can be duplicated
  modules/service/src/main/scala/lucuma/odb/graphql/topic/ProgramTopic.scala
Due: Label service PRs

Set the wavelength where to measure S/N for spec photo calibrations using the average of the same value across the observations sharing the same configuration
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label service PRs

Add test for the signalToNoisAt calibration average feature
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
Due: Label service PRs

Small code improvements
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
Due: Label service PRs

add-field
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationRequestMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ConfigurationRequestView.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
Due: Label schema PRs, Label service PRs

oops
  modules/service/src/main/resources/db/migration/V9999__config_req_justification.sql
Due: Label service PRs

comment
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

testing multiple invitations
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
Due: Label service PRs

Bring UserInvitation.Id back.
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/schema/src/test/scala/lucuma/odb/data/OdbErrorSuite.scala
  modules/service/src/main/resources/db/migration/V0935__program_user_update.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RevokeUserInvitationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UserInvitationIdInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CreateUserInvitationResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RedeemUserInvitationResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RevokeUserInvitationResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UnlinkUserResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UserInvitationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/UserInvitationPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/UserInvitationTable.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/revokeUserInvitation.scala
Due: Label schema PRs, Label service PRs

One pending invitation per user
  modules/service/src/main/resources/db/migration/V0935__program_user_update.sql
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
Due: Label service PRs

don't link after rejected invitation
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
Due: Label service PRs

switch to 'm'
  modules/service/src/main/resources/db/migration/V0935__program_user_update.sql
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addProgramUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/deleteProgramUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/redeemUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/revokeUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/unlinkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateConfigurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/configurationRequestEdit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/programEdit.scala
Due: Label service PRs

order invitations
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
Due: Label service PRs

delete test
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
Due: Label service PRs

mima
  build.sbt
Due: none
