Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Fix executionTwilight
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
Due: none

We should check the obs workflow state on t_obscalc
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

Delete system calibrations group if empty
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
Due: none

Use workflow states Ready and Defined to generate calibrations
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

Read workflow user_state and workflow_state directly
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
Due: none

Telluric calibrations should run only for ready observations
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6598.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
Due: none

Fix test for untargeted calibrations
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6598.scala
Due: none

Listen to obscalc events rather than obsEdit to drive calibrations
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
Due: Label calibrations PRs

fix executionTwilight
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
Due: none

Refactor common code
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6598.scala
Due: none

Fix broken test
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6598.scala
Due: none

cleanup
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: Label calibrations PRs

Don't check for user workflow state
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
Due: none

stragglers
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
Due: none

wip
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/util/SchemaSemigroup.scala
  modules/service/src/test/scala/lucuma/odb/service/StartupDiagnosticsSuite.scala
Due: Label schema PRs

remove commented lines
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

hm
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configuration.scala
Due: none

refactor to allow for horizons test client
  build.sbt
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/GraphQLRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/SchedulerRoutes.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/service/TrackingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/6900.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configuration.scala
Due: Label calibrations PRs, Label obscalc PRs

refactor to allow for horizons test client
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
Due: Label obscalc PRs

refactor to allow for horizons test client
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: none

Refactor obscalc parameters
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/SchedulerRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GroupMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TargetEnvironmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupport.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/scheduler/schedulerRoutes.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label calibrations PRs, Label obscalc PRs

fix bad horizons response
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configuration.scala
Due: none

Suggested PR fixes
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
Due: Label obscalc PRs

Post rebase compilation fixes
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/SchedulerRoutes.scala
Due: Label calibrations PRs, Label obscalc PRs

Return the original guide star results from gaia
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/GuideEnvironmentSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentF2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentGMOS.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironments.scala
Due: none

Update core to fix parsing px and rv
  build.sbt
Due: none

Update more libraries
  build.sbt
Due: none

Update core to fix returning rx and pv on guide stars
  build.sbt
  modules/service/src/test/scala/lucuma/odb/graphql/query/GuideEnvironmentSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironments.scala
Due: none

fix trigger
  modules/service/src/main/resources/db/migration/V1064__offset_generator.sql
Due: none

offset generators
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/OffsetGeneratorType.scala
  modules/service/src/main/resources/db/migration/V1064__offset_generator.sql
  modules/service/src/main/scala/lucuma/odb/data/OffsetGeneratorRole.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/OffsetGeneratorInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AngleMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OffsetGeneratorMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OffsetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TelescopeConfigMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/EnumeratedOffsetView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosImagingFilterTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosImagingView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/OffsetGeneratorView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/OffsetGeneratorService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/GmosImagingInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosImagingInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosImaging.scala
Due: Label calibrations PRs, Label obscalc PRs, Label schema PRs, Label sequence PRs

clone
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OffsetGeneratorMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/OffsetGeneratorView.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/OffsetGeneratorService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
Due: none

update
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/OffsetGeneratorService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: none

enum startup check
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/OffsetGeneratorService.scala
Due: none

cleanup
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TelescopeConfigMapping.scala
Due: Label schema PRs

co-pilot review suggestions
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OffsetMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/OffsetGeneratorService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosImaging.scala
  modules/service/src/test/scala/lucuma/odb/service/OffsetGeneratorServiceSuite.scala
Due: none

generation
  modules/service/src/main/scala/lucuma/odb/graphql/input/OffsetGeneratorInput.scala
  modules/service/src/main/scala/lucuma/odb/service/OffsetGeneratorService.scala
  modules/service/src/test/scala/lucuma/odb/service/OffsetGeneratorServiceSuite.scala
Due: none

scalacheck-effect-munit ?
  build.sbt
  modules/service/src/test/scala/lucuma/odb/service/OffsetGeneratorServiceSuite.scala
Due: none

enumerated - non-empty list
  modules/service/src/main/scala/lucuma/odb/graphql/input/OffsetGeneratorInput.scala
  modules/service/src/main/scala/lucuma/odb/service/OffsetGeneratorService.scala
Due: none

switch to uniform, update calculation
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/OffsetGeneratorType.scala
  modules/service/src/main/resources/db/migration/V1064__offset_generator.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/OffsetGeneratorInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OffsetGeneratorMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OffsetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/OffsetGeneratorView.scala
  modules/service/src/main/scala/lucuma/odb/service/OffsetGeneratorService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosImaging.scala
  modules/service/src/test/scala/lucuma/odb/service/OffsetGeneratorServiceSuite.scala
Due: Label schema PRs, Label sequence PRs

Update SequenceDigest to include the guiding state of each offset
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/main/resources/db/migration/V1065__add_guide_state_to_digest_offsets.sql
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
