Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Update lucuma-core to get ags fixes
  .github/workflows/ci.yml
  build.sbt
Due: none

Cap duration for telluric targets at 3h
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
Due: none

GMOS imaging variants
  modules/binding/src/main/scala/lucuma/odb/data/WavelengthOrder.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/WavelengthOrderBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1065__gmos_imaging1.sql
  modules/service/src/main/resources/db/migration/V1066__gmos_imaging2.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/data/GmosImagingVariantType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingVariantInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/OffsetGeneratorInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationGmosImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OffsetGeneratorMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosImagingView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/main/scala/lucuma/odb/util/GmosCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/GmosImagingInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosImagingInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosImaging.scala
Due: Label binding PRs, Label schema PRs

refactor
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/WavelengthOrder.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/OffsetGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Variant.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/VariantType.scala
  modules/service/src/main/scala/lucuma/odb/data/GmosImagingVariantType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingVariantInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/OffsetGeneratorInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/OffsetGeneratorService.scala
  modules/service/src/main/scala/lucuma/odb/util/GmosCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/GmosImagingInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosImagingInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label schema PRs, Label sequence PRs

filters into variants
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/OffsetGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Variant.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/HashBytes.scala
  modules/service/src/main/resources/db/migration/V1065__gmos_imaging1.sql
  modules/service/src/main/resources/db/migration/V1066__gmos_imaging2.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingVariantInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OffsetMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosImagingView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/OffsetGeneratorService.scala
  modules/service/src/main/scala/lucuma/odb/util/GmosCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/GmosImagingInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosImagingInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosImaging.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label schema PRs, Label sequence PRs

separate GMOS imaging update tests
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Config.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/UpdateObservationsOps.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservationsTimes.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GmosImaging.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_applicableObservations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: Label sequence PRs

remove out of variant offsets and multiple filter mode
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Config.scala
  modules/service/src/main/resources/db/migration/V1066__gmos_imaging2.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosImagingView.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/GmosImagingInputSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosImagingInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosImaging.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label schema PRs, Label sequence PRs

filters out of variant, interleaved offsets
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Variant.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/imaging/ConfigSuite.scala
  modules/service/src/main/resources/db/migration/V1070__gmos_imaging2.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingVariantInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosImagingMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OffsetMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosImagingInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosImaging.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GmosImaging.scala
Due: Label schema PRs, Label sequence PRs

fix test cases
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/OffsetGenerator.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/imaging/ConfigSuite.scala
  modules/service/src/main/resources/db/migration/V1069__gmos_imaging1.sql
  modules/service/src/main/resources/db/migration/V1070__gmos_imaging2.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingVariantInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/OffsetGeneratorService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/input/arb/ArbGmosImagingInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
  modules/service/src/test/scala/lucuma/odb/sequence/data/arb/ArbOffsetGenerator.scala
  modules/service/src/test/scala/lucuma/odb/service/OffsetGeneratorServiceSuite.scala
Due: Label schema PRs, Label sequence PRs

with variant validation
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/VariantType.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GmosImagingVariantInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
Due: Label sequence PRs

simplify random seeds
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/OffsetGenerator.scala
  modules/service/src/main/resources/db/migration/V1073__offset_generator_seed.sql
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosImagingFilterTable.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosImagingView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/OffsetGeneratorView.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/OffsetGeneratorService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/sequence/data/OffsetGeneratorSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/OffsetGeneratorServiceSuite.scala
Due: Label calibrations PRs, Label obscalc PRs, Label sequence PRs

doc
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

renumber migration
  modules/service/src/main/resources/db/migration/V1071__gmos_imaging1.sql
  modules/service/src/main/resources/db/migration/V1072__gmos_imaging2.sql
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: none

more tests more fixes
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Variant.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/OffsetGeneratorMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosImaging.scala
Due: Label sequence PRs

more test case fixes
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
  modules/service/src/test/scala/lucuma/odb/service/OffsetGeneratorServiceSuite.scala
Due: none

cleanup
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosImaging.scala
Due: none

switch to core uniform
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/OffsetGenerator.scala
Due: Label sequence PRs

Renumber
  modules/service/src/main/resources/db/migration/V1072__gmos_imaging1.sql
  modules/service/src/main/resources/db/migration/V1073__gmos_imaging2.sql
  modules/service/src/main/resources/db/migration/V1074__offset_generator_seed.sql
Due: none

ItcInput refactor
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/imaging/Filter.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/ItcInputSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/gmos/imaging/ConfigSuite.scala
  modules/service/src/main/resources/db/migration/V1075__gmos_imaging3.sql
  modules/service/src/main/scala/lucuma/odb/graphql/AttachmentRoutes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/SchedulerRoutes.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GmosImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerProgramPerConfigCalibrationsService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/service/GmosImagingServiceSuite.scala
Due: Label calibrations PRs, Label obscalc PRs, Label sequence PRs

Invalidate target resolution when obscalc updates
  modules/service/src/main/resources/db/migration/V1072__telluric_invalidation.sql
Due: none

Store a hash of the parametrs used to call the tellurics service
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/HashBytes.scala
  modules/service/src/main/resources/db/migration/V1072__telluric_invalidation.sql
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
Due: Label sequence PRs

Added some logging
  modules/service/src/main/resources/db/migration/V1072__telluric_invalidation.sql
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsDaemon.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
Due: none

Only recalculate the target if the params change is different
  modules/service/src/main/scala/lucuma/odb/data/TelluricTargets.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
Due: none

Remove one unneeded query update
  modules/service/src/main/resources/db/migration/V1072__telluric_invalidation.sql
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsDaemon.scala
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
Due: none

Add a test
  modules/service/src/main/resources/db/migration/V1072__telluric_invalidation.sql
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/service/TelluricTargetsServiceSuiteSupport.scala
Due: none

Attempt to run migrations on CI
  .github/workflows/migration-test.yml
  scripts/test-migration-from-heroku.sh
Due: none

Correct coordinates for obsTime when calculating telluric targets
  modules/service/src/main/scala/lucuma/odb/service/TelluricTargetsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

optional acquisition
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ItcInput.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/ItcInputSuite.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/resources/db/migration/V1075__gmos_imaging3.sql
  modules/service/src/main/scala/lucuma/odb/data/Obscalc.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObscalcService.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label schema PRs, Label sequence PRs

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
