Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Derive program status from the active period, with a staff-only explicit override
  CONTEXT.md
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1301__derived_program_status.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProgram.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramView.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updatePrograms.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs_isActive.scala
Due: Label schema PRs

renumber
  modules/service/src/main/resources/db/migration/V1303__derived_program_status.sql
Due: none

sc-10025 fine-grained warnings (#2945)
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/ConditionsProbabilityValidator.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/validator/TotalSignalToNoiseValidator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_warnings.scala
Due: Label schema PRs

dismissable warnings
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1301__warning_dismissal.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramView.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidationInfo.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram_dismissedWarnings.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updatePrograms_dismissedWarnings.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program.scala
Due: Label schema PRs

typo, bump
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

Default considerForBand3 to CONSIDER for queue proposals
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GeminiProposalTypeInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
Due: Label schema PRs

rename
  modules/service/src/main/resources/db/migration/V1304__warning_dismissal.sql
Due: none

update migration
  modules/service/src/main/resources/db/migration/V1304__warning_dismissal.sql
Due: none

Run calibration-target lookups durable via the calibration calc queue
  modules/calibrations/calibration-generation-flow.md
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/service/src/main/resources/db/migration/V1304__calibration_retarget.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/data/CalibrationWorkType.scala
  modules/service/src/main/scala/lucuma/odb/data/PendingRecalc.scala
  modules/service/src/main/scala/lucuma/odb/graphql/topic/CalibTimeTopic.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationCalcDaemon.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationCalcService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationCalcServiceSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationCalcServiceSuiteSupport.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationReconciliationSuite.scala
Due: Label calibrations PRs

rename
  modules/service/src/main/resources/db/migration/V1305__warning_dismissal.sql
Due: none

SC-10025 allow dismissal of warnings (#2954)
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1305__warning_dismissal.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProgramPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramView.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramService.scala
  modules/service/src/main/scala/lucuma/odb/service/workflow/ObservationValidationInfo.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProgram_dismissedWarnings.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updatePrograms_dismissedWarnings.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program.scala
Due: Label schema PRs

trigger
  modules/service/src/main/resources/db/migration/V1306__warning_obcalc.sql
Due: none

trigger (#2963)
  modules/service/src/main/resources/db/migration/V1306__warning_obcalc.sql
Due: none

Add the partner and style of a proposal summary attachment
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1305__attachment_partner.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/data/SummaryStyle.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AttachmentMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AttachmentTable.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/attachments/attachments.scala
Due: Label schema PRs

renumber
  modules/service/src/main/resources/db/migration/V1307__attachment_partner.sql
Due: none

Update to Scala 3.9.0 and lucuma-core 0.244.0
  itc/service/src/main/scala/lucuma/itc/legacy/package.scala
Due: none

Update to scala 3.9
  .github/workflows/ci.yml
  build.sbt
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/legacy/package.scala
  modules/CLAUDE.md
  modules/binding/src/main/scala/lucuma/odb/graphql/schema/SchemaStitcherMacros.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/imaging/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Acquisition.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsImagingInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/timeAccounting.scala
Due: Label binding PRs, Label sequence PRs

Use the new telluric MOS offsets
  modules/sequence/src/test/scala/lucuma/odb/sequence/flamingos2/spectroscopy/MosTelluricSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: Label sequence PRs

Exempt non-counting rows from the program resource limit
  modules/service/src/main/resources/db/migration/V1305__calibration_resource_limit_exempt.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/programResourceLimit.scala
Due: none

Improve type ascriptions
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/legacy/package.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/imaging/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/spectroscopy/Acquisition.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: Label sequence PRs

Add a queue for proposal PDF summary jobs
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1308__summary_job.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/data/SummaryStyle.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RegenerateProposalSummariesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RegenerateProposalSummariesResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/PdfSummaryJobPayload.scala
  modules/service/src/main/scala/lucuma/odb/service/PdfSummaryJobService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/resources/lucuma/odb/summary/payload-v1.json
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/regenerateProposalSummaries.scala
Due: Label schema PRs

Scheduling window approval
  CONTEXT.md
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/service/src/main/resources/db/migration/V1308__scheduling_window_approval.sql
  modules/service/src/main/scala/lucuma/odb/data/TooWindow.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ObservationPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SchedulingConstraintsInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/TooWindowInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/SchedulingConstraintsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TimeSpanMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/TooWindowMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ConfigurationRequestView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ObservationView.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/SchedulingWindowService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/schedulingWindowApproval.scala
Due: Label schema PRs

Flatten GMOS IFU calibration config subsets.
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
Due: none

Add calibration config round-trip and idempotency tests
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/service/CalibrationConfigRoundTripSuite.scala
  modules/service/src/test/scala/lucuma/odb/service/arb/ArbCalibrationConfigSubset.scala
Due: none

Update lucuma-graphql-routes to 0.15.0
  build.sbt
Due: none

expose emails on program
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramMapping.scala
Due: Label schema PRs

Check telluric calibration roles in triggers, not CHECK constraints
  modules/CLAUDE.md
  modules/service/src/main/resources/db/migration/V1308__telluric_check_constraint_triggers.sql
Due: none

Report restore failures in populate-db-from-heroku.sh
  modules/CLAUDE.md
  populate-db-from-heroku.sh
Due: none

Apply batched suggestions from code review
  modules/CLAUDE.md
  modules/service/src/main/resources/db/migration/V1308__telluric_check_constraint_triggers.sql
Due: none

change gmos if analysis default
  build.sbt
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosIfuSuite.scala
  itc/service/src/main/resources/graphql/itc.graphql
  itc/tests/src/test/scala/lucuma/itc/service/GmosIfuAnalysisMethodSuite.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GmosIfu.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations_GmosIfu.scala
Due: Label schema PRs, Label tests PRs

Configure otel collector CORS allowlist via OTLP_ALLOWED_ORIGINS
  otel-collector/README.md
  otel-collector/entrypoint.sh
  otel-collector/nginx.conf.template
  otel-collector/run-local.sh
Due: none

Add a queue for proposal PDF summary jobs
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1309__summary_job.sql
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/data/SummaryStyle.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RegenerateProposalSummariesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RegenerateProposalSummariesResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/PdfSummaryJobPayload.scala
  modules/service/src/main/scala/lucuma/odb/service/PdfSummaryJobService.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/test/resources/lucuma/odb/summary/payload-v1.json
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/regenerateProposalSummaries.scala
Due: Label schema PRs

Name a summary PDF after its partner, not its style
  modules/service/src/main/scala/lucuma/odb/service/PdfSummaryJobService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/regenerateProposalSummaries.scala
Due: none

warning dismissal request
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/data/EmailId.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/WarningDismissalInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/EmailPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/Predicates.scala
  modules/service/src/main/scala/lucuma/odb/service/EmailService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/requestWarningDismissal.scala
Due: Label schema PRs

scalafi
  modules/service/src/main/scala/lucuma/odb/data/EmailId.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/requestWarningDismissal.scala
Due: none

Improve the summary job service after review
  modules/service/src/main/resources/db/migration/V1309__summary_job.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RegenerateProposalSummariesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RegenerateProposalSummariesResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/PdfSummaryJobPayload.scala
  modules/service/src/main/scala/lucuma/odb/service/PdfSummaryJobService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/regenerateProposalSummaries.scala
Due: none

Draft proposals can produce a pdf
  modules/service/src/main/scala/lucuma/odb/service/PdfSummaryJobService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/regenerateProposalSummaries.scala
Due: none

Cleanup
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/data/SummaryStyle.scala
Due: Label schema PRs

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
