Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

access
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

executionStates
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

Switch adminer to adminerevo
  docker-compose.yml
Due: none

Use common code for call limits checks
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/limits.scala
  modules/schema/src/main/scala/lucuma/odb/json/time.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label schema PRs, Label service PRs

batch digect cache
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
Due: Label service PRs

use pre-computed info in digest calc
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
Due: Label service PRs

scalafix
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
Due: Label service PRs

Include emissions lines in check for target brightnesses
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: Label service PRs

Tests
  modules/service/src/test/scala/lucuma/odb/graphql/query/ObservingModeSetupOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSci.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/itc.scala
Due: Label service PRs

address review comment
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: Label service PRs

comment
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

testing multiple invitations
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
Due: Label service PRs

Bring UserInvitation.Id back.
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/OdbError.scala
  modules/schema/src/test/scala/lucuma/odb/data/OdbErrorSuite.scala
  modules/service/src/main/resources/db/migration/V0935__program_user_update.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/RevokeUserInvitationInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/UserInvitationIdInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CreateUserInvitationResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RedeemUserInvitationResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RevokeUserInvitationResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UnlinkUserResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/UserInvitationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/predicate/UserInvitationPredicates.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/UserInvitationTable.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/revokeUserInvitation.scala
Due: Label schema PRs, Label service PRs

One pending invitation per user
  modules/service/src/main/resources/db/migration/V0935__program_user_update.sql
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
Due: Label service PRs

don't link after rejected invitation
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
Due: Label service PRs

switch to 'm'
  build.sbt
  modules/service/src/main/resources/db/migration/V0935__program_user_update.sql
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addProgramUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/deleteProgramUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/linkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/redeemUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/revokeUserInvitation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/unlinkUser.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateConfigurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProgramUsers.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/program.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/configurationRequestEdit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/programEdit.scala
Due: Label service PRs

order invitations
  build.sbt
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProgramUserMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
Due: Label service PRs

delete test
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createUserInvitation.scala
Due: Label service PRs

mima
  build.sbt
Due: none

Recover from future semester
  modules/service/src/main/scala/lucuma/odb/service/CallForProposalsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createCallForProposals.scala
Due: Label service PRs

Query.configurationRequests
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationRequestSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests.scala
Due: Label schema PRs, Label service PRs

scalafix
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
Due: Label service PRs

applicableObservations
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationRequestMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_applicableObservations.scala
Due: Label schema PRs, Label service PRs

scalafix
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationRequestMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/configurationRequests_applicableObservations.scala
Due: Label service PRs

Path conditions:
  Label calibrations PRs: any of: ^modules/calibrations/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
