Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 0)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 1)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 2)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 3)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 4)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 5)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 6)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, 7)
  actions:
    merge: {}
- name: Label benchmarks PRs
  conditions:
  - files~=^itc/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label binding PRs
  conditions:
  - files~=^modules/binding/
  actions:
    label:
      add:
      - binding
      remove: []
- name: Label calibrations PRs
  conditions:
  - files~=^modules/calibrations/
  actions:
    label:
      add:
      - calibrations
      remove: []
- name: Label client PRs
  conditions:
  - files~=^itc/client/
  actions:
    label:
      add:
      - client
      remove: []
- name: Label model PRs
  conditions:
  - files~=^itc/model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label obscalc PRs
  conditions:
  - files~=^modules/obscalc/
  actions:
    label:
      add:
      - obscalc
      remove: []
- name: Label phase0 PRs
  conditions:
  - files~=^modules/phase0/
  actions:
    label:
      add:
      - phase0
      remove: []
- name: Label schema PRs
  conditions:
  - files~=^modules/schema/
  actions:
    label:
      add:
      - schema
      remove: []
- name: Label sequence PRs
  conditions:
  - files~=^modules/sequence/
  actions:
    label:
      add:
      - sequence
      remove: []
- name: Label service PRs
  conditions:
  - files~=^/
  actions:
    label:
      add:
      - service
      remove: []
- name: Label smartgcal PRs
  conditions:
  - files~=^modules/smartgcal/
  actions:
    label:
      add:
      - smartgcal
      remove: []
- name: Label sso-backend-client PRs
  conditions:
  - files~=^modules/sso-backend-client/
  actions:
    label:
      add:
      - sso-backend-client
      remove: []
- name: Label sso-backend-example PRs
  conditions:
  - files~=^modules/sso-backend-example/
  actions:
    label:
      add:
      - sso-backend-example
      remove: []
- name: Label sso-frontend-client PRs
  conditions:
  - files~=^modules/sso-frontend-client/
  actions:
    label:
      add:
      - sso-frontend-client
      remove: []
- name: Label sso-service PRs
  conditions:
  - files~=^modules/sso-service/
  actions:
    label:
      add:
      - sso-service
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^itc/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^itc/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Add parser for igrins2 smart gcal files
  modules/phase0/src/main/scala/lucuma/odb/phase0/FileReader.scala
  modules/service/src/main/scala/db/migration/SmartIgrins2Loader.scala
  modules/smartgcal/src/main/resources/smartgcal/IGRINS-2_ARC.csv
  modules/smartgcal/src/main/resources/smartgcal/IGRINS-2_FLAT.csv
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/FileReader.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/data/Igrins2.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/igrins2.scala
Due: Label phase0 PRs, Label smartgcal PRs

cleanup
  modules/phase0/src/main/scala/lucuma/odb/phase0/FileReader.scala
  modules/service/src/main/scala/db/migration/SmartIgrins2Loader.scala
  modules/service/src/main/scala/lucuma/odb/logic/SmartGcalImplementation.scala
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/smartgcal.scala
Due: Label phase0 PRs

Add migration to store igrins2 smart gcal tables
  modules/service/src/main/resources/db/migration/V1088__smart_gcal_igrins2.sql
  modules/service/src/main/scala/db/migration/R__SmartIgrins2.scala
  modules/service/src/main/scala/db/migration/SmartIgrins2Loader.scala
Due: none

Fix igrins 2 smart gcal migrations
  modules/service/src/main/resources/db/migration/V1088__smart_gcal_igrins2.sql
  modules/service/src/main/scala/db/migration/SmartGcalLoader.scala
  modules/service/src/main/scala/db/migration/SmartGcalTable.scala
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
Due: none

Separate materialization by sequence type
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/service/SequenceService.scala
Due: none

remove addAtomEvent
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/AddAtomEventInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AddAtomEventResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addAtomEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSequenceEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addStepEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/subscription/executionEventAdded.scala
Due: Label schema PRs

Fix tests
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perProgramPerConfigCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/datasets.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
  modules/service/src/test/scala/lucuma/odb/service/VisitServiceSuite.scala
Due: none

Fix migration
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
Due: none

abandon on visit
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
Due: none

dataset duplication debug
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/service/DatasetService.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addStepEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordDataset.scala
Due: none

Changes required after rebase
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
Due: none

lint
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
Due: none

execution order should ignore sequence type
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordDataset.scala
Due: none

Update group properties for tellurics, set ordered to false
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
Due: none

Add an error type for the case where the signal to noise at is requested outside the range of the instrument
  itc/model/src/main/scala/lucuma/itc/errors.scala
  itc/service/src/main/scala/lucuma/itc/IntegrationTimeResult.scala
  itc/service/src/main/scala/lucuma/itc/legacy/FLocalItc.scala
  itc/service/src/main/scala/lucuma/itc/legacy/ItcImpl.scala
  itc/service/src/main/scala/lucuma/itc/legacy/LocalItc.scala
  itc/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  itc/testkit/src/main/scala/lucuma/itc/arb/ArbError.scala
  itc/tests/src/test/scala/lucuma/itc/tests/ErrorsSuite.scala
Due: Label model PRs, Label testkit PRs, Label tests PRs

Add test for WavelengthAtOutOfRange error
  itc/service/src/main/scala/lucuma/itc/legacy/LocalItc.scala
  itc/tests/src/test/scala/lucuma/itc/service/GraphQLSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/WavelengthAtOutOfRangeSuite.scala
  itc/tests/src/test/scala/lucuma/itc/service/customSedSuite.scala
  itc/tests/src/test/scala/lucuma/itc/tests/MockItc.scala
Due: Label tests PRs

Add legacy test for wavelength out of range with igrins 2
  itc/legacy-tests/src/test/scala/lucuma/itc/legacy/LegacyITCIgrins2WavelengthOutOfRangeSuite.scala
Due: none

Update base version
  build.sbt
Due: none

Reuse some constants
  itc/model/src/main/scala/lucuma/itc/errors.scala
  itc/service/src/main/scala/lucuma/itc/IntegrationTimeResult.scala
  itc/service/src/main/scala/lucuma/itc/legacy/LocalItc.scala
Due: Label model PRs

AtomRecord includes visit id in key
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AtomRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AtomRecordSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionEventMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/StepRecordSelectResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/VisitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/AtomRecordView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/StepRecordView.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/VisitAtomView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSequenceEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addStepEvent.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAtomRecords.scala
Due: Label schema PRs

Refector migration
  modules/service/src/main/resources/db/migration/V1100__manual_sequence.sql
  modules/service/src/main/resources/db/migration/V1101__manual_sequence.sql
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
Due: none

Include Wavelength on the itc errors queries and schema
  itc/client/shared/src/main/scala/lucuma/itc/client/queries.scala
  itc/service/src/main/resources/graphql/itc.graphql
  itc/service/src/main/resources/graphql/itc_base.graphql
  itc/tests/src/test/scala/lucuma/itc/tests/ErrorsSuite.scala
Due: Label client PRs, Label tests PRs

Add extra F2 acquisition steps
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Acquisition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqFlamingos2_WithSkySubtraction.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqFlamingos2_WithoutSkySubtraction.scala
Due: Label sequence PRs

GMOS
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGmos.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGmosNorth.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionGmosNorthWithBlindOffset.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionPlannedTime.scala
  modules/service/src/test/scala/lucuma/odb/service/ObscalcServiceSuite.scala
Due: Label sequence PRs

mima
  build.sbt
Due: none

Add igrins 2 long slit mode to the schema
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1101__igrins2_longslit.sql
Due: Label schema PRs

Add igrins 2 Config and ObservingMode
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/igrins2/longslit/Config.scala
Due: Label sequence PRs
