Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmarks PRs, Label binding PRs, Label calibrations PRs, Label client PRs, Label model PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs, Label sso-backend-client PRs, Label sso-backend-example PRs, Label sso-frontend-client PRs, Label sso-service PRs, Label testkit PRs, Label tests PRs

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Label sso-backend-client PRs:
  label:
    add:
    - sso-backend-client
    remove: []

Label sso-backend-example PRs:
  label:
    add:
    - sso-backend-example
    remove: []

Label sso-frontend-client PRs:
  label:
    add:
    - sso-frontend-client
    remove: []

Label sso-service PRs:
  label:
    add:
    - sso-service
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Add select method for f2 imaging
  modules/service/src/main/scala/lucuma/odb/service/Flamingos2ImagingService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservingModeServices.scala
Due: none

Added calibration matcher placeholder
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigMatcher.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: none

Add Flamingos2 imaging observing mode
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/imaging/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/imaging/Filter.scala
Due: Label sequence PRs

scalafix
  modules/sequence/src/main/scala/lucuma/odb/sequence/ObservingMode.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/imaging/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/imaging/Filter.scala
Due: Label sequence PRs

Add ITC support for Flamingos 2 imaging
  modules/schema/src/main/scala/lucuma/odb/data/Itc.scala
  modules/schema/src/main/scala/lucuma/odb/json/itc.scala
  modules/schema/src/test/scala/lucuma/odb/data/arb/ArbItc.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorContext.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2Imaging.scala
Due: Label schema PRs

Exchange CfP
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
Due: Label schema PRs

Add calibration and obscalc docs
  modules/calibrations/calibration-generation-flow.md
  modules/obscalc/obscalc-flow.md
Due: Label calibrations PRs, Label obscalc PRs

require central wavelength for gnirs, rename
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Science.scala
  modules/service/src/main/resources/db/migration/V1176__gnirs_central_wavelength.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GnirsLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GnirsLongSlitView.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/GnirsLongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
Due: Label schema PRs, Label sequence PRs

flush updates on migration before alters
  modules/service/src/main/resources/db/migration/V1176__gnirs_central_wavelength.sql
Due: none

Clarify obscalc daemon flowchart
  modules/obscalc/obscalc-flow.md
Due: Label obscalc PRs

Add F2 imaging into sequence generation and tests
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/imaging/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/imaging/Imaging.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/imaging/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/logic/GeneratorStreaming.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2Imaging.scala
Due: Label sequence PRs

Add Flamingos 2 imaging sequence generator
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/imaging/Imaging.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/imaging/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/imaging/ImagingSequence.scala
Due: Label sequence PRs

Add Flamingos2 imaging ITC GraphQL types
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2Imaging.scala
Due: Label schema PRs

Add F2 imaging setup time calculator reusing long slit estimates
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateCalculatorImplementation.scala
Due: none

Add triggers to invalidate obscalc and send obsEdit when the generators change
  modules/service/src/main/resources/db/migration/V1177__observation_edit_for_offset_generators.sql
Due: none

CfP Refactor
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/ExchangePartnerBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/KeckInstrumentBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/SubaruInstrumentBinding.scala
  modules/binding/src/main/scala/lucuma/odb/graphql/binding/SubaruProposalTypeBinding.scala
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/data/ExchangePartner.scala
  modules/schema/src/main/scala/lucuma/odb/data/KeckInstrument.scala
  modules/schema/src/main/scala/lucuma/odb/data/Observatory.scala
  modules/schema/src/main/scala/lucuma/odb/data/SubaruInstrument.scala
  modules/schema/src/main/scala/lucuma/odb/data/SubaruProposalType.scala
  modules/service/src/main/resources/db/migration/V1176__exchange.sql
  modules/service/src/main/resources/db/migration/V1177__exchange.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/CallForProposalsPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GeminiCallPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/KeckCallPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/SubaruCallPropertiesInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/dedup.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CallForProposalsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/CoordinateLimitsMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/DeclinationMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/RightAscensionMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/CallForProposalsView.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
Due: Label binding PRs, Label schema PRs

WIP
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1176__exchange.sql
  modules/service/src/main/resources/db/migration/V1177__exchange.sql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalTypeMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/CallForProposalsService.scala
  modules/service/src/main/scala/lucuma/odb/syntax/scienceSubtype.scala
Due: Label schema PRs

Add AGS for flamingos2 imaging
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/guideEnvironmentF2.scala
Due: none

Observation workflow should not allow transition Ongoing -> Inactive
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/4596.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/7658.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/7748.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/deleteSequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceFlamingos2Sequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceGnirsSequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/replaceIgrins2Sequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: none

Update ocs itc jars
  itc/service/ocslib/build-info.json
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-itc-shared_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-itc-web_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-itc_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-json_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-pot_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-skyobject_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-shared-util_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-core_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-spmodel-pio_2.11-2026101.1.2.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.1.jar
  itc/service/ocslib/edu-gemini-util-skycalc_2.11-2026101.1.2.jar
Due: none

Drop sending metrics to honeycomb
  otel-collector/otel-collector-config.yaml
Due: none

omit nighttime cals in gnirs telluric sequences
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciGnirsLongSlit.scala
Due: Label sequence PRs

Fix Gnirs auto-acquisition filter logic
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: Label sequence PRs

adjustments to core
  build.sbt
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Config.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsLongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: Label sequence PRs

fix test
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionAcqGnirs.scala
Due: none

fix another test
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation_GnirsLongSlit.scala
Due: none

Add changePrincipalInvestigator mutation
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/ChangePrincipalInvestigatorInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ChangePrincipalInvestigatorResultMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ProgramUserService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/changePrincipalInvestigator.scala
Due: Label schema PRs

Add a predicate for observation mode type
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observations.scala
Due: Label schema PRs

scalafix
  modules/service/src/main/scala/lucuma/odb/service/GhostIfuService.scala
Due: none

Move the ghost ifu mapping to lucuma-core
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/GhostIfuMappingSyntax.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ghost/ifu/IfuMappingContext.scala
  modules/service/src/main/scala/lucuma/odb/service/GhostIfuService.scala
Due: Label sequence PRs

Add fullTimeEstimate to the ExecutionDigest in the graphQL API
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
Due: Label schema PRs

Support exchange time at Gemini
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V1179__exchange.sql
  modules/service/src/main/resources/db/migration/V1180__proposal_exchange_partner.sql
  modules/service/src/main/scala/lucuma/odb/graphql/input/ProposalTypeInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ProposalTypeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProposalView.scala
  modules/service/src/main/scala/lucuma/odb/service/ProposalService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createCallForProposals.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setProposalStatus.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/callForProposals.scala
Due: Label schema PRs

Fix SED-type switching on Gaussian source profiles
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/GaussianInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/SourceProfileInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/SpectralDefinitionInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
Due: none

Revert "Fix SED-type switching on Gaussian source profiles"
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/GaussianInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/SourceProfileInput.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/sourceprofile/SpectralDefinitionInput.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
Due: none

Enable CORS for Resource server
  resource/model/src/main/scala/resource/model/config/ResourceConfiguration.scala
  resource/service/src/main/scala/resource/server/http4s/ResourceMain.scala
  resource/service/src/main/scala/resource/server/http4s/ServerMiddleware.scala
  resource/service/src/test/scala/lucuma/resource/test/ServerFixtures.scala
Due: none

gnirs daytime pinhole calibration
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/LongSlit.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/package.scala
  modules/service/src/main/resources/db/migration/V1179__daytime_pinhole_calibration_role.sql
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
Due: Label schema PRs, Label sequence PRs

migrate to new GnirsFpu enum
  build.sbt
  modules/schema/src/main/scala/lucuma/odb/json/gnirs.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/InitialConfigs.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gnirs/longslit/Acquisition.scala
  modules/service/src/main/resources/db/migration/V1178__gnirs_fpu_other_enum.sql
  modules/service/src/main/scala/db/migration/R__SmartGnirs.scala
  modules/service/src/main/scala/db/migration/SmartGnirsLoader.scala
  modules/service/src/main/scala/lucuma/odb/StartupDiagnostics.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/GnirsDynamicInput.scala
  modules/service/src/main/scala/lucuma/odb/service/SmartGcalService.scala
  modules/service/src/main/scala/lucuma/odb/util/GnirsCodecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/recordVisit.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForGnirs.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/data/Gnirs.scala
  modules/smartgcal/src/main/scala/lucuma/odb/smartgcal/parsers/gnirs.scala
Due: Label schema PRs, Label sequence PRs, Label smartgcal PRs

generate gnirs pinhole cals, rename obs cal groups
  build.sbt
  modules/service/src/main/resources/db/migration/V1180__obs_calibration_group.sql
  modules/service/src/main/resources/db/migration/V1181__rename_obs_calibration_group_data.sql
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigMatcher.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationConfigSubset.scala
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsUtils.scala
  modules/service/src/main/scala/lucuma/odb/service/GroupService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/PerScienceObservationCalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/perScienceObservationCalibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/8614.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/8661.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/8734.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateGroups.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow_tellurics.scala
Due: none

Path conditions:
  Label benchmarks PRs: any of: ^itc/benchmarks/
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label client PRs: any of: ^itc/client/
  Label model PRs: any of: ^itc/model/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^/
  Label smartgcal PRs: any of: ^modules/smartgcal/
  Label sso-backend-client PRs: any of: ^modules/sso-backend-client/
  Label sso-backend-example PRs: any of: ^modules/sso-backend-example/
  Label sso-frontend-client PRs: any of: ^modules/sso-frontend-client/
  Label sso-service PRs: any of: ^modules/sso-service/
  Label testkit PRs: any of: ^itc/testkit/
  Label tests PRs: any of: ^itc/tests/
