Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label binding PRs, Label calibrations PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

generalize tests
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
Due: Label service PRs

clone
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/cloneTarget.scala
Due: Label service PRs

update
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateTargets.scala
Due: Label service PRs

scalafix
  modules/service/src/main/scala/lucuma/odb/service/TargetService.scala
Due: Label service PRs

attempt fix
  modules/obscalc/src/main/scala/lucuma/odb/obscalc/Main.scala
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
Due: Label obscalc PRs, Label service PRs

well i guess tests should at least compile
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label service PRs

Include spatial offsets on F2 config
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Config.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/HashBytes.scala
  modules/service/src/main/scala/lucuma/odb/graphql/input/Flamingos2LongSlitInput.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: Label sequence PRs, Label service PRs

Added methods to get spatialOffsets, either explicit or default
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Config.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: Label sequence PRs, Label service PRs

Don't pass the default offsets as a constant
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Config.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
Due: Label sequence PRs, Label service PRs

Update to the new itc lib with multiple modes support
  build.sbt
  modules/sequence/src/test/scala/lucuma/odb/sequence/TestItcClient.scala
  modules/sequence/src/test/scala/lucuma/odb/sequence/data/arb/ArbGeneratorParams.scala
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/issue/shortcut/5912.scala
Due: Label sequence PRs, Label service PRs

Improve assertions for acquisition and spectroscopy
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
Due: Label service PRs

Fix encoding of f2 default spatial offsets
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/Flamingos2LongSlitMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/createObservation.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/updateObservations.scala
Due: Label service PRs

add FetchLimit trait
  build.sbt
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/util/FetchLimit.scala
Due: Label service PRs

use raw row data
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/util/FetchLimit.scala
Due: Label service PRs

comments
  modules/service/src/main/scala/lucuma/odb/graphql/util/FetchLimit.scala
Due: Label service PRs

real offsets
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceState.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
Due: Label sequence PRs

examples
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2_20x5min.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2_4x5min.scala
Due: Label sequence PRs, Label service PRs

science sequence updates
  modules/sequence/src/main/scala/lucuma/odb/sequence/TimeEstimateCalculator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/ProtoStep.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/data/StepRecord.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/AtomBuilder.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2.scala
Due: Label sequence PRs, Label service PRs

validate offsets
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
Due: Label sequence PRs

record visits and sequence events
  modules/sequence/src/main/scala/lucuma/odb/data/OneOf3.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/SequenceGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Acquisition.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/util/stream.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionEventService.scala
Due: Label sequence PRs, Label service PRs

test
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2.scala
Due: Label sequence PRs, Label service PRs

tests
  modules/sequence/src/main/scala/lucuma/odb/data/OneOf3.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2_20x5min.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2_4x23min.scala
Due: Label sequence PRs, Label service PRs

20 x 5 min
  modules/sequence/src/main/scala/lucuma/odb/sequence/flamingos2/longslit/Science.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/ExecutionTestSupportForFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionSciFlamingos2_20Steps5MinExposures.scala
Due: Label sequence PRs, Label service PRs

simplify id select
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
Due: Label service PRs

emailservice
  modules/service/src/main/scala/lucuma/odb/service/EmailService.scala
  modules/service/src/main/scala/lucuma/odb/service/UserInvitationService.scala
Due: Label service PRs

emailwebhookservice
  modules/service/src/main/scala/lucuma/odb/graphql/EmailWebhookRoutes.scala
  modules/service/src/main/scala/lucuma/odb/service/EmailWebhookService.scala
Due: Label service PRs

allocationservcie
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/service/AllocationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
Due: Label service PRs

visitservice
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
Due: Label service PRs

Path conditions:
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
