Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label calibrations PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

simple test
  modules/service/src/main/scala/lucuma/odb/graphql/OdbMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observingModeGroup.scala
Due: Label service PRs

switch to trigger maintained t_observation.c_mode_key
  modules/service/src/main/resources/db/migration/V0930__grouping_modes.sql
Due: Label service PRs

binning test
  modules/service/src/test/scala/lucuma/odb/graphql/query/observingModeGroup.scala
Due: Label service PRs

don't require same itc target for acq and science
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
Due: Label service PRs

document
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/resources/db/migration/V0928__source_profile_summary.sql
  modules/service/src/main/resources/db/migration/V0929__gmos_binning.sql
  modules/service/src/main/resources/db/migration/V0930__grouping_modes.sql
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/QueryMapping.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observingModeGroup.scala
Due: Label schema PRs, Label service PRs

Add program id to mode key
  modules/service/src/main/resources/db/migration/V0930__grouping_modes.sql
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observingModeGroup.scala
Due: Label service PRs

bugfix
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
Due: Label service PRs

uff
  modules/service/src/main/scala/lucuma/odb/service/GmosLongSlitService.scala
Due: Label service PRs

Use a different param for the amount of connections used by the calibration service
  modules/calibrations/src/main/scala/lucuma/odb/calibrations/Main.scala
  modules/service/src/main/scala/lucuma/odb/Config.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label calibrations PRs, Label service PRs

Don't charge for twilight
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/scala/lucuma/odb/logic/TimeEstimateService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
Due: Label sequence PRs, Label service PRs

improve test
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionTwilight.scala
Due: Label service PRs

Don't calculate calibrations for inactive observations
  modules/service/src/main/scala/lucuma/odb/service/CalibrationsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/DatabaseOperations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/feature/calibrations.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
Due: Label service PRs

add execution state to digest
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/gmos/longslit/Science.scala
  modules/service/src/main/resources/db/migration/V0931__execution_digest_update.sql
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
Due: Label schema PRs, Label sequence PRs, Label service PRs

Move the old state computation to use the digest version
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ExecutionMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionState.scala
Due: Label schema PRs, Label service PRs

Switch to core 0.108.0
  build.sbt
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/schema/src/main/scala/lucuma/odb/json/sequence.scala
  modules/sequence/src/main/scala/lucuma/odb/sequence/ExecutionConfigGenerator.scala
  modules/service/src/main/scala/lucuma/odb/graphql/BaseMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/LeafMappings.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionState.scala
Due: Label schema PRs, Label sequence PRs, Label service PRs

improve
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
Due: Label service PRs

batch query for obs/configreq
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
Due: Label service PRs

optimized workflow computation
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservationMapping.scala
  modules/service/src/main/scala/lucuma/odb/service/AsterismService.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
  modules/service/src/main/scala/lucuma/odb/util/Codecs.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: Label service PRs

remove commented lines
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
Due: Label service PRs

migrate to new itc
  build.sbt
  modules/service/src/main/scala/lucuma/odb/service/GeneratorParamsService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/OdbSuite.scala
Due: Label service PRs

Path conditions:
  Label calibrations PRs: any of: ^modules/calibrations/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
