Repository gemini-hlsw/lucuma-odb: changes, and which Mergify rules are due for each by the changed paths.
All: Label binding PRs, Label calibrations PRs, Label obscalc PRs, Label phase0 PRs, Label schema PRs, Label sequence PRs, Label service PRs, Label smartgcal PRs

Label binding PRs:
  label:
    add:
    - binding
    remove: []

Label calibrations PRs:
  label:
    add:
    - calibrations
    remove: []

Label obscalc PRs:
  label:
    add:
    - obscalc
    remove: []

Label phase0 PRs:
  label:
    add:
    - phase0
    remove: []

Label schema PRs:
  label:
    add:
    - schema
    remove: []

Label sequence PRs:
  label:
    add:
    - sequence
    remove: []

Label service PRs:
  label:
    add:
    - service
    remove: []

Label smartgcal PRs:
  label:
    add:
    - smartgcal
    remove: []

Rename migration
  modules/service/src/main/resources/db/migration/V1029__gmos_longslit_add_offsets.sql
Due: Label service PRs

Drop gmos long slit views
  modules/service/src/main/resources/db/migration/V1029__gmos_longslit_add_offsets.sql
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosLongSlitView.scala
Due: Label service PRs

Rename GmosLongSlitView to GmosLongSlitTable
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationGmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ConfigurationObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/GmosLongSlitMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/ObservingModeMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/WavelengthMapping.scala
  modules/service/src/main/scala/lucuma/odb/graphql/table/GmosLongSlitTable.scala
Due: Label service PRs

Catch execution digest foreign key violation
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/executionDigest.scala
Due: Label service PRs

Add ids to log messages
  modules/service/src/main/scala/lucuma/odb/service/ExecutionDigestService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
Due: Label service PRs

test
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configuration.scala
Due: Label service PRs

cleanup
  build.sbt
  modules/sso-frontend-client/src/main/scala/lucuma/sso/client/codec/user/GidCodec.scala
  modules/sso-frontend-client/src/main/scala/lucuma/sso/client/codec/user/OrcidProfileCodec.scala
  modules/sso-frontend-client/src/main/scala/lucuma/sso/client/codec/user/RoleCodec.scala
  modules/sso-frontend-client/src/main/scala/lucuma/sso/client/codec/user/UserCodec.scala
  modules/sso-frontend-client/src/main/scala/lucuma/sso/client/codec/user/UserProfileCodec.scala
  modules/sso-frontend-client/src/test/scala/ArbStandardRole.scala
  modules/sso-frontend-client/src/test/scala/ArbUser.scala
  modules/sso-frontend-client/src/test/scala/CodecSuite.scala
Due: none

merge actions
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Make docker-compose start both databases
  build.sbt
  docker-compose.yml
  docker-init/01-init-databases.sh
  docker-init/02-migrate-sso.sh
  docker-init/03-migrate-odb.sh
  sso-docker-compose.yml
Due: none

cleanup
  README.md
  SSO-Procfile
  SSO-README.md
  docker-init/01-init-databases.sh
  docker-init/02-migrate-sso.sh
  docker-init/03-migrate-odb.sh
Due: none

add call to WhereProposal
  modules/schema/src/main/resources/lucuma/odb/graphql/OdbSchema.graphql
  modules/service/src/main/scala/lucuma/odb/graphql/input/WhereProposal.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programs.scala
Due: Label schema PRs, Label service PRs

Warnings left over from scala update?
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/AccessControl.scala
  modules/service/src/main/scala/lucuma/odb/graphql/mapping/MutationMapping.scala
  modules/service/src/main/scala/lucuma/odb/logic/Generator.scala
  modules/service/src/main/scala/lucuma/odb/service/AttachmentFileService.scala
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
  modules/service/src/main/scala/lucuma/odb/service/ItcService.scala
  modules/service/src/main/scala/lucuma/odb/service/ObservationWorkflowService.scala
  modules/service/src/main/scala/lucuma/odb/service/Services.scala
Due: Label service PRs

tests
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/service/src/main/resources/db/migration/V9998__configuration_request_region.sql
  modules/service/src/main/resources/db/migration/V9999__config_req_modes.sql
  modules/service/src/main/scala/lucuma/odb/graphql/table/ConfigurationRequestView.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: Label schema PRs, Label service PRs

Handle null instrument
  modules/service/src/main/scala/lucuma/odb/service/VisitService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/addSlewEvent.scala
Due: Label service PRs

wip
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: Label service PRs

finish merge
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_workflow.scala
Due: Label service PRs

cleanup
  docker-compose.yml
Due: none

renames
  build.sbt
  modules/service/src/main/resources/db/migration/V9998__configuration_request_region.sql
  modules/service/src/main/resources/db/migration/V9999__config_req_modes.sql
  modules/service/src/main/scala/lucuma/odb/service/GuideService.scala
Due: Label service PRs

scalafix
  modules/schema/src/main/scala/lucuma/odb/json/configurationrequest.scala
  modules/service/src/main/scala/lucuma/odb/service/ConfigurationService.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/observation_configurationRequests.scala
Due: Label schema PRs, Label service PRs

oops
  modules/service/src/main/resources/db/migration/V1030__configuration_request_region.sql
  modules/service/src/main/resources/db/migration/V1031__config_req_modes.sql
Due: Label service PRs

fix test
  modules/service/src/test/scala/lucuma/odb/graphql/mutation/setObservationWorkflowState.scala
Due: Label service PRs

Fix column type
  modules/service/src/main/scala/lucuma/odb/graphql/table/ProgramUserView.scala
  modules/service/src/test/scala/lucuma/odb/graphql/query/programUsers.scala
Due: Label service PRs

Path conditions:
  Label binding PRs: any of: ^modules/binding/
  Label calibrations PRs: any of: ^modules/calibrations/
  Label obscalc PRs: any of: ^modules/obscalc/
  Label phase0 PRs: any of: ^modules/phase0/
  Label schema PRs: any of: ^modules/schema/
  Label sequence PRs: any of: ^modules/sequence/
  Label service PRs: any of: ^modules/service/
  Label smartgcal PRs: any of: ^modules/smartgcal/
